.ConnectionsMap {
	position: relative;
}

.ConnectionsMap .routeContent {
	margin: auto;
	padding: 0 100px 50px 100px;
	position: relative;
	z-index: 20;
}

.ConnectionsMap .buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ConnectionsMap .map {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'sources main destinations';
	gap: 80px;
	align-items: start;
	margin-top: 120px;
}

.ConnectionsMap .map .sources {
	grid-area: sources;
}

.ConnectionsMap .map .main {
	grid-area: main;
}

.ConnectionsMap .map .main .centralLogo {
    width: 180px;
    height: 180px;
    margin: auto;
    background-color: var(--color-primary-600);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-onaccent);
    font-size: 40px;
    box-shadow: 0 0 #4f46e5;
    animation: pulse 2s infinite;
    border: 20px solid var(--color-primary-400);
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(79, 70, 229, 0.7);
	}

	70% {
		box-shadow: 0 0 0 20px rgba(79, 70, 229, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(79, 70, 229, 0);
	}
}

.ConnectionsMap .map .main .databases {
	margin-top: 100px;
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 100px;
}

.ConnectionsMap .map .main .databases .database {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: transparent;
	padding-top: 5px;
	position: relative;
}

.ConnectionsMap .map .main .databases .database sl-icon {
	font-size: 60px;
	margin-bottom: 15px;
	color: var(--sl-color-gray-600);
}

.ConnectionsMap .map .main .databases .database .name {
	font-size: 18px;
}

.ConnectionsMap .map .main .databases .database a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.ConnectionsMap .map .destinations {
	grid-area: destinations;
}

.ConnectionsMap .map .ConnectionBlock {
	margin-bottom: 30px;
}
