* {
    font-family: monospace;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background-color: #525252;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 80%;
}

h1 {
    color: white;
    font-size: 35px;
}

a {
    background-color: #0d9488;
    padding: 12px 25px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    box-shadow: 1px 1px 2px #3e3e3e;
    font-size: 16px;
}

