.ConnectorAlternativeFieldSets {
    margin-top: 50px;
}

.ConnectorAlternativeFieldSets .label {
    font-weight: 600;
    margin-bottom: 10px;
}

.ConnectorAlternativeFieldSets sl-select {
    position: relative;
    z-index: 10;
} 

.ConnectorAlternativeFieldSets .selectedFields {
    background-color: var(--bg-gray);
    padding: 25px 35px 32px 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 10px 7px;
    border-radius: 5px;
}

.ConnectorAlternativeFieldSets .selectedFields > * {
    margin-bottom: 20px;
}

.ConnectorAlternativeFieldSets .selectedFields > *:last-child {
    margin-bottom: 0;
}

.ConnectorAlternativeFieldSets .helpText {
    font-size: 15px;
    opacity: .5;
    text-align: center;
}
