.UsersList .Toolbar .toggleColumns sl-menu sl-menu-item sl-switch::part(base) {
	font-size: 14px;
	gap: 5px;
}

.UsersList .gridContainer .grid {
    margin: auto;
	position: relative;
}

.UsersList .gridContainer .ag-row,
.UsersList .gridContainer .ag-header {
	border: 0!important;
}

.UsersList .gridContainer .grid .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
	border: 1px solid var(--sl-color-neutral-200)!important;
	border-radius: var(--radius);
}

.UsersList .gridContainer .footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
	position: relative;
	align-items: center;
}

.UsersList .gridContainer .footer .total {
	display: flex;
	align-items: center;
	gap: 32px;
}

.UsersList .gridContainer .footer .total .found {
	position: relative;
}

.UsersList .gridContainer .footer .total .found::after {
    content: "";
    width: 2px;
    height: 15px;
    position: absolute;
    background-color: var(--border-primary);
    top: 50%;
    transform: translate(15px, -50%);
}

.UsersList .gridContainer .footer .total .gridLimit {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 14px;
}

.UsersList .gridContainer .footer .total .gridLimit sl-select::part(control) {
    padding: 10px 0;
    min-width: 150px;
}

.UsersList .gridContainer .footer .pagination {
	display: flex;
	align-items: center;
	gap: 10px;
	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
	background-color: var(--bg-gray);
	padding: 10px 25px;
	border-radius: 10px;
}

.UsersList .gridContainer .footer .pagination .pages {
	display: flex;
}

.UsersList .gridContainer .footer .pagination .pages span {
	margin: 0 5px;
}

.UsersList .gridContainer .footer .pagination .pages .last {
	color: var(--color-primary-600);
	cursor: pointer;
}

.UsersList .gridContainer .footer .pagination .previousPage,
.UsersList .gridContainer .footer .pagination .nextPage,
.UsersList .gridContainer .footer .pagination .firstPage,
.UsersList .gridContainer .footer .pagination .lastPage {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
