.reset-password-token {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reset-password-token__container {
	width: 500px;
	transform: translateY(-80px);
}

.reset-password-token__heading {
	text-align: center;
}

.reset-password-token__heading h1 {
	font-weight: 600;
	margin-top: 0;
}

.reset-password-token__form {
	display: flex;
	flex-flow: column;
}

.reset-password-token__password-2 {
	margin-top: 15px;
}

.reset-password__password-error {
	margin-top: 15px;
	color: var(--sl-color-danger-600);
}

.reset-password__password-error > sl-icon {
	position: relative;
	top: 2px;
	margin-right: 5px;
}

.reset-password__password-error-text {
	font-size: 15px;
	font-weight: 600;
}

.reset-password-token__button {
	margin-top: 25px;
}
