.section__title {
	font-size: 16px;
}

.section__description {
	font-size: 13px;
	margin-top: 6px;
	color: #6c6c6c;
	line-height: 1.57;
}

.section__content {
	margin-top: 15px;
	width: 100%;
}

.section--padded .section__content {
	background-color: var(--bg-primary);
	padding: 36px;
	box-shadow: var(--sl-shadow-small);
	border-radius: 10px;
}

.section--annotated {
	display: flex;
	flex-flow: row;
	column-gap: 50px;
	align-items: start;
}

.section--annotated .section__heading {
	width: 20%;
}

.section--annotated .section__content {
	margin-top: 0;
	width: 80%;
}

@media (max-width: 1200px) {
	.section--annotated {
		flex-flow: row wrap;
	}

	.section--annotated .section__heading {
		width: 100% !important;
	}

	.section--annotated .section__content {
		margin-top: 15px !important;
		width: 100% !important;
	}
}
