.section__title {
	font-size: 17px;
	font-weight: 600;
}

.section__description {
	font-size: 14px;
}

.section__content {
	margin-top: 22px;
	padding: 0 0 30px 0;
}

.section__content--padded {
	background-color: var(--bg-primary);
	padding: 36px;
	box-shadow: var(--sl-shadow-small);
	border-radius: 10px;
}
