.connections-map {
	position: relative;
}

.connections-map__content {
	position: relative;
	left: calc(var(--sidebar-width) / -2);
	max-width: 1600px;
	margin: 0 auto;
}

.connections-map__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.connections-map__map {
	display: grid;
	grid-template-columns: 450px 1fr 450px;
	grid-template-areas: 'sources main destinations';
	gap: 80px;
	align-items: start;
	margin-top: 30px;
	animation: fade-in-entrance 1s;
}

@media (max-width: 2150px) {
	.connections-map__content {
		position: static;
		left: 0;
		margin-left: 0;
	}
}

@media (max-width: 1580px) {
	.connections-map__map {
		grid-template-columns: 400px 1fr 400px;
	}
}

@media (max-width: 1480px) {
	.connections-map__map {
		grid-template-columns: 350px 1fr 350px;
	}
}

@media (max-width: 1380px) {
	.connections-map__map {
		grid-template-columns: 300px 1fr 300px;
	}
}

@media (max-width: 1280px) {
	.connections-map__map {
		grid-template-columns: 250px 1fr 250px;
	}
}

@media (max-width: 1180px) {
	.connections-map__map {
		grid-template-columns: 200px 1fr 200px;
	}
}

@media (max-width: 1080px) {
	.connections-map__map {
		grid-template-columns: 170px 1fr 170px;
		gap: 30px;
	}
}

.connections-map__sources {
	grid-area: sources;
}

.connections-map__main {
	grid-area: main;
}

.connections-map__central-logo {
	width: 130px;
	height: 130px;
	margin: auto;
	background-color: var(--color-primary-600);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-onaccent);
	font-size: 20px;
	box-shadow: 0 0 var(--color-primary-500);
	animation: pulse 2s infinite;
	border: 12px solid var(--color-primary-400);
	font-weight: 600;
	font-family: var(--system-fonts);
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(79, 70, 229, 0.7);
	}

	70% {
		box-shadow: 0 0 0 20px rgba(79, 70, 229, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(79, 70, 229, 0);
	}
}

.connections-map__central-logo > img {
	max-width: 80px;
	height: auto;
	position: relative;
	top: 1px;
}

.connections-map__databases {
	margin-top: 100px;
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 100px;
}

.connections-map__database {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background-color: transparent;
	padding-top: 5px;
	position: relative;
	width: 90px;
}

.connections-map__database > sl-tooltip::part(body) {
	max-width: 200px;
}

.connections-map__database--users {
	cursor: pointer;
}

.connections-map__database sl-icon {
	font-size: 40px;
	margin-bottom: 15px;
	color: var(--sl-color-neutral-400);
}

.connections-map__database-name {
	color: var(--sl-color-neutral-600);
}

.connections-map__destinations {
	grid-area: destinations;
}

.connections-map__sources,
.connections-map__destinations {
	background-color: var(--bg-primary);
	border: 1px solid var(--border-primary);
	border-radius: var(--radius);
	overflow: hidden;
}

.connections-map__sources--no-connection,
.connections-map__destinations--no-connection {
	border: 0 !important;
}

.connection-block {
	padding: 20px;
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;
	min-height: 60px;
	position: relative;
	z-index: 1;
	font-size: 14px;
	cursor: pointer;
	will-change: transform;
	border-bottom: 1px solid var(--sl-color-neutral-200);
}

.connections-map__sources > a:nth-last-child(2) .connection-block,
.connections-map__destinations > a:nth-last-child(2) .connection-block {
	border-bottom: 0;
}

.connection-block[data-is-hovered='true'] {
	background-color: var(--sl-color-primary-50);
}

@keyframes connection-block-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.connection-block__content {
	width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: calc(100% - 15px) 15px;
}

.connection-block--new {
	animation: connection-block-fade-in 1000ms;
	animation-fill-mode: both;
}

.connection-block__name {
	transform: translateY(1px);
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}

.connection-block .status-dot {
	display: flex;
	justify-content: end;
}

.connection-block .status-dot {
	display: none;
}

.connection-block .status-dot__hover-area {
	width: 15px;
	height: 15px;
}

.linked-connection-block--has-secondary-connections {
	display: grid;
	grid-template-columns: 45% 10% 45%;
	align-items: center;
}

.linked-connection-block--has-secondary-connections.linked-connection-block--left {
	grid-template-areas: 'primary arrow secondary';
}

.linked-connection-block--has-secondary-connections.linked-connection-block--right {
	grid-template-areas: 'secondary arrow primary';
}

.linked-connection-block--has-secondary-connections .linked-connection-block__primary-connections {
	grid-area: primary;
}

.linked-connection-block--has-secondary-connections .linked-connection-block__secondary-connections {
	grid-area: secondary;
}
