.connectionsMap {
	position: relative;
}

.connectionsMap .buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.connectionsMap .map {
	display: grid;
	grid-template-columns: 450px 1fr 450px;
	grid-template-areas: 'sources main destinations';
	gap: 80px;
	align-items: start;
	margin-top: 30px;
}

@media (max-width: 1580px) {
	.connectionsMap .map {
		grid-template-columns: 400px 1fr 400px;
	}
}

@media (max-width: 1480px) {
	.connectionsMap .map {
		grid-template-columns: 350px 1fr 350px;
	}
}

@media (max-width: 1380px) {
	.connectionsMap .map {
		grid-template-columns: 300px 1fr 300px;
	}
}

@media (max-width: 1280px) {
	.connectionsMap .map {
		grid-template-columns: 250px 1fr 250px;
	}
}

@media (max-width: 1180px) {
	.connectionsMap .map {
		grid-template-columns: 200px 1fr 200px;
	}
}

.connectionsMap .map .sources {
	grid-area: sources;
}

.connectionsMap .map .main {
	grid-area: main;
}

.connectionsMap .map .main .centralLogo {
	width: 130px;
	height: 130px;
	margin: auto;
	background-color: var(--color-primary-600);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-onaccent);
	font-size: 21px;
	box-shadow: 0 0 #4f46e5;
	animation: pulse 2s infinite;
	border: 12px solid var(--color-primary-400);
	font-weight: 600;
	font-family: monospace;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(79, 70, 229, 0.7);
	}

	70% {
		box-shadow: 0 0 0 20px rgba(79, 70, 229, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(79, 70, 229, 0);
	}
}

.connectionsMap .map .main .databases {
	margin-top: 100px;
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 100px;
}

.connectionsMap .map .main .databases .database {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background-color: transparent;
	padding-top: 5px;
	position: relative;
}

.connectionsMap .map .main .databases .database.users {
	cursor: pointer;
}

.connectionsMap .map .main .databases .database sl-icon {
	font-size: 40px;
	margin-bottom: 15px;
	color: var(--sl-color-neutral-400);
}

.connectionsMap .map .main .databases .database .name {
	color: var(--sl-color-neutral-600);
}

.connectionsMap .map .destinations {
	grid-area: destinations;
}

.connectionsMap .map .connectionBlock {
	margin-bottom: 30px;
}

.connectionsMap .connectionBlock {
	background-color: var(--bg-primary);
	padding: 20px;
	border-radius: var(--radius);
	box-shadow: var(--sl-shadow-small);
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;
	min-height: 60px;
	position: relative;
	z-index: 1;
	font-size: 14px;
	border: 1px solid var(--sl-color-neutral-200);
	cursor: pointer;
	will-change: transform;
}

.connectionsMap .connectionBlock[data-is-hovered='true'] {
	border: 1px dashed var(--sl-color-primary-600);
	background-color: var(--sl-color-primary-50);
}

@keyframes connection-block-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.connectionsMap .connectionBlockContent {
	width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: calc(100% - 15px) 15px;
}

.connectionsMap .connectionBlock.new {
	animation: connection-block-fade-in 1000ms;
	animation-fill-mode: both;
}

.connectionsMap .connectionBlock .name {
	transform: translateY(1px);
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}

.connectionsMap .connectionBlock .statusDot {
	display: flex;
	justify-content: end;
}

.connectionsMap .connectionBlock .statusDot .hoverArea {
	width: 15px;
	height: 15px;
}

.connectionsMap .linkedConnectionBlocks.hasSecondaryConnections {
	display: grid;
	grid-template-columns: 45% 10% 45%;
	align-items: center;
}

.connectionsMap .linkedConnectionBlocks.hasSecondaryConnections.left {
	grid-template-areas: 'primary arrow secondary';
}

.connectionsMap .linkedConnectionBlocks.hasSecondaryConnections.right {
	grid-template-areas: 'secondary arrow primary';
}

.connectionsMap .linkedConnectionBlocks.hasSecondaryConnections .primaryConnection {
	grid-area: primary;
}

.connectionsMap .linkedConnectionBlocks.hasSecondaryConnections .secondaryConnections {
	grid-area: secondary;
}
