.connections-list__no-connection {
	margin-top: 30px;
	text-align: center;
}

.connections-list__no-connection-text {
	max-width: 500px;
	margin: auto;
	margin-bottom: 15px;
}

.connections-list__add-new-connection {
	margin-bottom: 10px;
}

.connections-list__name-cell {
	display: flex;
	gap: 10px;
	align-items: center;
}

.connections-list__name-cell .little-logo {
	margin-right: 5px;
}
.connections-list__name-cell svg {
	height: 21px;
}

.connections-list__status-cell {
	display: flex;
	gap: 8px;
	align-items: center;
	background: #cdfee1;
	border-radius: 10px;
}

.connections-list__status-cell > :first-child {
	padding: 2px 0 2px 10px;
}

.connections-list__status-cell > :last-child {
	color: #174a31;
	padding: 2px 10px 2px 0;
}

.connections-list__event-connections-cell {
	display: flex;
	gap: 10px;
	align-items: center;
}

.connections-list__event-connections-cell .little-logo svg {
	height: 21px;
}

.connections-list .grid__header-cell:first-child .grid__cell-content {
	margin-left: 36px;
}

.connections-list .status-dot__hover-area {
	width: unset;
	height: unset;
}

.grid-learn-more {
	color: #333;
	margin: 20px auto;
	text-align: center;
	font-size: 14px;
}

.grid-learn-more a {
	color: var(--color-primary-500);
	text-decoration: underline;
}
