.connections-list__no-connection {
	margin-top: 30px;
	text-align: center;
}

.connections-list__no-connection-text {
	max-width: 500px;
	margin: auto;
	margin-bottom: 15px;
}

.connections-list__add-new-connection {
	margin-bottom: 10px;
}

.connections-list__name-cell {
	display: flex;
	gap: 10px;
	align-items: center;
}

.connections-list__name-cell svg {
	height: 21px;
}

.connections-list__status-cell {
	display: flex;
	gap: 10px;
	align-items: center;
}

.connections-list__event-connections-cell {
	display: flex;
	gap: 10px;
	align-items: center;
}

.connections-list__event-connections-cell .little-logo svg {
	height: 21px;
}

.connections-list .status-dot__hover-area {
	width: unset;
	height: unset;
}
