@keyframes arrow-fade-in {
	0% { opacity: 0; }
    100% { opacity: 1; }
}

.Arrow.new {
    animation: fade-in 2000ms;
    animation-fill-mode: both;
}

.Arrow > div {
    width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
}
