.workspace-list__title-and-button {
	display: flex;
	justify-content: space-between;
}

.workspace-list__title {
	font-size: 23px;
	font-weight: 600;
}

.workspace-list__no-workspace-action {
	margin-top: 5px;
	width: 100%;
}

.workspace-list__workspace:first-child {
	margin-top: 15px;
}

.workspace-list__workspace {
	margin-bottom: 15px;
}

.workspace-list__create-button {
	display: block;
	margin-left: auto;
}
