.workspace-create__heading {
	margin-bottom: 20px;
}

.workspace-create__title {
	font-size: 23px;
	font-weight: 600;
}

.workspace-create__name {
	margin-bottom: 30px;
}

.workspace-create__warehouse-list::part(combobox) {
	min-height: 3rem;
	font-size: 17px;
}

.workspace-create__warehouse-list::part(prefix) {
	min-width: 25px;
	min-height: 25px;
}

.workspace-create__warehouse-list::part(display-input) {
	padding-left: 7px;
}

.workspace-create__warehouse-list sl-option::part(label) {
	display: flex;
	gap: 7px;
	align-items: center;
}

.workspace-create__warehouse-list > img {
	width: 23px;
	height: 23px;
}

.workspace-create__warehouse-settings {
	margin-top: 30px;
}

.workspace-create__warehouse-settings > sl-input {
	margin-bottom: 30px;
}

.workspace-create__warehouse-settings > sl-input:last-child {
	margin-bottom: 0;
}

.workspace-create__docker-description {
	margin-top: 3px;
	font-size: 14px;
	color: var(--sl-color-neutral-500);
}

.workspace-create__buttons {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 40px;
}

.workspace-create__create-button {
	min-width: 200px;
}

.workspace-create__data-warehouse {
	font-size: 20px;
	font-weight: 500;
}

.workspace-create__data-warehouse-description {
	padding-top: 10px;
	padding-bottom: 18px;
}
