.schema-grid__toolbar {
	display: flex;
	justify-content: space-between;
	border: 1px solid var(--border-primary);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: none;
}

.schema-grid__expansion-buttons {
	display: flex;
	gap: 15px;
}

.schema-grid__expansion-buttons sl-icon {
	font-size: 16px;
}

.schema-grid__alter-button::part(base) {
	min-width: 150px;
}

.schema-grid__alter-error {
	font-size: 14px;
	text-align: center;
	color: var(--sl-color-danger-500);
	font-weight: 500;
	margin-bottom: 15px;
}

.schema-grid__alter-error sl-icon {
	margin-right: 5px;
	position: relative;
	top: 3px;
}

.schema-grid__primary-source {
	display: flex;
	align-items: center;
	gap: 5px;
}

.schema-grid__primary-source .little-logo svg {
	height: 20px;
}

.schema-grid > .grid {
	border: 1px solid var(--border-primary);
	box-shadow: none;
}

.schema-grid > .grid .grid__no-rows,
.schema-grid > .grid .grid__loading {
	background-color: var(--bg-gray);
}

.schema-grid > .grid .grid__header-row {
	position: sticky;
	top: 0;
	border-bottom: 1px solid var(--sl-color-neutral-200);
}
