.schema-grid__toolbar {
	display: flex;
	justify-content: space-between;
}

.schema-grid__expansion-buttons {
	display: flex;
	gap: 15px;
}

.schema-grid__expansion-buttons sl-icon {
	font-size: 16px;
}

.schema-grid__edit-button::part(base) {
	min-width: 150px;
}

.schema-grid__primary-source {
	display: flex;
	align-items: center;
	gap: 5px;
}

.schema-grid__primary-source .little-logo svg {
	height: 20px;
}

.schema-grid > .grid {
	border-radius: 0;
	border: 0;
	box-shadow: none;
}

.schema-grid > .grid .grid__no-rows,
.schema-grid > .grid .grid__loading {
	background-color: var(--bg-gray);
}

.schema-grid > .grid .grid__header-row {
	position: sticky;
	top: 0;
	border-bottom: 1px solid var(--sl-color-neutral-200);
}
