.icon-wrapper {
	--outer-padding: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--outer-padding);
}

.icon-wrapper--moat {
	background-color: var(--bg-gray);
	border-radius: calc(var(--radius) + var(--outer-padding));
	box-shadow: inset var(--sl-shadow-small);
}

.icon-wrapper__inner-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(var(--icon-size) + 15px);
	height: calc(var(--icon-size) + 15px);
	background-color: var(--bg-primary);
	border-radius: var(--radius);
	box-shadow: var(--sl-shadow-small);
}

.icon-wrapper sl-icon {
	font-size: var(--icon-size);
}
