.combobox-list {
	visibility: hidden;
	opacity: 0;
	transform: scale(0.75);
	height: 0;
	width: 0;
	position: absolute;
	left: 0;
	top: 100%;
	max-height: 300px;
	transition: opacity 0.5s transform 0.5s;
	z-index: 10;
	box-shadow: var(--sl-shadow-medium);
}

.combobox-list[data-isOpen='true'] {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	width: 100%;
	height: auto;
}

.combobox-input {
	position: relative;
}

.combobox-input__error {
	position: absolute;
	font-size: 11px;
	color: var(--sl-color-danger-500);
	margin-top: 2px;
}

.combobox-input__error-icon {
	color: var(--sl-color-danger-500);
	font-size: 12px;
}

.combobox-input sl-input .combobox-input__caret-icon {
	will-change: transform;
	transition: transform 0.2s;
	pointer-events: none;
}

.combobox-input sl-menu ~ sl-input .combobox-input__caret-icon {
	transform: rotate(-180deg);
}
