# This file contains the definition of environment variables that will be read
# by Meergo for configuration.
# 
# If this file is placed in the same directory where Meergo is started and it is
# named '.env', it will be sourced by Meergo at startup; alternatively, you can
# simply set the environment variables and pass them to the Meergo process.

# Delay before terminating the server or process.
MEERGO_TERMINATION_DELAY="1s"

# The URL that serves the JavaScript SDK.
MEERGO_JAVASCRIPT_SDK_URL=""

# Sets the telemetry level in Meergo. You can set this to "none" to disable
# telemetry. Default is "all". See the environment variables documentation for
# more details.
MEERGO_TELEMETRY_LEVEL=""

# HTTP.
MEERGO_HTTP_HOST="127.0.0.1"
MEERGO_HTTP_PORT="9090"
MEERGO_HTTP_TLS_ENABLED="true"  # Whether TLS (HTTPS) is enabled.
MEERGO_HTTP_TLS_CERT_FILE="cert.pem"  # Path to the TLS certificate.
MEERGO_HTTP_TLS_KEY_FILE="key.pem"  # Path to the TLS private key.
MEERGO_HTTP_EXTERNAL_URL=""  # External URL exposed to the outside world.
MEERGO_HTTP_EVENT_URL="https://localhost:9090/"  # External URL exposed to the outside world.

# PostgreSQL database configuration.
MEERGO_DB_HOST="127.0.0.1"
MEERGO_DB_PORT="5432"
MEERGO_DB_USERNAME=""
MEERGO_DB_PASSWORD=""
MEERGO_DB_DATABASE=""
MEERGO_DB_SCHEMA=""
MEERGO_DB_MAX_CONNECTIONS=8

# Member emails configuration.
MEERGO_SKIP_MEMBER_EMAIL_VERIFICATION="false" # Whether to skip the verification of the email during the creation of a new member.
MEERGO_MEMBER_EMAIL_FROM=""                   # The "from" field of the sent emails. This is mandatory to send emails for members.

# SMTP configuration.
MEERGO_SMTP_HOST=""
MEERGO_SMTP_PORT=""
MEERGO_SMTP_USERNAME=""
MEERGO_SMTP_PASSWORD=""

# Path to the MaxMind database file (usually with extension '.mmdb') for
# automatically adding geolocation information to the events. If not set, no
# geolocation information are automatically added to the events by Meergo, so it
# is only possibile to provide location information explicitly.
MEERGO_MAXMIND_DB_PATH=""

# AWS Lambda.
MEERGO_TRANSFORMATIONS_LAMBDA_ACCESS_KEY_ID=""            # AWS Lambda access key ID.
MEERGO_TRANSFORMATIONS_LAMBDA_SECRET_ACCESS_KEY=""        # AWS Lambda secret access key.
MEERGO_TRANSFORMATIONS_LAMBDA_REGION=""                   # AWS region for Lambda.
MEERGO_TRANSFORMATIONS_LAMBDA_ROLE=""                     # AWS Lambda role ARN.
MEERGO_TRANSFORMATIONS_LAMBDA_NODE_RUNTIME="nodejs22.x"   # Node.js runtime version for Lambda.
MEERGO_TRANSFORMATIONS_LAMBDA_NODE_LAYER=""               # Optional Lambda layer for Node.js.
MEERGO_TRANSFORMATIONS_LAMBDA_PYTHON_RUNTIME=""           # Python runtime version for Lambda.
MEERGO_TRANSFORMATIONS_LAMBDA_PYTHON_LAYER=""             # Optional Lambda layer for Python.

# Local transformation.
MEERGO_TRANSFORMATIONS_LOCAL_NODE_EXECUTABLE="/usr/bin/node"     # Path to the Node.js executable.
MEERGO_TRANSFORMATIONS_LOCAL_PYTHON_EXECUTABLE="/usr/bin/python" # Path to the Python executable.
MEERGO_TRANSFORMATIONS_LOCAL_FUNCTIONS_DIR=""

# OAuth configuration for Hubspot.
MEERGO_OAUTH_HUBSPOT_CLIENT_ID=""      # OAuth client ID for HubSpot.
MEERGO_OAUTH_HUBSPOT_CLIENT_SECRET=""  # OAuth client secret for HubSpot.

# OAuth configuration for Mailchimp.
MEERGO_OAUTH_MAILCHIMP_CLIENT_ID=""      # OAuth client ID for Mailchimp.
MEERGO_OAUTH_MAILCHIMP_CLIENT_SECRET=""  # OAuth client secret for Mailchimp.
