.OAuth {
    padding: 30px;
	background-color: var(--bg-gray);
	min-height: calc(100vh - 70px);
}

.OAuth .loading {
    max-width: 800px;
    margin: auto;
    background-color: var(--bg-primary);
    padding: 80px;
    height: 250px;
    text-align: center;
    border-radius: var(--radius);
    box-shadow: var(--sl-shadow-small);
    border: 1px solid var(--sl-color-neutral-200);
    margin-top: 20px;
}

.OAuth .loading .text {
    margin-bottom: 20px;
}
