# This file contains the definition of environment variables that will be read
# by Krenalis for configuration.
#
# If this file is placed in the same directory where Krenalis is started and it
# is named '.env', it will be sourced by Krenalis at startup; alternatively, you
# can simply set the environment variables and pass them to the Krenalis
# process.

# Delay before terminating the server or process.
KRENALIS_TERMINATION_DELAY="1s"

# The URL that serves the JavaScript SDK.
KRENALIS_JAVASCRIPT_SDK_URL=""

# List of base URLs (comma-separated) from which Krenalis retrieves external
# assets (as icons) related to connector and data warehouse brands.
KRENALIS_EXTERNAL_ASSETS_URLS="https://assets.krenalis.com/"

# URL of the "potentials.json" connector file which contains the connectors that
# may be implemented in future versions of Krenalis. Set to "none" to not
# retrieve any file.
KRENALIS_POTENTIAL_CONNECTORS_URL="https://assets.krenalis.com/admin/connectors/potentials.json"

# Sets the telemetry level in Krenalis. You can set this to "none" to disable
# telemetry. Default is "all". See the environment variables documentation for
# more details.
KRENALIS_TELEMETRY_LEVEL=""

# HTTP.
KRENALIS_HTTP_HOST="127.0.0.1"
KRENALIS_HTTP_PORT="2022"
KRENALIS_HTTP_TLS_ENABLED="true"  # Whether TLS (HTTPS) is enabled.
KRENALIS_HTTP_TLS_CERT_FILE="cert.pem"  # Path to the TLS certificate.
KRENALIS_HTTP_TLS_KEY_FILE="key.pem"  # Path to the TLS private key.
KRENALIS_HTTP_TLS_DNS_NAMES="" # Comma-separated hostnames or IP addresses expected in the TLS certificate.
KRENALIS_HTTP_EXTERNAL_URL=""  # External URL exposed to the outside world.
KRENALIS_HTTP_EXTERNAL_EVENT_URL="https://localhost:2022/v1/events"  # External event URL exposed to the outside world.

# PostgreSQL database configuration.
KRENALIS_DB_HOST="127.0.0.1"
KRENALIS_DB_PORT="5432"
KRENALIS_DB_USERNAME=""
KRENALIS_DB_PASSWORD=""
KRENALIS_DB_DATABASE=""
KRENALIS_DB_SCHEMA="public"
KRENALIS_DB_MAX_CONNECTIONS=8

# NATS server configuration.
KRENALIS_NATS_URL=nats://127.0.0.1:4222
KRENALIS_NATS_NKEY=SUACSSL3UAHUDXKFSNVUZRF5UHPMWZ6BFDTJ7M6USDXIEDNPPQYYYCU3VY
KRENALIS_NATS_REPLICAS=3

# Member emails configuration.
KRENALIS_INVITE_MEMBERS_VIA_EMAIL="true" # Adding new members is done by sending email invitations.
KRENALIS_MEMBER_EMAIL_FROM=""            # The "from" field of the sent emails. This is mandatory to send emails for members.

# SMTP configuration.
KRENALIS_SMTP_HOST=""
KRENALIS_SMTP_PORT=""
KRENALIS_SMTP_USERNAME=""
KRENALIS_SMTP_PASSWORD=""

# Path to the MaxMind database file (usually with extension '.mmdb') for
# automatically adding geolocation information to the events. If not set, no
# geolocation information are automatically added to the events by Krenalis, so
# it is only possibile to provide location information explicitly.
KRENALIS_MAXMIND_DB_PATH=""

# Specify which transformer to use: "local" or "aws-lambda".
KRENALIS_TRANSFORMERS_PROVIDER="aws-lambda"

# AWS Lambda.
KRENALIS_TRANSFORMERS_AWS_LAMBDA_ACCESS_KEY_ID=""            # AWS Lambda access key ID.
KRENALIS_TRANSFORMERS_AWS_LAMBDA_SECRET_ACCESS_KEY=""        # AWS Lambda secret access key.
KRENALIS_TRANSFORMERS_AWS_LAMBDA_REGION=""                   # AWS region for Lambda.
KRENALIS_TRANSFORMERS_AWS_LAMBDA_ROLE=""                     # AWS Lambda role ARN.
KRENALIS_TRANSFORMERS_AWS_LAMBDA_NODEJS_RUNTIME="nodejs22.x" # Node.js runtime version for AWS Lambda.
KRENALIS_TRANSFORMERS_AWS_LAMBDA_NODEJS_LAYER=""             # Optional AWS Lambda layer for Node.js.
KRENALIS_TRANSFORMERS_AWS_LAMBDA_PYTHON_RUNTIME=""           # Python runtime version for AWS Lambda.
KRENALIS_TRANSFORMERS_AWS_LAMBDA_PYTHON_LAYER=""             # Optional AWS Lambda layer for Python.

# Local transformers.
KRENALIS_TRANSFORMERS_LOCAL_NODEJS_EXECUTABLE="/usr/bin/node"   # Path to the Node.js executable.
KRENALIS_TRANSFORMERS_LOCAL_PYTHON_EXECUTABLE="/usr/bin/python" # Path to the Python executable.
KRENALIS_TRANSFORMERS_LOCAL_FUNCTIONS_DIR=""
KRENALIS_TRANSFORMERS_LOCAL_SUDO_USER=""
KRENALIS_TRANSFORMERS_LOCAL_DOAS_USER=""

# Connector-specific settings.
#
# These are not required to start Krenalis, but may be required by specific
# connectors.
KRENALIS_CONNECTOR_FILESYSTEM_ROOT=""           # Root for the File System connector (required when using the File System connector).
KRENALIS_CONNECTOR_FILESYSTEM_DISPLAYED_ROOT="" # Displayed root for File System connector.
