# Ignore the '.gitattributes' files within the Go vendor, as they would be read
# by Git and the files inside the vendor would be modified, which, instead,
# should be left as they are.
vendor/**/.gitattributes

# Since '.env' files are used for Meergo configuration and may contain critical
# information, it's convenient to add this repository-wide exclusion rule here,
# just as an extra precaution to prevent '.env' files containing sensitive data
# from ending up on GitHub.
.env