go 1.19

use (
	.
	./chichi-cli
	./connectors/csv
	./connectors/dummy
	./connectors/excel
	./connectors/http
	./connectors/hubspot
	./connectors/mailchimp
	./connectors/mysql
	./connectors/s3
	./connectors/sftp
)
