// Keep in sync with the version within ".github/workflows/main.yml".
// Keep in sync with the version within "Dockerfile".
// Keep in sync with the version within "go.mod".
// Keep in sync with the version within "meergo-cli/go.mod".
go 1.23

use (
	.
	./meergo-cli
)
