go 1.20

use (
	.
	./chichi-cli
	./connectors/clickhouse
	./connectors/csv
	./connectors/dummy
	./connectors/excel
	./connectors/filesystem
	./connectors/googleanalytics4
	./connectors/http
	./connectors/hubspot
	./connectors/json
	./connectors/kafka
	./connectors/klaviyo
	./connectors/mailchimp
	./connectors/mysql
	./connectors/parquet
	./connectors/postgresql
	./connectors/rabbitmq
	./connectors/s3
	./connectors/server
	./connectors/sftp
	./connectors/uisample
	./connectors/website
)
