.AccountConnectionsMap {
	position: relative;
}

.AccountConnectionsMap .routeContent {
	max-width: 1500px;
	margin: -110px auto 0 auto;
	padding-bottom: 50px;
	position: relative;
	z-index: 20;
}

.AccountConnectionsMap .buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.AccountConnectionsMap .map {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'sources main destinations';
	gap: 80px;
	align-items: start;
}

.AccountConnectionsMap .map .sources {
	grid-area: sources;
}

.AccountConnectionsMap .map .main {
	grid-area: main;
}

.AccountConnectionsMap .map .main .centralLogo {
	width: 180px;
	height: 180px;
	margin: auto;
	background-color: var(--color-primary-600);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-onaccent);
	font-size: 23px;
	box-shadow: 0 0 0 0 rgba(79, 70, 229, 1);
	animation: pulse 2s infinite;
	border: 15px solid var(--color-primary-400);
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(79, 70, 229, 0.7);
	}

	70% {
		box-shadow: 0 0 0 20px rgba(79, 70, 229, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(79, 70, 229, 0);
	}
}

.AccountConnectionsMap .map .main .databases {
	margin-top: 100px;
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 100px;
}

.AccountConnectionsMap .map .main .databases .database {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: transparent;
	padding-top: 5px;
}

.AccountConnectionsMap .map .main .databases .database sl-icon {
	font-size: 60px;
	margin-bottom: 15px;
	color: var(--sl-color-gray-600);
}

.AccountConnectionsMap .map .main .databases .database .name {
	font-size: 18px;
}

.AccountConnectionsMap .map .destinations {
	grid-area: destinations;
}

.AccountConnectionsMap .map .connection {
	background-color: var(--bg-primary);
	padding: 20px 30px;
	border-radius: var(--radius);
	box-shadow: var(--sl-shadow-small);
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 30px;
}

.AccountConnectionsMap .map .connection.storage {
	background-color: transparent;
	border-radius: 0;
	box-shadow: unset;
	padding: 0;
	gap: 0;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-areas: 'files arrow storage';
}

.AccountConnectionsMap .map .destinations .connection.storage {
	grid-template-areas: 'storage arrow files';
}

.AccountConnectionsMap .map .connection.storage .files {
	grid-area: files;
}

.AccountConnectionsMap .map .connection.storage .files .file {
	margin-bottom: 20px;
}

.AccountConnectionsMap .map .connection.storage .files .file:last-child {
	margin-bottom: 0;
}

.AccountConnectionsMap .map .connection.storage .storage {
	grid-area: storage;
}

.AccountConnectionsMap .map .connection.storage > .files .file,
.AccountConnectionsMap .map .connection.storage > .storage {
	background-color: var(--bg-primary);
	padding: 20px 30px;
	border-radius: var(--radius);
	box-shadow: var(--sl-shadow-small);
	min-width: 150px;
	display: flex;
	align-items: center;
	gap: 20px;
}

.AccountConnectionsMap .map .connection .unknownLogo  {
    background-color: var(--bg-gray);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.AccountConnectionsMap .map .connection .littleLogo > img {
	max-height: 30px;
	width: auto;
}

.AccountConnectionsMap .arrows {
	position: relative;
	z-index: 10;
}

.AccountConnectionsMap .connection .arrow > div,
.AccountConnectionsMap .arrows .arrow > div {
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
}
