.confirm-by-typing {
	text-align: left;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid var(--sl-color-neutral-200);
}

.confirm-by-typing__instruction {
	margin: 0 0 10px 10%;
	font-size: 15px;
	width: 80%;
}

.confirm-by-typing__input {
	width: 80%;
	display: block;
	margin: 0 auto;
}

.confirm-by-typing__input::part(input) {
	font-family: var(--monospace-fonts);
}

.confirm-by-typing__confirm-text {
	font-family: var(--monospace-fonts);
	background-color: var(--sl-color-neutral-100);
	display: inline-block;
	padding: 0px 5px;
	border-radius: 3px;
}
