.ConnectorSettings .Breadcrumbs::part(base) {
    justify-content: center;
}

.ConnectorSettings .routeContent {
    padding-left: 400px; 
    padding-right: 400px;
}

.ConnectorSettings .basic .inputWrapper {
    margin-bottom: 30px;
}

.ConnectorSettings .basic .switchWrapper {
    margin: 50px 0;
}

.ConnectorSettings .basic .noStorages {
    display: flex;
    gap: 20px;
    align-items: baseline;
    margin: 50px 0;
}

.ConnectorSettings .settings {
    background-color: var(--bg-primary);
    border-radius: var(--radius);
    box-shadow: var(--sl-shadow-small);
    padding: 50px 80px;
    border: 1px solid var(--sl-color-neutral-200);
}

.ConnectorSettings .saveWrapper {
    text-align: center;
}

.ConnectorSettings .saveButton {
    min-width: 180px;
    display: inline-block;
}
