@keyframes arrow-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.arrow--new {
	animation: arrow-fade-in 500ms;
	animation-delay: 1000ms;
	animation-fill-mode: both;
}

.arrow--hidden {
	opacity: 0;
	visibility: hidden;
}

.arrow > div {
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	position: static !important;
	z-index: unset !important;
}
