.connector-settings__settings {
	max-width: 900px;
	margin: auto;
	padding: 0;
	padding-left: 30px;
	padding-right: 30px;
}

.connector-settings__basic .connector-settings__input {
	margin-bottom: 30px;
}

.connector-settings__strategy-field,
.connector-settings__mode-field {
	max-width: fit-content;
}

.connector-settings__mode-value-icon {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.connector-settings__mode-field sl-option[aria-selected='true'] .connector-settings__mode-icon {
	color: var(--text-onaccent);
}

.connector-settings__mode-field sl-option .connector-settings__mode-icon {
	display: flex;
	align-items: center;
}

.connector-settings__label-field {
	max-width: 280px;
	padding-top: 2em;
}

.connector-settings__host-field {
	max-width: 350px;
}

.connector-settings__linked-connections {
	margin-bottom: 50px;
}

.connector-settings__linked-connections-label {
	font-weight: 600;
}

.connector-settings__save-wrapper {
	text-align: center;
}

.connector-settings__save-button {
	min-width: 180px;
	display: inline-block;
}
