.UsersList .routeContent {
	max-width: 1200px;
	margin: auto;
	margin-top: -250px;
}

.UsersList .routeContent > .title {
	font-size: 23px;
	font-weight: 600;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	color: var(--text-onaccent);
	margin-bottom: 20px;
}

.UsersList .gridContainer .head {
    background-color: var(--color-primary-600);
    padding: 20px 30px;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.UsersList .gridContainer .head .gridHeading {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 50px;
}

.UsersList .gridContainer .head .gridTitle {
	font-size: 21px;
	font-weight: 600;
	color: var(--text-onaccent);
	transform: translate3d(5px, 3px, 0px);
}

.UsersList .gridContainer .head .gridActions {
	display: flex;
	justify-content: right;
	align-items: center;
	gap: 10px;
}

.UsersList .gridContainer .head .toggleColumns sl-menu-item:hover::part(base) {
	background-color: unset;
}

.UsersList .gridContainer .grid {
    margin: auto;
	position: relative;
}

.UsersList .gridContainer .ag-row,
.UsersList .gridContainer .ag-header {
	border: 0!important;
}

.UsersList .gridContainer .grid .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.UsersList .gridContainer .footer {
    background-color: var(--bg-primary);
    box-shadow: var(--sl-shadow-small);
    padding: 20px 30px;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    display: flex;
    justify-content: space-between;
	position: relative;
	align-items: center;
}

.UsersList .gridContainer .footer .total {
	display: flex;
	align-items: center;
	gap: 32px;
}

.UsersList .gridContainer .footer .total .found {
	position: relative;
}

.UsersList .gridContainer .footer .total .found::after {
    content: "";
    width: 2px;
    height: 15px;
    position: absolute;
    background-color: var(--border-primary);
    top: 50%;
    transform: translate(15px, -50%);
}

.UsersList .gridContainer .footer .total .gridLimit {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 14px;
}

.UsersList .gridContainer .footer .total .gridLimit sl-select::part(control) {
    padding: 10px 0;
    min-width: 150px;
}

.UsersList .gridContainer .footer .pagination {
	display: flex;
	align-items: center;
	gap: 10px;
	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
	background-color: var(--bg-gray);
	padding: 10px 25px;
	border-radius: 10px;
}

.UsersList .gridContainer .footer .pagination .pages {
	display: flex;
}

.UsersList .gridContainer .footer .pagination .pages span {
	margin: 0 5px;
}

.UsersList .gridContainer .footer .pagination .pages .last {
	color: var(--color-primary-600);
	cursor: pointer;
}

.UsersList .gridContainer .footer .pagination .previousPage,
.UsersList .gridContainer .footer .pagination .nextPage,
.UsersList .gridContainer .footer .pagination .firstPage,
.UsersList .gridContainer .footer .pagination .lastPage {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
