.ConnectionActions.loading {
    text-align: center;
}

.ConnectionActions .noAction {
    text-align: center;
    margin-top: 30px;
}

.ConnectionActions .noAction .IconWrapper {
    color: var(--sl-color-primary-600);
    margin-bottom: 10px;
}

.ConnectionActions .noAction .description {
    max-width: 500px;
    margin: auto;
    margin-bottom: 15px;
}

.ConnectionActions .StyledGrid {
    margin-top: 20px;
}

.ConnectionActions .title {
    padding-left: 12px;
    font-weight: 600;
    font-size: 14px;
}

.ConnectionActions .actionButtons {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.actionDialog::part(body) {
    padding-bottom: 30px;
}

.actionDialog .listTile {
    margin-bottom: 15px;
}

.actionDialog .listTile:last-child {
    margin-bottom: 0;
}

.actionDialog .eventActionTypesTitle {
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
}
