.ConnectorColorPicker {
	display: flex;
	align-items: center;
	gap: 12px;
}

.ConnectorColorPicker .label {
	font-size: var(--sl-input-font-size-medium);
	font-weight: var(--sl-input-font-weight);
	color: var(--sl-input-color);
}
