.grid__nested-rows {
	position: relative;
}

.grid__row-expand {
	position: absolute;
	top: 25px;
	left: var(--parent-indentation); /* set in the component */
	transform: translateY(-50%) translate(-31px);
	cursor: pointer;
	transition: transform 0.3s;
	color: var(--sl-color-neutral-400);
}

.grid__nested-rows--expanded > .grid__row-expand {
	transform: translateY(-50%) translateX(-30px) rotate(90deg);
}

.grid__nested-rows .grid__row--parent .grid__cell.grid-el--first .grid__cell-content {
	padding-left: var(--parent-indentation); /* set in the component */
}

.grid__nested-rows .grid__row--children,
.grid__nested-rows .grid__nested-rows--children,
.grid__nested-rows .draggable-wrapper {
	display: none;
	position: relative;
}

.grid__nested-rows .overlay-row .grid__row--children,
.grid__nested-rows .overlay-row .grid__nested-rows--children {
	display: grid;
}

.grid__nested-rows .grid__row--children::before {
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	border-left: 2px solid var(--sl-color-neutral-400);
	border-bottom: 2px solid var(--sl-color-neutral-400);
	left: var(--children-indentation); /* set in the component */
	top: 0;
	transform: translateY(100%) translate(-30px);
	border-bottom-left-radius: 3px;
}

.grid__nested-rows .draggable-wrapper__handle,
.grid__nested-rows .overlay-row__handle {
	left: var(--parent-indentation);
	transform: translate(-10px, -1px);
}

.grid__nested-rows .overlay-row__handle {
	z-index: 10;
}

.grid__nested-rows--expanded > .grid__row--parent {
	border-top: 1px solid var(--border-primary);
	border-bottom: 1px solid var(--border-primary);
}

.grid__nested-rows--expanded > .draggable-wrapper {
	display: block;
}

.grid__nested-rows--expanded > .grid__row--children,
.grid__nested-rows--expanded > .grid__nested-rows--children,
.grid__nested-rows--expanded > .draggable-wrapper > .grid__row--children,
.grid__nested-rows--expanded > .draggable-wrapper > .grid__nested-rows--children {
	display: grid;
}

.grid__nested-rows .grid__row--children,
.grid__nested-rows .grid__nested-rows .grid__row {
	background-color: var(--bg-gray) !important;
}

.grid__nested-rows .grid__row--children .grid__cell,
.grid__nested-rows .grid__nested-rows .grid__row .grid__cell {
	background-color: var(--bg-gray) !important;
}

.grid__nested-rows .grid__row--children .grid__cell.grid-el--first .grid__cell-content,
.grid__nested-rows .grid__nested-rows--children .grid__row--children .grid__cell.grid-el--first .grid__cell-content {
	padding-left: var(--children-indentation); /* set in the component */
}

.grid__nested-rows .grid__row--parent ~ .grid__nested-rows--expanded > .grid__row--parent {
	border-top: 0;
}

.grid__nested-rows.grid-el--last {
	border-radius: var(--radius);
}

.grid__nested-rows.grid-el--last .grid__row--parent .grid__cell.grid-el--first {
	border-bottom-left-radius: var(--radius);
}

.grid__nested-rows--expanded.grid-el--last .grid__row--parent .grid__cell.grid-el--first {
	border-bottom-left-radius: 0;
}

.grid__nested-rows.grid-el--last .grid__row--parent .grid__cell.grid-el--last {
	border-bottom-right-radius: var(--radius);
}

.grid__nested-rows--expanded.grid-el--last .grid__row--parent .grid__cell.grid-el--last {
	border-bottom-right-radius: 0;
}

.grid__nested-rows .grid__row--children:last-child .grid__cell.grid-el--first {
	border-bottom-left-radius: var(--radius);
}

.grid__nested-rows .grid__row--children:last-child .grid__cell.grid-el--last {
	border-bottom-right-radius: var(--radius);
}

.grid__nested-rows .grid__nested-rows--children:last-child .grid__row--parent .grid__cell.grid-el--first {
	border-bottom-left-radius: var(--radius);
}

.grid__nested-rows
	.grid__nested-rows--expanded.grid__nested-rows--children:last-child
	> .grid__row--parent
	.grid__cell.grid-el--first {
	border-bottom-left-radius: 0;
}

.grid__nested-rows .grid__nested-rows--children:last-child .grid__row--parent .grid__cell.grid-el--last {
	border-bottom-right-radius: var(--radius);
}

.grid__nested-rows
	.grid__nested-rows--expanded.grid__nested-rows--children:last-child
	> .grid__row--parent
	.grid__cell.grid-el--last {
	border-bottom-right-radius: 0;
}

.grid__nested-rows > .grid__row--children:last-child,
.grid__nested-rows > .grid__nested-rows--children:last-child,
.grid__nested-rows > .draggable-wrapper > .grid__row--children:last-child,
.grid__nested-rows > .draggable-wrapper > .grid__nested-rows--children:last-child {
	border-bottom: 1px solid var(--border-primary) !important;
}

.grid__nested-rows.grid-el--last > .grid__row--children:last-child,
.grid__nested-rows.grid-el--last > .grid__nested-rows--children:last-child,
.grid__nested-rows.grid-el--last > .draggable-wrapper > .grid__row--children:last-child,
.grid__nested-rows.grid-el--last > .draggable-wrapper > .grid__nested-rows--children:last-child {
	border-bottom: 0 !important;
}

.grid__nested-rows.grid-el--last .grid__nested-rows:last-child > .grid__row--children:last-child,
.grid__nested-rows.grid-el--last .grid__nested-rows:last-child > .grid__nested-rows--children:last-child,
.grid__nested-rows.grid-el--last .grid__nested-rows:last-child > .draggable-wrapper > .grid__row--children:last-child,
.grid__nested-rows.grid-el--last
	.grid__nested-rows:last-child
	> .draggable-wrapper
	> .grid__nested-rows--children:last-child {
	border-bottom: 0 !important;
}
