.header {
	padding: 5px 30px 5px 18px;
	display: grid;
	grid-template-areas: 'title account';
	justify-content: space-between;
	align-items: baseline;
	height: var(--header-height);
	background: var(--bg-primary);
	position: fixed;
	top: 0;
	left: var(--sidebar-with);
	right: 0;
	z-index: 20;
}

.header__title {
	grid-area: title;
	font-size: 18px;
	display: flex;
	align-items: baseline;
	gap: 15px;
}

.header__account {
	display: flex;
	align-items: center;
	gap: 10px;
	grid-area: account;
}

.header__account-avatar {
	cursor: pointer;
}

.header__account-avatar::part(base) {
	width: 40px;
	height: 40px;
	font-size: 18px;
}

.status-dot {
	display: none;
}
