.header {
	padding: 5px 30px 5px 18px;
	display: grid;
	grid-template-areas: 'title account';
	justify-content: space-between;
	align-items: baseline;
	height: var(--header-height);
	background: var(--bg-primary);
	position: fixed;
	top: 0;
	left: var(--sidebar-with);
	right: 0;
	z-index: 20;
}

.header__title {
	grid-area: title;
	font-size: 18px;
	display: flex;
	align-items: baseline;
	gap: 15px;
}

.header__account {
	display: flex;
	align-items: center;
	gap: 10px;
	grid-area: account;
}

.header__account-avatar {
	cursor: pointer;
}

.header__account-avatar::part(base) {
	width: 40px;
	height: 40px;
	font-size: 18px;
}

.header__passwordless-tooltip::part(body) {
	padding: 15px 20px;
	background-color: var(--sl-color-primary-200);
	color: #051925;
	pointer-events: all;
	width: 100%;
}

.header__passwordless-tooltip::part(base__arrow) {
	background-color: var(--sl-color-primary-200);
}

.header__passwordless-tooltip-title {
	font-weight: 600;
	font-size: 17px;
	margin-bottom: 3px;
}

.header__passwordless-tooltip a {
	text-decoration: underline;
}

.status-dot {
	display: none;
}
