.identifiers {
	max-width: 1200px;
	margin: auto;
	padding: 30px;
}

.identifiers .section {
	margin-bottom: 50px;
}

.identifiers .combobox {
	width: 100%;
}

.identifiers > sl-spinner {
	display: block;
	margin: auto;
}

.identifiers__no-schema {
	text-align: center;
}

.identifiers__no-schema-description {
	max-width: 600px;
	margin: auto;
	margin-bottom: 15px;
}

.identifiers__save-button {
	max-width: 200px;
	display: block;
	margin-left: auto;
}

.identifiers .combobox-input sl-input .combobox-input__error-icon {
	font-size: 9px;
}

.identifiers__identifier {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	gap: 15px;
	align-items: center;
}

.identifiers__identifier .combobox-input {
	width: 100%;
}

.identifiers__add {
	display: block;
	width: max-content;
	margin: auto;
}

.identifiers__identifier-position {
	background-color: var(--sl-color-neutral-400);
	color: var(--text-onaccent);
	width: 25px;
	height: 25px;
	min-width: 25px;
	min-height: 25px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}
