.signup {
	width: 500px;
	margin: auto;
	padding-top: 60px;
}

.signup__logo {
	font-size: 12px;
	background-color: var(--color-primary-600);
	color: var(--text-onaccent);
	width: 80px;
	height: 80px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-family: var(--monospace-fonts);
	margin: auto;
}

.signup__title {
	text-align: center;
	font-weight: 600;
	margin-bottom: 30px;
	font-size: 24px;
}

.signup sl-input::part(form-control-label):after {
	color: var(--sl-color-danger-500);
}

.signup__name,
.signup__email,
.signup__password {
	margin-bottom: 30px;
}

.signup__error {
	color: var(--sl-color-danger-600);
	display: flex;
	align-items: center;
	gap: 7px;
	margin-bottom: 30px;
}

.signup__error sl-icon {
	color: var(--sl-color-danger-600);
	position: relative;
	top: 2px;
}

.signup__button {
	display: block;
}
