.connectionOverview.loading {
	text-align: center;
	padding-top: 50px;
}

.connectionOverview .chart .chartHead {
	max-width: 1350px;
	margin: auto;
	margin-bottom: 20px;
}

.connectionOverview .chart .title {
	font-size: 17px;
}

.connectionOverview .chart .recharts-wrapper {
	margin: auto;
	position: relative;
	left: -20px;
}

.connectionOverview .importsWrapper {
	margin: 100px auto 20px auto;
}

.connectionOverview .importsWrapper .title {
	max-width: 1400px;
	margin: auto;
	margin-bottom: 20px;
	padding-left: 40px;
	font-size: 17px;
}

.connectionOverview .grid {
	max-width: 1350px;
	margin: auto;
}

.connectionOverview .nothingToShow {
	text-align: center;
	font-size: 17px;
}
