.AccountConnectionProperties {
    min-height: 100vh;
}

.AccountConnectionProperties .content {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "title title title"
        "connectionProperties editor schemaProperties"
        "connectionProperties saveButton schemaProperties"
        "connectionProperties documentation schemaProperties";
    gap: 30px;
    margin-top: -200px;
}

.AccountConnectionProperties .content > .title {
    grid-area: title;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: var(--text-onaccent);
    margin-bottom: 20px;
}

.AccountConnectionProperties .content .title .littleLogo {
    max-width: 35px;
    margin-left: -35px;
}

.AccountConnectionProperties .content .properties .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-onaccent);
}

.AccountConnectionProperties .content .properties .property {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 15px 25px;
    margin-bottom: 15px;
    border-radius: var(--radius);
    box-shadow: var(--sl-shadow-x-small);
    overflow-wrap: anywhere;
    font-family: monospace!important;
}

.AccountConnectionProperties .content .properties.connectionProperties {
    grid-area: connectionProperties;
}

.AccountConnectionProperties .content .editor {
    grid-area: editor;
}

.AccountConnectionProperties .content .editorWrapper {
    width: 100%;
    height: 600px;
    padding: 30px;
    border-radius: var(--radius);
    background-color: var(--bg-editor);
}

.AccountConnectionProperties .content .editorWrapper *  {
    font-family: monospace!important;
}

.AccountConnectionProperties .content .editorWrapper .documentation {
    margin-top: 30px;
}

.AccountConnectionProperties .content .properties.schemaProperties {
    grid-area: schemaProperties;
}

.AccountConnectionProperties .content .saveButton {
    width: 200px;
    margin: 30px auto;
    display: block;
}

.AccountConnectionProperties .content .documentation {
    border-radius: var(--radius);
    padding: 20px 50px;
    background-color: var(--bg-primary);
    box-shadow: var(--sl-shadow-small);
    margin-bottom: 30px;
}
