.data-warehouse__spinner {
	display: block;
	margin: auto;
	position: relative;
	top: 50px;
}

.warehouse-list,
.warehouse-settings,
.warehouse-info {
	max-width: 1200px;
	margin: auto;
	padding: 30px;
}

.warehouse-list__title,
.warehouse-settings__name,
.warehouse-info__name {
	font-size: 23px;
	font-weight: 600;
}

.warehouse-list__description {
	font-size: 15px;
}

.warehouse-list__warehouse:first-of-type {
	margin-top: 15px;
}

.warehouse-list__warehouse {
	margin-bottom: 15px;
}

.warehouse-info__buttons {
	display: flex;
	justify-content: end;
	gap: 15px;
}

.warehouse-info__confirmation-text {
	text-align: center;
}

.warehouse-info__confirmation-buttons {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.warehouse-settings__info {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 30px;
}

.warehouse-info__info {
	display: flex;
	gap: 80px;
	align-items: start;
	justify-content: space-between;
	margin-bottom: 20px;
}

.warehouse-info__title {
	display: flex;
	gap: 10px;
	align-items: center;
}

.warehouse-info__mode-init {
	display: flex;
	align-items: center;
	gap: 15px;
	width: 100%;
	justify-content: end;
}

.warehouse-info__change-settings-button {
	position: relative;
	top: -8px;
}

.warehouse-info__mode sl-option::part(checked-icon) {
	padding-left: 5px;
	padding-right: 12px;
}

.warehouse-info__mode-title {
	font-weight: 600;
}

.warehouse-info__mode-separator {
	display: none;
}

.warehouse-info__mode-description {
	font-size: 13px;
}

.warehouse-settings__back-button {
	font-size: 23px;
}

.warehouse-settings__back-button::part(base) {
	padding-left: 0;
}

.warehouse-settings__main-form > sl-input,
.warehouse-settings__mcp-form > sl-input {
	margin-bottom: 20px;
}

.warehouse-settings__main-form > sl-input:first-child {
	margin-top: -8px;
}

.warehouse-settings__main-form > sl-input:last-child,
.warehouse-settings__mcp-form > sl-input:last-child {
	margin-bottom: 0;
}

.data-warehouse .section {
	margin-top: 50px;
}

.warehouse-info .section:nth-child(2) {
	margin-top: 44px;
}

.warehouse-info__mcp-not-configured > span {
	font-weight: 600;
}

.warehouse-settings__settings h2 {
	margin-bottom: 8px;
	margin-top: 30px;
	font-weight: 500;
	font-size: 21px;
}

.warehouse-settings__mode {
	font-size: 14px;
	max-width: 500px;
}

.warehouse-settings__mode sl-option::part(checked-icon) {
	padding-left: 5px;
	padding-right: 12px;
}

.warehouse-settings__mode-title {
	font-weight: 600;
}

.warehouse-settings__mode-separator {
	display: none;
}

.warehouse-settings__mode-description {
	font-size: 13px;
}

.warehouse-settings__mcp-form {
	padding-left: 27px;
	margin-top: 25px;
}

.warehouse-settings__buttons {
	display: flex;
	margin-top: 20px;
	justify-content: end;
	gap: 30px;
}

.warehouse-settings__buttons > sl-button {
	margin-top: 30px;
	min-width: 150px;
}
