.access-keys .grid__loading {
	padding: 90px 30px 120px 30px;
}

.access-keys__back-button::part(base) {
	padding-left: 0;
}

.access-keys__back-button::part(label) {
	padding-left: 5px;
}

.access-keys__back-button sl-icon {
	position: relative;
	top: 2px;
}

.access-keys__title {
	display: flex;
	margin-bottom: 15px;
	justify-content: space-between;
	align-items: end;
	margin-top: 20px;
	gap: 30px;
}

.access-keys__title--mcp {
	margin-top: -10px;
}

.access-keys__title-text {
	font-size: 23px;
	font-weight: 600;
	line-height: 1;
}

.access-keys__workspace {
	color: var(--sl-color-primary-600);
	cursor: pointer;
	text-decoration: underline;
}

.access-keys__token-cell {
	font-family: var(--monospace-fonts);
}

.access-keys__grid-buttons {
	display: flex;
	gap: 10px;
}

.access-keys__grid-any-workspace {
	color: var(--sl-color-neutral-400);
}

.access-keys__grid-learn-more {
	color: #333;
	margin: 15px auto 0 auto;
	text-align: center;
	font-size: 14px;
}

.access-keys__grid-learn-more a {
	color: var(--color-primary-500);
	text-decoration: underline;
}

.access-keys__dialog--copy::part(close-button) {
	display: none;
}

.access-keys__dialog--copy::part(panel) {
	width: 560px;
	max-width: calc(100vw - 40px);
}

.access-keys__dialog-workspaces {
	margin-top: 20px;
}

.access-keys__dialog-error {
	color: var(--sl-color-danger-600);
	display: flex;
	align-items: center;
	gap: 7px;
	margin-top: 3px;
	font-size: 15px;
}

.access-keys__dialog-error sl-icon {
	color: var(--sl-color-danger-600);
	font-size: 14px;
}

.access-keys__dialog-save {
	margin-top: 30px;
	display: block;
}

.access-keys__dialog-created-description {
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 14px;
	color: var(--sl-color-neutral-800);
}

.access-keys__dialog-done {
	margin-top: 30px;
	margin-left: auto;
	display: block;
	max-width: 100px;
}

.access-keys__key-copy {
	display: flex;
	align-items: center;
	gap: 5px;
}

.access-keys__key-copy > sl-input {
	width: 100%;
}

.access-keys__key-copy > sl-input::part(input) {
	font-family: var(--monospace-fonts);
}

.access-keys__key-copy > sl-input::part(base) {
	font-size: 14px;
}
