.LinkedConnectionBlocks.grid {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    align-items: center;
}

.LinkedConnectionBlocks.grid.left {
    grid-template-areas: "primary arrow secondary"    
}

.LinkedConnectionBlocks.grid.right {
    grid-template-areas: "secondary arrow primary";
}

.LinkedConnectionBlocks.grid .primaryConnection {
    grid-area: primary
}

.LinkedConnectionBlocks.grid .secondaryConnections {
    grid-area: secondary;
}
