.members sl-spinner {
	display: block;
	margin: 20px auto;
}

.members__back-button::part(base) {
	padding-left: 0;
}

.members__back-button::part(label) {
	padding-left: 5px;
}

.members__back-button sl-icon {
	position: relative;
	top: 2px;
}

.members__title {
	display: flex;
	margin-bottom: 15px;
	justify-content: space-between;
	align-items: end;
}

.members__title-text {
	font-size: 23px;
	font-weight: 600;
	line-height: 1;
}

.members__member {
	margin-bottom: 15px;
	background-color: var(--bg-primary);
}

.members__member-name {
	display: flex;
	gap: 5px;
}

.members__member .list-tile__content {
	grid-template-columns: 55px 1fr;
}

.members__member .list-tile__icon sl-avatar::part(base) {
	width: 40px;
	height: 40px;
}

.members__member:last-child {
	margin-bottom: 0;
}

.members__member-pipelines {
	display: flex;
	gap: 15px;
}

.members__invite-dialog::part(title) {
	padding-bottom: 10px;
}

.members__invite-dialog-description {
	font-size: 15px;
	margin-bottom: 10px;
}

.members__invite-dialog sl-input {
	margin-bottom: 15px;
}

.members__invite-dialog sl-input::part(form-control-label)::after {
	color: var(--sl-color-danger-500);
}

.members__invite-dialog-error {
	color: var(--sl-color-danger-600);
	display: flex;
	align-items: center;
	gap: 7px;
}

.members__invite-dialog-error sl-icon {
	color: var(--sl-color-danger-600);
}

.members__invite-dialog sl-button {
	display: block;
	margin: auto;
	margin-top: 30px;
}
