.connection-identities--loading {
	text-align: center;
	padding-top: 50px;
}

.connection-identities .connection-identities__no-identity {
	text-align: center;
}

.connection-identities .connection-identities__no-identity-description {
	max-width: 600px;
	margin: auto;
	margin-bottom: 15px;
}

.connection-identities__title {
	margin-bottom: 10px;
	color: var(--sl-color-neutral-600);
}

.connection-identities .connection-identities__anonymous-identity {
	color: #9b9b9b;
	padding: 3px 7px;
	background-color: var(--sl-color-neutral-100);
	border-radius: 5px;
	font-size: 11px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.connection-identities .grid label {
	font-weight: 500;
	font-size: 13px;
}

.connection-identities .grid code {
	background-color: var(--sl-color-neutral-100);
	font-size: 13px;
	border-radius: 5px;
	padding: 0 3px;
	margin-left: 5px;
}

.connection-identities .grid code:first-child {
	margin-left: 0;
}

.connection-identities .connection-identities__action {
	color: var(--sl-color-primary-600);
	text-decoration: underline;
}
