.status-dot__hover-area {
	position: relative;
	z-index: 2;
	width: 30px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.status-dot__icon {
	font-size: 9px;
}

.status-dot__icon--success {
	color: var(--sl-color-success-600);
}

.status-dot__icon--neutral {
	color: var(--sl-color-neutral-300);
}

.status-dot__icon--danger {
	color: var(--sl-color-danger-600);
}
