.ConnectorsList sl-breadcrumb::part(base) {
	justify-content: center;
}

.ConnectorsList .routeContent {
	margin: auto;
	padding-left: 300px;
	padding-right: 300px;
}

.ConnectorsList h1 {
	text-align: center;
	margin-bottom: 30px;
}

.ConnectorsList .connectors {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
}

.ConnectorsList sl-dialog::part(body) {
	padding: 10px 30px 20px 30px;
}

.ConnectorsList sl-dialog .no-storage {
	text-align: center;
	padding-bottom: 15px;
}

.ConnectorsList sl-dialog .storage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.ConnectorsList sl-dialog .storage sl-button::part(base) {
	border-radius: 100%;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ConnectorsList sl-dialog  .websiteInfo {
	padding: 0 10px 20px 10px;
}

.ConnectorsList sl-dialog .websiteInfo .hostInput {
	margin-bottom: 20px;
}

.ConnectorsList sl-dialog .websiteInfo .addWebsite  {
    display: block;
    margin: 30px auto 0 auto;
}
