.connectors-list sl-breadcrumb::part(base) {
	justify-content: center;
}

.connectors-list .route-content {
	margin: auto;
}

.connectors-list__search-bar {
	max-width: 1200px;
	margin: auto;
	margin-bottom: 30px;
}

.connectors-list__connectors {
	margin: auto;
	max-width: 1200px;
	display: flex;
	flex-flow: row wrap;
	justify-content: start;
	gap: 30px;
}

.connectors-list__no-connector {
	text-align: center;
	width: 100%;
	margin-top: 50px;
	font-size: 17px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: var(--sl-color-neutral-600);
}

.connectors-list__no-connector sl-icon {
	font-size: 30px;
}

.connectors-list__no-connector-title {
	font-size: 20px;
	margin-bottom: 3px;
}

.connectors-list__connectors {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.connectors-list__card {
	background-color: var(--bg-primary);
	padding: 50px;
	border-radius: var(--radius);
	box-shadow: var(--sl-shadow-small);
	text-align: center;
	border: 1px solid var(--sl-color-neutral-200);
	transition:
		background-color 0.3s,
		border 0.3s;
	cursor: pointer;
}

.connectors-list__card--disabled {
	cursor: default;
}

.connectors-list__card:hover {
	background-color: var(--sl-color-primary-50);
	border: 1px solid var(--sl-color-primary-600);
}

.connectors-list__card--disabled:hover {
	background-color: var(--sl-color-neutral-100);
	border: 1px solid var(--sl-color-neutral-600);
}

.connectors-list__card-logo > svg {
	max-height: 70px;
	width: auto;
	padding: 5px;
	margin: 0 auto 30px auto;
}

.connectors-list__card-unknown-logo {
	background-color: var(--bg-gray);
	color: var(--text-primary);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius);
	margin: 0 auto 30px auto;
	font-size: 22px;
}

.connectors-list__card-name {
	font-weight: 600;
}

.connectors-list__card-type {
	margin-top: 10px;
}

.connectors-list__card-summary {
	margin-top: 10px;
	font-size: 15px;
	opacity: 0.9;
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.connectors-list__feedback {
	border: 2px dashed var(--sl-color-neutral-200);
	background-color: var(--sl-color-neutral-100);
	border-radius: var(--radius);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 50px;
	flex-flow: column;
	gap: 15px;
	color: var(--sl-color-neutral-600);
}

.connectors-list__feedback sl-icon {
	font-size: 40px;
}

.connectors-list__feedback .connectors-list__feedback-message {
	font-size: 17px;
}

.connectors-list__feedback-message a {
	color: var(--sl-color-primary-600);
	text-decoration: underline;
	font-weight: 00;
}

@media screen and (max-width: 1200px) {
	.connectors-list__card {
		padding: 40px 20px;
	}
}
