.connectors-list sl-breadcrumb::part(base) {
	justify-content: center;
}

.connectors-list .route-content {
	margin: auto;
}

.connectors-list__spinner {
	display: block;
	margin: auto;
	margin-top: 50px;
}

.connectors-list__search-bar {
	max-width: 1200px;
	margin: auto;
}

.connectors-list__categories {
	max-width: 1200px;
	margin: 15px auto;
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
}

.connectors-list__category {
	border: transparent;
	padding: 5px 16px;
	font-size: 14px;
	border-radius: 4px;
	color: var(--sl-color-neutral-500);
	font-weight: 500;
	background-color: #ebeff6;
	cursor: pointer;
	min-width: 70px;
	transition:
		background-color 0.3s,
		color 0.3s;
}

.connectors-list__category:hover {
	color: #5b62d0;
}

.connectors-list__category--selected,
.connectors-list__category--selected:hover {
	background-color: #d4e2ff;
	border: transparent;
	color: #5b62d0;
}

.connectors-list__connectors {
	margin: auto;
	max-width: 1200px;
	display: flex;
	flex-flow: row wrap;
	justify-content: start;
	gap: 30px;
}

.connectors-list__no-connector {
	text-align: center;
	width: 100%;
	margin-top: 50px;
	font-size: 17px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: var(--sl-color-neutral-600);
}

.connectors-list__no-connector sl-icon {
	font-size: 30px;
}

.connectors-list__no-connector-title {
	font-size: 20px;
	margin-bottom: 3px;
}

.connectors-list__connectors {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.connectors-list__card {
	background-color: var(--bg-primary);
	padding: 50px;
	border-radius: var(--radius);
	box-shadow: var(--sl-shadow-small);
	text-align: center;
	border: 1px solid var(--sl-color-neutral-200);
	transition:
		background-color 0.3s,
		border 0.3s;
	cursor: pointer;
	position: relative;
	height: 315px;
}

.connectors-list__card:hover {
	background-color: var(--sl-color-primary-50);
	border: 1px solid var(--sl-color-primary-200);
}

.connectors-list__card-beta-label,
.connectors-list__card-coming-label {
	width: max-content;
	position: absolute;
	right: 10px;
	top: 10px;
	border: 1px solid var(--sl-color-primary-300);
	color: var(--sl-color-primary-400);
	padding: 0 12px;
	font-size: 12px;
	border-radius: 3px;
}

.connectors-list__card-coming-label {
	border: 1px solid var(--sl-color-neutral-400);
	color: var(--sl-color-neutral-500);
}

.connectors-list__card-logo > img {
	height: 70px;
	width: auto;
	padding: 5px;
	margin: 0 auto 30px auto;
}

.connectors-list__card-unknown-logo {
	background-color: var(--bg-gray);
	color: var(--text-primary);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius);
	margin: 0 auto 30px auto;
	font-size: 22px;
}

.connectors-list__card-label {
	font-weight: 600;
}

.connectors-list__card-type {
	margin-top: 10px;
}

.connectors-list__card-summary {
	margin-top: 10px;
	font-size: 15px;
	opacity: 0.9;
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.connectors-list__card-contact-us,
.connectors-list__card-update-version {
	margin-top: 10px;
	font-size: 12px;
	font-weight: 500;
	color: var(--sl-color-neutral-500);
}

.connectors-list__card-update-version {
	color: var(--sl-color-danger-500);
}

.connectors-list__card--potential {
	background-color: var(--sl-color-neutral-50);
	cursor: default;
}

.connectors-list__card--potential:hover {
	background-color: var(--sl-color-neutral-50);
	border: 1px solid var(--sl-color-neutral-200);
}

.connectors-list__feedback {
	border: 2px dashed var(--sl-color-neutral-200);
	background-color: var(--sl-color-neutral-50);
	border-radius: var(--radius);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 50px;
	flex-flow: column;
	gap: 15px;
	color: var(--sl-color-neutral-600);
	height: 315px;
}

.connectors-list__feedback sl-icon {
	font-size: 40px;
}

.connectors-list__feedback .connectors-list__feedback-message {
	font-size: 17px;
}

.connectors-list__feedback-message a {
	color: var(--sl-color-primary-600);
	text-decoration: underline;
}

.connectors-list__documentation > *:first-child {
	margin-top: 0;
}

.connectors-list__documentation-drawer::part(header) {
	flex-flow: row-reverse;
}

.connectors-list__documentation-drawer::part(header-actions) {
	padding-right: 10px;
}

.connectors-list__documentation-drawer::part(title) {
	padding-left: 0;
}

.connectors-list__documentation-drawer::part(body) {
	padding-top: 0;
	padding-bottom: 40px;
}

.connectors-list__documentation-drawer-label {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
}

.connectors-list__documentation-drawer-label sl-button::part(base) {
	min-width: 110px;
}

.connectors-list__documentation {
	margin: 0 12px;
}

.connectors-list__documentation > p {
	padding-top: 1em;
}

.connectors-list__documentation blockquote {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 20px 0 0;
	padding: 2rem;
	background-color: #f6f6f6;
	border-top: 1px solid #ccc;
	color: #555;
	font: 14px/1.5 monospace;
}

.connectors-list__oauth-not-configured {
	margin: 0 12px;
	color: var(--sl-color-danger-600);
}

.connectors-list__oauth-not-configured a {
	color: var(--sl-color-neutral-600);
	text-decoration: underline;
}

@media screen and (max-width: 1200px) {
	.connectors-list__card {
		padding: 40px 20px;
	}
}
