.connectors-list sl-breadcrumb::part(base) {
	justify-content: center;
}

.connectors-list .route-content {
	margin: auto;
}

.connectors-list__search-bar {
	max-width: 1200px;
	margin: auto;
	margin-bottom: 30px;
}

.connectors-list__connectors {
	margin: auto;
	max-width: 1200px;
	display: flex;
	flex-flow: row wrap;
	justify-content: start;
	gap: 30px;
}

.connectors-list__connectors .card {
	width: calc(33.333333% - 20px);
}

.connectors-list__no-connector {
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	gap: 10px;
	margin-top: 30px;
	font-size: 17px;
	opacity: 0.7;
}

.connectors-list__no-connector sl-icon {
	font-size: 30px;
}
