.login {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login__container {
	width: 500px;
	transform: translateY(-80px);
}

.login__logo {
	margin-bottom: 40px;
}

.login__logo > img {
	max-width: 230px;
	margin: auto;
}

.login__heading {
	text-align: center;
}

.login__heading h1 {
	font-weight: 600;
	margin-top: 0;
}

.login__form {
	display: flex;
	flex-flow: column;
}

.login__form input {
	flex: 1 1 auto;
	font-family: inherit;
	font-weight: inherit;
	min-width: 0px;
	color: var(--sl-input-color);
	border: medium;
	background: inherit;
	box-shadow: none;
	margin: 0px;
	cursor: inherit;
	appearance: none;
	height: calc(var(--sl-input-height-medium) - var(--sl-input-border-width) * 2);
	padding: 0 var(--sl-input-spacing-medium);
	background-color: var(--sl-input-background-color);
	border: solid var(--sl-input-border-width) var(--sl-input-border-color);
	border-radius: var(--sl-input-border-radius-medium);
	font-size: var(--sl-input-font-size-medium);
	transition:
		var(--sl-transition-fast) color,
		var(--sl-transition-fast) border,
		var(--sl-transition-fast) box-shadow,
		var(--sl-transition-fast) background-color;
}

.login__form input:hover {
	background-color: var(--sl-input-background-color-hover);
	border-color: var(--sl-input-border-color-hover);
}

.login__email {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-bottom: 0 !important;
}

.login__password {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.login__reset-password {
	color: var(--sl-color-primary-500);
	font-size: 14px;
	width: fit-content;
	margin-left: auto;
	margin-top: 5px;
}

.login__button {
	margin-top: 25px;
}
