.connectorSettings .settings {
	max-width: 900px;
	margin: auto;
	padding: 0;
	padding-left: 30px;
	padding-right: 30px;
}

.connectorSettings .basic .inputWrapper {
	margin-bottom: 30px;
}

.connectorSettings .basic .switchWrapper {
	margin: 50px 0;
}

.connectorSettings sl-select.strategy {
	max-width: fit-content;
}

.connectorSettings sl-input.name {
	max-width: 280px;
}

.connectorSettings sl-input.businessIDName,
.connectorSettings sl-input.businessIDLabel {
	max-width: 500px;
}

.connectorSettings sl-input.name,
.connectorSettings sl-input.businessIDName,
.connectorSettings sl-input.businessIDLabel {
	padding-top: 2em;
}

.connectorSettings sl-input.host {
	max-width: 350px;
}

.connectorSettings .eventConnections {
	margin-bottom: 50px;
}

.connectorSettings .eventConnectionLabel {
	font-weight: 600;
}

.connectorSettings .saveWrapper {
	text-align: center;
}

.connectorSettings .saveButton {
	min-width: 180px;
	display: inline-block;
}
