.Header {
	padding-bottom: 15px;
	border-bottom: 1px solid var(--bg-transparent);
}

.Header sl-select {
	width: fit-content;
	min-width: 250px;
	max-width: 350px;
	border: 0;
}

.Header sl-select::part(control) {
	background-color: var(--bg-transparent);
	color: var(--text-onaccent);
	border: 0;
	font-size: 14px;
	padding: 12px 0;
}

.Header sl-select sl-menu-item::part(base) {
	font-size: 14px;
}

.Header .account {
	display: flex;
	align-items: center;
	gap: 25px;
}

.Header .account sl-icon {
	font-size: 23px;
	color: var(--color-primary-300);
}

.Header .account sl-avatar::part(base) {
	background-color: transparent;
	width: 40px;
	height: 40px;
}

.Header .account sl-avatar::part(image) {
	border: 2px solid var(--bg-transparent);
}
