.StyledGrid {
    background-color: var(--bg-primary);
    border-radius: var(--radius);
    border: 1px solid var(--sl-color-neutral-200);
    box-shadow: var(--sl-shadow-small);
    overflow: hidden;
}

.StyledGrid .GridHeaderRow {
    background-color: var(--bg-gray);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.StyledGrid .Grid .GridHeaderCell,
.StyledGrid .Grid .GridCell {
    background-color: var(--bg-primary);
    padding: 15px 0;
}

.StyledGrid .cellContent {
    padding: 0 20px;
    width: fit-content;
}

.StyledGrid .Grid .GridHeaderCell {
    font-size: 13px;
    background-color: var(--bg-gray);
}

.StyledGrid .Grid .GridHeaderCell .cellContent {
    border-left: 3px solid var(--border-primary);
}

.StyledGrid .Grid .GridHeaderCell.first .cellContent,
.StyledGrid .Grid .GridHeaderCell.empty .cellContent {
    border-left: 0;
}

.StyledGrid .Grid .GridHeaderCell.first {
    border-top-left-radius: var(--radius);
}

.StyledGrid .Grid .GridHeaderCell.last {
    border-top-right-radius: var(--radius);
}

.StyledGrid .Grid .GridCell {
    font-size: 15px;
}

.StyledGrid .Grid .GridRow.even {
    background-color: var(--bg-gray);
}

.StyledGrid .Grid .GridRow.last {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.StyledGrid .Grid .GridRow.even .GridCell,
.StyledGrid .Grid .GridNestedRows.even .GridRow.parent .GridCell {
    background-color: var(--bg-gray);
}

.StyledGrid .Grid .GridNestedRows.even {
    background-color: var(--bg-gray);
}

.StyledGrid .Grid .GridRow.last .GridCell.first {
    border-bottom-left-radius: var(--radius);
}

.StyledGrid .Grid .GridRow.last .GridCell.last {
    border-bottom-right-radius: var(--radius);
}

.StyledGrid .Grid .noRows,
.StyledGrid .Grid .loading {
    background-color: var(--bg-primary);
    border-radius: var(--radius);
}
