.StyledGrid .Grid {
    border-radius: var(--radius);
    box-shadow: var(--sl-shadow-large);
}

.StyledGrid .Grid .GridHeaderCell,
.StyledGrid .Grid .GridCell,
.StyledGrid .Grid .actions {
    background-color: var(--bg-primary);
    padding: 15px 0;
}

.StyledGrid .cellContent {
    padding: 0 20px;
}

.StyledGrid .Grid .GridHeaderCell {
    font-size: 13px;
    background-color: var(--bg-gray);
}

.StyledGrid .Grid .GridHeaderCell .cellContent {
    border-left: 3px solid var(--border-primary);
}

.StyledGrid .Grid .GridHeaderCell.first .cellContent,
.StyledGrid .Grid .GridHeaderCell.empty .cellContent {
    border-left: 0;
}

.StyledGrid .Grid .GridHeaderCell.first {
    border-top-left-radius: var(--radius);
}

.StyledGrid .Grid .GridHeaderCell.last {
    border-top-right-radius: var(--radius);
}

.StyledGrid .Grid .GridCell {
    font-size: 15px;
}

.StyledGrid .Grid .GridRow.even .GridCell,
.StyledGrid .Grid .GridRow.even .actions,
.StyledGrid .Grid .GridNestedRows.even .GridRow.parent .GridCell {
    background-color: var(--bg-gray);
}

.StyledGrid .Grid .GridNestedRows.even {
    background-color: var(--bg-gray);
}

.StyledGrid .Grid .GridRow.last .GridCell.first {
    border-bottom-left-radius: var(--radius);
}

.StyledGrid .Grid .GridRow.last .GridCell.last {
    border-bottom-right-radius: var(--radius);
}

.StyledGrid .Grid .GridRow .actions {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.StyledGrid .Grid .GridRow.last .actions {
    border-bottom-right-radius: var(--radius);
}
