.Button {
    display: flex;
    background-color: var(--bg-neutral);
    align-items: center;
    justify-content: center;
    padding: 10px 25px 10px 35px;
    column-gap: 10px;
    border-radius: 5px;
    color: var(--color-neutral);
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 1px 5px 0 var(--shadow-primary);
}

.Button > i {
    font-size: 17px;
}

.Button {
    background-color: var(--bg-neutral);
    color: var(--color-neutral);
}

.Button.primary {
    background-color: var(--bg-accent);
    color: var(--color-accent);
}

.Button.red {
    background-color: var(--bg-red);
    color: var(--color-red);
}

.Button.green {
    background-color: var(--bg-green);
    color: var(--color-green);
}

.Button.yellow {
    background-color: var(--bg-yellow);
    color: var(--color-yellow);
}
























