.list-tile {
	border: 1px solid var(--sl-color-neutral-200);
	padding: 18px 25px;
	border-radius: var(--radius);
	background-color: var(--bg-primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition:
		background-color 0.3s,
		border 0.3s;
}

.list-tile--show-hover:hover {
	background-color: var(--sl-color-primary-50);
	border: 1px solid var(--sl-color-primary-200);
}

.list-tile--disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.list-tile--disabled:hover {
	background-color: var(--bg-primary);
	border: 1px solid var(--sl-color-neutral-200);
}

.list-tile__content {
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-areas:
		'icon name'
		'icon description';
	align-items: center;
}

.list-tile--disabled:hover {
	background-color: transparent;
}

.list-tile__icon {
	grid-area: icon;
}

.list-tile__icon sl-icon {
	font-size: 25px;
}

.list-tile__name {
	grid-area: name;
	font-weight: 600;
	user-select: none;
}

.list-tile__description {
	grid-area: description;
	font-size: 14px;
}

.list-tile__disabling-reason {
	color: var(--sl-color-danger-600);
}
