.grid {
	display: grid;
	background-color: var(--bg-primary);
	border-radius: var(--radius);
	border: 1px solid var(--sl-color-neutral-200);
	overflow: auto;
	position: relative;
}

.grid::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.grid::-webkit-scrollbar-thumb {
	background: var(--sl-color-neutral-300);
	border-radius: 5px;
}

.grid::-webkit-scrollbar-track {
	background: transparent;
}

.grid__header-row {
	background-color: var(--bg-gray);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.grid__header-cell {
	color: var(--text-light);
	font-weight: 600;
}

.grid__header-cell,
.grid__cell {
	background-color: var(--bg-primary);
	padding: 15px 0;
}

.grid__cell-content {
	display: flex;
	align-items: center;
	gap: 7px;
}

.grid__header-explanation-icon {
	color: var(--sl-color-neutral-500);
}

.grid__header-explanation-tooltip::part(body) {
	background-color: var(--sl-color-primary-500);
	padding: 12px;
	font-size: 13px;
}

.grid__header-explanation-tooltip::part(base__arrow) {
	background-color: var(--sl-color-primary-500);
}

sl-popup::part(arrow) {
	background-color: var(--sl-color-primary-500);
}

.grid__row--selected .grid__cell {
	background-color: var(--sl-color-primary-50) !important;
}

.grid__cell-content-object {
	font-family: var(--monospace-fonts);
	background-color: var(--sl-color-neutral-100);
	font-size: 13px;
	border-radius: 5px;
	padding: 0 3px;
	transition: background-color 0.3s;
}

.grid__row--selected .grid__cell-content-object {
	background-color: var(--sl-color-primary-100);
}

.grid__cell-content {
	padding: 0 20px;
	width: fit-content;
}

.grid__header-cell.grid__cell--center .grid__cell-content,
.grid__header-cell.grid__cell--header-center .grid__cell-content,
.grid__cell.grid__cell--center .grid__cell-content {
	margin: auto;
}

.grid__header-cell.grid__cell--right .grid__cell-content,
.grid__header-cell.grid__cell--header-right .grid__cell-content,
.grid__cell.grid__cell--right .grid__cell-content {
	margin-left: auto;
}

.grid__header-cell.grid__cell--right .grid__cell-content,
.grid__cell.grid__cell--right .grid__cell-content {
	margin-left: auto;
}

.grid__header-cell {
	font-size: 14px;
	background-color: var(--bg-gray);
}

.grid__header-cell.grid-el--first .grid__cell-content,
.grid__header-cell--empty .grid__cell-content {
	border-left: 0;
}

.grid__header-cell.grid-el--first {
	border-top-left-radius: var(--radius);
}

.grid__header-cell.grid-el--last {
	border-top-right-radius: var(--radius);
}

.grid__cell {
	font-size: 14px;
}

.grid--show-column-border .grid__header-cell {
	border-right: 1px solid var(--border-primary);
}

.grid--show-row-border .grid__header-cell {
	border-bottom: 1px solid var(--border-primary);
}

.grid--show-column-border .grid__cell {
	border-right: 1px solid var(--border-primary);
}

.grid--show-row-border .grid__row .grid__cell {
	border-bottom: 1px solid var(--border-primary);
}

.grid--hide-content .grid__header-row,
.grid--hide-content .grid__row,
.grid--hide-content .grid__nested-rows {
	opacity: 0;
	height: 0;
}

.grid__row.grid-el--last {
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.grid__row,
.grid__row .grid__cell {
	transition: background-color 0.3s;
}

.grid__row--clickable:hover,
.grid__row--clickable:hover .grid__cell {
	background-color: var(--bg-gray);
}

.grid__row.grid-el--last .grid__cell.grid-el--first {
	border-bottom-left-radius: var(--radius);
}

.grid__row.grid-el--last .grid__cell.grid-el--last {
	border-bottom-right-radius: var(--radius);
}

.grid__no-rows-text {
	color: var(--sl-color-neutral-400);
	display: flex;
	flex-flow: column;
	gap: 7px;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	max-width: 300px;
}

.grid__no-rows-text sl-icon {
	color: var(--sl-color-neutral-400);
	font-size: 25px;
}

.grid__no-rows,
.grid__loading {
	background-color: var(--bg-primary);
	border-radius: var(--radius);
	text-align: center;
}

.grid__no-rows {
	padding-top: 50px;
	padding-bottom: 150px;
}

.grid__loading {
	padding: 120px 30px 170px 30px;
}

.grid--sortable .grid__header-row,
.grid--sortable .grid__row {
	padding-left: 30px;
}

.grid--sortable .grid__nested-rows .grid__row-expand {
	left: calc(var(--parent-indentation) + 30px);
}

.grid--sortable .grid__nested-rows .grid__row--children::before {
	left: calc(var(--children-indentation) + 30px);
}

.grid--sortable .grid__sortable-rows .grid__row,
.grid--sortable .grid__sortable-rows .grid__row .grid__cell {
	background-color: var(--sl-color-primary-50);
	font-weight: 500;
}

.grid--sortable .grid__sortable-rows .grid__nested-rows .grid__row--children,
.grid--sortable .grid__sortable-rows .grid__nested-rows .grid__row--children .grid__cell,
.grid--sortable .grid__sortable-rows .grid__nested-rows .grid__nested-rows .grid__row--parent,
.grid--sortable .grid__sortable-rows .grid__nested-rows .grid__nested-rows .grid__row--parent .grid__cell {
	background-color: var(--sl-color-primary-100) !important;
	font-weight: 500 !important;
}

.grid--sortable .grid__sortable-rows .grid__nested-rows--expanded > .grid__row--parent,
.grid--sortable .grid__sortable-rows .grid__nested-rows > .grid__row--children:last-child,
.grid--sortable .grid__sortable-rows .grid__nested-rows > .grid__nested-rows--children:last-child,
.grid--sortable .grid__sortable-rows .grid__nested-rows > .draggable-wrapper > .grid__row--children:last-child,
.grid--sortable .grid__sortable-rows .grid__nested-rows > .draggable-wrapper > .grid__nested-rows--children:last-child {
	border-top: 0 !important;
	border-bottom: 0 !important;
}

.grid--sortable .draggable-wrapper {
	position: relative;
}

.grid--sortable .draggable-wrapper__handle {
	background-color: transparent;
	border: 0;
	font-size: 21px;
	position: absolute;
	left: 10px;
	height: 30px;
	display: flex;
	align-items: center;
	cursor: grab;
	width: 30px;
	top: 15px;
	z-index: 10;
}

.grid--sortable .draggable-wrapper__handle sl-icon {
	color: var(--sl-color-primary-600);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.grid--sortable .overlay-row {
	cursor: grabbing;
	display: flex;
	background-color: var(--sl-color-primary-50);
	gap: 5px;
	border-radius: var(--radius);
	align-items: center;
	font-weight: 500;
	width: max-content;
	box-shadow: 0px 0px 15px 1px var(--sl-color-primary-50);
	border: 1px solid var(--sl-color-primary-200);
}

.grid--sortable .grid__nested-rows .overlay-row {
	background-color: var(--sl-color-primary-100);
}

.grid--sortable .overlay-row__handle {
	background-color: transparent;
	border: 0;
	font-size: 21px;
	cursor: grabbing;
	position: relative;
	left: 10px;
}

.grid--sortable .overlay-row__handle sl-icon {
	color: var(--sl-color-primary-600);
	display: block;
	height: 100%;
}

.grid--sortable .overlay-row__name {
	color: var(--sl-color-primary-600);
}
