.Sidebar {
    background-color: var(--bg-dark);
    width:100px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding: 20px 0 40px 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.Sidebar .Items {
    margin-top: 0px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.Sidebar .Items sl-button {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.Sidebar .Items sl-button sl-icon {
    font-size: 28px;
    color: var(--text-gray);
}
