.connection-wrapper__links {
	display: flex;
	gap: 20px;
	padding: 10px 30px;
	border-bottom: 1px solid var(--sl-color-neutral-200);
	height: 70px;
	align-items: center;
}

.connection-wrapper__link {
	cursor: pointer;
	opacity: 0.6;
	position: relative;
	padding: 10px;
	display: flex;
	gap: 8px;
	align-items: center;
	transition:
		opacity 0.3s,
		color 0.3s;
}

.connection-wrapper__link:hover {
	opacity: 0.8;
}

.connection-wrapper__link sl-icon {
	transition: color 0.3s;
}

.connection-wrapper__link--selected {
	opacity: 1;
	color: var(--color-primary-600);
}

.connection-wrapper__link--selected sl-icon {
	color: var(--color-primary-600);
}
