.organization {
	height: 100%;
	background-color: var(--bg-gray);
}

.organization__content {
	max-width: 950px;
	margin: 0px auto;
	padding: 30px;
	animation: fade-in-entrance 0.5s;
}

.organization__content > a {
	margin-bottom: 15px;
	display: block;
}

.organization__title {
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 15px;
}

.organization__entry {
	margin-bottom: 15px;
}

.organization__entry:last-child {
	margin-bottom: 0;
}
