.syntax-highlight pre {
    background-color: transparent!important;
    padding: 0!important;
    margin: 0!important;
}

.syntax-highlight * {
    font-family: monospace!important;
    font-size: 13px!important;
}