.ConnectionSettings .settings::part(nav) {
	flex-basis: 300px;
}

.ConnectionSettings .settings::part(body) {
	overflow: visible;
}

.ConnectionSettings .settings > sl-tab-panel::part(base) {
    padding: 0 150px;
}

.ConnectionSettings .panelTitle {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 30px;
}
