
.right-buttons { font-size: 2.5rem; }

.sidebar { border-right: 1px solid #dadde1; font-size: 0.925em; }
.sidebar .sidebar-scrollbox { padding: 10px 15px 10px 15px; }

.chapter li.chapter-item { align-items: center; margin-block-start: 3px; position: relative; }
.chapter li.chapter-item a { border-radius: 5px; flex-grow: 1; padding: 5px 5px 5px 10px; transition: background-color .3s; }
.chapter li.chapter-item a:first-child:hover { background: #f3f3ff; }
.chapter li.chapter-item a.active { background: #f3f3ff; }
.chapter li.chapter-item a:first-child { width: 100%; padding-left: 25px; }
.chapter li.chapter-item a.toggle { align-items: center; display: flex; font-size: 0; left: 5px; padding: 0; position: absolute; }
.chapter li.chapter-item a.toggle::before { align-items: center; content: '\f054'; display: block; display: flex; font-family: 'FontAwesome'; font-size: 12px; height: 15px; justify-content: center; transition: transform .3s; width: 15px; will-change: transform; }
.chapter li.chapter-item.expanded a.toggle::before { transform: rotate(90deg) }
.chapter strong { display: none; }

h1 { font-size: 3em; font-weight: normal; }
h2 { font-size: 2em; font-weight: normal; margin-block-start: 1.5em; }
h3 { font-size: 1.5em; font-weight: normal; margin-block-start: 1.5em; }
h4 { font-size: 1.3em; font-weight: normal; margin-block-start: 1.3em; }

.content main { margin-inline-start: 120px; }
.content p, .content ul { line-height: 1.8em; }
.content li { margin-block-start: .5em; }
.content details summary { color: #218aac; cursor: pointer; }
.content details summary:hover { color: #4cb3d4; }
.content img, .content video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content blockquote {
    border-left: 5px solid #4cb3d4;
    border-block-start-width: 0;
    border-block-end-width: 0;
    padding: 10px 20px;
}
.content blockquote li { margin-block-start: .2em }
.content blockquote code { background: #e3f1f6; }

pre {
    margin-bottom: 20px;
}
.hljs {
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 #0000001a;
    font-size: 1em;
}
.hljs.language-sh, .hljs.language-sh .hljs-built_in {
    background: #333;
    color: #eaeaea;
}

pre > code { border: 1px solid #0000001a; padding: 2rem 2rem 2.2rem 2rem; }

table thead th {
    border: 1px var(--table-border-color) solid;
    border-bottom-width: 2px;
    font-weight: 600;
    padding: 2rem;
}
table td {
    line-height: 1.6em;
    padding: 10px 12px;
}
table td .hljs { background: none; box-shadow: none; }

:root {
    --content-max-width: 972px;
    --fg: #1C1E21;
    --icons: #000;
    --quote-bg: #eef9fd;
    --quote-border: #4cb3d4;
    --sidebar-bg: #fbfcff;
    --table-alternate-bg: #f3f4f7;
    --table-border-color: #dadde1;
    --table-header-bg: #f3f4f7;
    --theme-hover: #fbfcff;
}
