.sl-toast-stack {
    left: calc(50% + 140px);
    transform: translateX(-50%);
    overflow: visible!important;
}

body.isFullscreen .sl-toast-stack {
	left: 50%;
}

.sl-toast-stack sl-alert::part(base) {
	color: var(--text-onaccent);
	border: 0;
	box-shadow: 2px 1px 19px 0px #00000060;
}

.sl-toast-stack sl-alert::part(icon) {
	color: var(--text-onaccent);
}

.sl-toast-stack sl-alert::part(close-button__base) {
	color: var(--text-onaccent);
}
