:root {
	--profiles-toolbar-height: 56px;
	--profiles-footer-height: 80px;
}

.profiles-list .toolbar {
	justify-content: space-between;
	height: 90px;
	border: 1px solid var(--border-primary);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: none;
}

.profiles-list__content {
	height: calc(100vh - var(--header-height) - var(--profiles-toolbar-height) - 84px);
	border: 1px solid var(--border-primary);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.profiles-list__content .grid__cell {
	padding-top: 10px;
	padding-bottom: 10px;
}

.profiles-list__identity-resolution {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: start;
	position: relative;
	bottom: 5px;
}

.profiles-list__identity-resolution--is-first-execution {
	bottom: 0;
}

.profiles-list__identity-resolution-button {
	margin-bottom: 6px;
}

.profiles-list__identity-resolution-button::part(base) {
	min-width: 220px;
}

.profiles-list__identity-resolution-spinner {
	--track-color: var(--text-onaccent);
	position: relative;
	bottom: 1px;
}

.profiles-list__identity-resolution-progress {
	position: absolute;
	bottom: -18px;
}

.profiles-list__identity-resolution-since-start,
.profiles-list__identity-resolution-end-time {
	font-size: 12px;
	text-align: center;
	color: var(--color-primary-500);
	width: max-content;
}

.profiles-list .grid {
	border: none;
}

.profiles-list .grid::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.profiles-list .grid::-webkit-scrollbar-thumb {
	background: var(--sl-color-neutral-300);
	border-radius: 5px;
}

.profiles-list .grid::-webkit-scrollbar-track {
	background: transparent;
}

.profiles-list .grid__header-row {
	border-radius: 0;
}

.profiles-list .grid__row.grid-el--last {
	border-radius: 0;
}

.profiles-list__toggle-columns sl-option sl-switch {
	--thumb-size: 14px;
}

.profiles-list__toggle-columns sl-option sl-switch::part(base) {
	font-size: 14px;
	gap: 5px;
}

.profiles-list__toggle-columns::part(panel) {
	max-height: calc(100vh - 220px) !important;
	overflow: auto;
}

.profiles-list__toggle-columns sl-menu {
	overflow: hidden;
}

.profiles-list__grid-container {
	position: relative;
	height: 100%;
}

.profiles-list__grid-container .grid {
	overflow-y: auto;
	max-height: calc(100% - var(--profiles-footer-height));
	border-radius: 0;
	border-bottom: 0px;
	box-shadow: none;
	background: var(--bg-gray);
}

.profiles-list__grid-container .grid__no-rows,
.profiles-list__grid-container .grid__loading {
	background-color: var(--bg-gray);
	padding: 50px 0;
	min-height: 150px;
}

.profiles-list__grid-container .grid__header-row {
	position: sticky;
	top: 0;
	border-bottom: 1px solid var(--sl-color-neutral-200);
}

.profiles-list__footer {
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: var(--bg-primary);
	border-top: 1px solid var(--sl-color-neutral-200);
	z-index: 5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.profiles-list__footer-total {
	display: flex;
	align-items: center;
	gap: 32px;
}

.profiles-list__footer-found {
	position: relative;
}

.profile-drawer::part(title) {
	display: none;
}

.profile-drawer::part(header) {
	position: absolute;
	min-height: 50px;
	right: 0;
}

.profile-drawer::part(panel) {
	max-height: calc(100% - 80px);
}

.profile-drawer--loading::part(panel) {
	overflow: hidden;
}

.profile-drawer::part(body) {
	padding-bottom: 0;
}

.profile-drawer sl-tab-group sl-tab-panel::part(base) {
	max-height: calc(100% - 200px);
	overflow: auto;
	margin-top: 10px;
	padding-top: 0;
	padding-bottom: 5px;
}

.profile-drawer--loading sl-tab-group sl-tab-panel::part(base) {
	overflow: hidden;
}

.profile-drawer__top-section {
	margin: 30px 0 20px 0;
	display: flex;
	gap: 15px;
	align-items: center;
}

.profile-drawer__first-name,
.profile-drawer__last-name {
	font-weight: 600;
}

.profile-drawer__information,
.profile-drawer__mpid {
	font-size: 14px;
}

.profile-drawer__mpid sl-icon {
	position: relative;
	top: 1px;
	color: var(--sl-color-neutral-500);
}

.profile-drawer__mpid sl-tooltip::part(body) {
	background-color: var(--sl-color-primary-500);
	padding: 12px;
	font-size: 13px;
}

.profile-drawer__mpid sl-tooltip::part(base__arrow) {
	background-color: var(--sl-color-primary-500);
}

.profile-drawer__customize {
	font-size: 13px;
	font-weight: 600;
}

.profile-drawer__customize-link {
	color: var(--sl-color-primary-600);
	text-decoration: underline;
	cursor: pointer;
}

.profile-drawer__mpid-value {
	color: #5c5c5c;
	font-family: var(--monospace-fonts);
}

.profile-drawer sl-spinner {
	margin: 15px auto;
	display: block;
}

.profile-drawer__events > *,
.profile-drawer__identities > * {
	visibility: hidden;
}

.profile-drawer__events > sl-spinner,
.profile-drawer__identities > sl-spinner {
	visibility: visible;
}

.profile-drawer__events--selected > *,
.profile-drawer__identities--selected > * {
	visibility: visible;
}

.profile-drawer__attributes {
	font-size: 14px;
}

.profile-drawer__attribute-key {
	font-weight: 500;
	font-size: 13px;
	position: relative;
	padding-left: var(--property-indentation);
	margin-right: 5px;
}

.profile-drawer__attribute-object {
	font-family: var(--monospace-fonts);
	background-color: var(--sl-color-neutral-100);
	width: fit-content;
	border-radius: 5px;
	font-size: 13px;
	padding: 0 3px;
}

.drawer-attributes {
	margin-bottom: 10px;
	user-select: none;
	display: flex;
	align-items: start;
	padding-right: 24px;
}

.drawer-attributes--parent {
	cursor: pointer;
}

.drawer-attribute__value {
	display: flex;
	gap: 5px;
	align-items: start;
	font-size: 13px;
	word-break: break-all;
	position: relative;
}

.drawer-attribute__value-copy {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.drawer-attribute__value-copy::part(button) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	font-size: 0;
}

.drawer-attribute__value-copy::part(tooltip__body) {
	font-size: 13px;
}

.drawer-attribute__value-copy::part(copy-icon) {
	color: var(--sl-color-neutral-500);
}

.drawer-attribute__preview {
	font-family: var(--monospace-fonts) !important;
	color: var(--sl-color-neutral-500);
	font-weight: 200;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	display: inline-block;
	position: relative;
	top: 2px;
}

.drawer-attribute__preview-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 0%,
		rgb(255 255 255 / 70%) 80%,
		rgb(255 255 255 / 80%) 90%,
		rgba(255, 255, 255, 1) 100%
	);
}

.drawer-attribute__property-padding {
	min-width: 24px;
	display: inline-block;
}

.drawer-attribute__property-caret {
	color: var(--sl-color-neutral-400);
	font-size: 12px;
	margin-right: 8px;
	cursor: pointer;
	position: relative;
}

.drawer-attribute__property-caret::part(svg) {
	width: 13px;
	height: 13px;
	transition: transform 0.3s;
}

.drawer-nested-attributes--expand > .drawer-attributes > .drawer-attribute__property-padding > sl-icon::part(svg) {
	transform: rotate(90deg);
}

.profile-drawer__indentation-icon {
	position: absolute;
	left: calc(var(--property-indentation) - 20px);
	width: 12px;
	height: 12px;
	border-left: 2px solid var(--sl-color-neutral-400);
	border-bottom: 2px solid var(--sl-color-neutral-400);
	border-bottom-left-radius: 2px;
	top: 3px;
}

.profile-drawer__events {
	padding-left: 7.5px;
	margin-top: 10px;
}

.profile-drawer__event {
	position: relative;
	padding-left: 20px;
	padding-bottom: 20px;
	border-left: 4px solid var(--sl-color-neutral-200);
}

.profile-drawer__event:only-child {
	padding-left: 0;
	border-left: 0;
}

.profile-drawer__event:last-child {
	border-color: transparent;
}

.profile-drawer__event::before {
	content: '';
	width: 13px;
	height: 13px;
	border-radius: 100%;
	background-color: var(--sl-color-primary-500);
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(calc(-50% - 2px));
}

.profile-drawer__event:only-child::before {
	display: none;
}

.profile-drawer__event-head {
	display: flex;
	gap: 5px;
	align-items: end;
	position: relative;
	top: -7px;
	margin-bottom: -7px;
}

.profile-drawer__event-logo {
	cursor: pointer;
}

.profile-drawer__event-sent-at {
	font-size: 13px;
	opacity: 0.8;
	position: relative;
	left: 2px;
}

.profile-drawer__identity {
	margin-bottom: 15px;
	--logo-width: 22px;
	--logo-gap: 5px;
}

.profile-drawer__identity-head {
	display: inline-flex;
	gap: 3px;
	align-items: end;
}

.profile-drawer__identity-connection {
	display: flex;
	gap: var(--logo-gap);
	align-items: center;
}

.profile-drawer__action::part(body) {
	pointer-events: all;
}

.profile-drawer__action .profile-drawer__identity-pipeline-link a {
	color: var(--sl-color-primary-300);
}

.profile-drawer__identity-pipeline-link {
	color: var(--sl-color-primary-600);
	text-decoration: underline;
	cursor: pointer;
}

.profile-drawer__identity-connection-logo .little-logo {
	position: relative;
	top: 1px;
}

.profile-drawer__identity-connection-logo .little-logo > svg {
	width: var(--logo-width);
	height: auto;
}

.profile-drawer__identity-connection-logo,
.profile-drawer__identity-connection-name {
	cursor: pointer;
}

.profile-drawer__identity-connection-name {
	padding-top: 4px;
}

.profile-drawer__identity-updated-at {
	font-size: 13px;
	opacity: 0.8;
	position: relative;
	left: 2px;
}

.profile-drawer__identity-info {
	padding-left: calc(var(--logo-width) + var(--logo-gap));
}

.profile-drawer__user-id,
.profile-drawer__identity-anonymous-ids {
	font-size: 13px;
	margin-bottom: 2px;
}

.profile-drawer code {
	background-color: var(--sl-color-neutral-100);
	font-size: 13px;
	border-radius: 5px;
	padding: 0 3px;
}
