.connector-alternative-fieldsets {
	margin-top: 50px;
}

.connector-alternative-fieldsets__label {
	font-weight: 600;
	margin-bottom: 10px;
}

.connector-alternative-fieldsets sl-select {
	position: relative;
	z-index: 10;
}

.connector-alternative-fieldsets__help-text {
	font-size: 15px;
	opacity: 0.5;
	text-align: center;
}
