.reset-password {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reset-password__container {
	width: 500px;
	transform: translateY(-80px);
}

.reset-password__logo {
	margin-bottom: 40px;
}

.reset-password__logo > img {
	max-width: 230px;
	margin: auto;
}

.reset-password__heading {
	text-align: center;
}

.reset-password__heading h1 {
	font-weight: 600;
	margin-top: 0;
}

.reset-password__form {
	display: flex;
	flex-flow: column;
}

.reset-password__back-to-login,
.reset-password__email-sent-back-to-login {
	color: var(--sl-color-primary-500);
	font-size: 14px;
	width: fit-content;
	margin-left: auto;
	margin-top: 5px;
}

.reset-password__email-sent-back-to-login {
	display: block;
	margin-right: auto;
	font-size: 16px;
}

.reset-password__button {
	margin-top: 25px;
}

.reset-password__email-sent {
	text-align: center;
	padding: 30px;
	border: 1px solid var(--border-primary);
	border-radius: 5px;
}

.reset-password__email-sent-icon {
	font-size: 31px;
	color: var(--sl-color-primary-600);
}

.reset-password__email-sent-title {
	font-size: 19px;
	color: var(--sl-color-primary-600);
	font-weight: 600;
	margin-bottom: 3px;
}
