.danger-zone {
    border: 1\px solid var(--sl-color-danger-500);
    border-radius: 5px;
    padding: 30px;
    position: relative;
    margin-top: 50px;
}

.danger-zone__title {
    position: absolute;
    left: 20px;
    top: 0;
    transform: translateY(-60%);
    background-color: var(--bg-gray);
    padding: 0 10px;
    color: var(--sl-color-danger-500);
    font-size: 16px;
    font-weight: 600;
}
