.app > header {
	display: grid;
	grid-template-columns: var(--sidebar-width) 1fr auto auto;
	grid-template-areas: 'logo title docs account';
	align-items: center;
	column-gap: 15px;
	height: var(--header-height);
	background: #494bc3;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.header__logo {
	grid-area: logo;
	display: flex;
	align-items: center;
	font-weight: 900;
	font-size: 24px;
	color: #fff;
	border-right: 1px dotted #b0abc5;
	padding-left: 15px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.header__logo > img {
	max-width: 115px;
	width: auto;
	position: relative;
	top: 1px;
}

.header__title {
	grid-area: title;
	font-size: 18px;
	display: flex;
	align-items: baseline;
	gap: 15px;
	position: relative;
	left: -18px;
	color: inherit;
	padding-left: 20px;
	letter-spacing: 0.02em;
}

.header__docs {
	grid-area: docs;
	display: flex;
	align-items: center;
	gap: 6px;
	color: inherit;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	justify-self: end;
	margin-right: 20px;
}

.header__docs:hover {
	text-decoration: none;
}

.header__docs-icon {
	font-size: 16px;
	font-weight: 600;
}

.header__account {
	grid-area: account;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-self: end;
	color: inherit;
	padding-right: 15px;
}

.header__account-avatar {
	cursor: pointer;
}

.header__account-avatar::part(base) {
	width: 40px;
	height: 40px;
	font-size: 18px;
}

.header__passwordless-tooltip {
	width: 220px;
	padding: 15px 20px;
	border-right: 1px solid var(--sl-color-warning-600);
	font-size: 14px;
	color: var(--text-onaccent);
	background-color: var(--sl-color-primary-600);
	border-top-left-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
	border: 1px solid var(--sl-color-primary-600);
	border-right: 0;
}

.header__passwordless-tooltip-title {
	font-weight: 100;
	font-size: 20px;
	margin-bottom: 18px;
	line-height: 1.3;
}

.header__passwordless-create-account {
	margin-top: 16px;
	display: block;
	position: absolute;
	bottom: 15px;
	width: 179px;
}

.header__passwordless-create-account::part(base) {
	background-color: #eee;
	color: #08044d;
	line-height: 2.1rem;
	padding-bottom: 1px;
}

.header__passwordless-create-account::part(base):hover {
	color: #39357b;
}

.header__passwordless-create-account::part(label) {
	font-size: 13px;
}

.header__account-menu-wrapper {
	display: flex;
	padding: 0;
	border: 0;
	overflow: visible;
}

.header__account-menu-wrapper::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 15px solid #fff;
	right: 12px;
	transform: translateY(-100%);
	top: 1px;
}

.header__account-menu-wrapper::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 15px solid var(--sl-color-neutral-300);
	z-index: -1;
	right: 11px;
	transform: translateY(-100%);
	top: 0;
}

.header__account-menu {
	padding: 10px;
	min-width: 250px;
	border-top-right-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	border: 1px solid var(--sl-color-neutral-300);
	border-left: 0;
}

.header__account-menu-heading {
	padding: 12px;
	display: flex;
	gap: 8px;
	align-items: start;
}

.header__account-menu-heading sl-avatar::part(base) {
	width: 35px;
	height: 35px;
	font-size: 15px;
}

.header__account-menu-heading-name {
	font-size: 14px;
	color: var(--sl-color-neutral-800);
	font-weight: 500;
}

.header__account-menu-heading-email {
	font-size: 12px;
	margin-top: -3px;
	color: var(--sl-color-neutral-500);
}

.header__account-menu-item {
	display: flex;
	padding: 5px 12px;
	transition: background-color 0.5s;
	border-radius: 4px;
	font-size: 14px;
	color: var(--sl-color-neutral-600);
	cursor: pointer;
	align-items: center;
	gap: 6px;
	line-height: 1.7;
}

.header__account-menu-item:hover {
	background-color: var(--sl-color-primary-50);
}

.status-dot {
	display: none;
}
