.root-error {
	min-height: 100vh;
	background-color: var(--bg-gray);
	display: flex;
	justify-content: center;
	align-items: center;
}

.root-error__message {
	position: relative;
	top: -100px;
	text-align: center;
}

.root-error__title {
	font-size: 23px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 5px;
}

.root-error__instructions {
	font-size: 18px;
}

.root-error .icon-wrapper sl-icon {
	color: var(--sl-color-primary-500);
}

.root-error__action {
	margin-top: 35px;
}
