.NotFound .routeContent {
	max-width: 700px;
	margin: 0 auto 0 auto;
	padding-top: 150px;
}

.NotFound .routeContent .box {
	padding: 70px 30px;
	text-align: center;
}

.NotFound .routeContent .box .title {
	font-size: 120px;
	font-weight: 600;
	color: var(--color-primary-600);
	text-shadow: 1px 1px 2px var(--text-primary);
}

.NotFound .routeContent .box .description {
	font-size: 18px;
	margin-top: 10px;
}
