.not-found .route-content {
	margin: 0 auto 0 auto;
	padding-top: 100px;
}

.not-found__box {
	padding: 70px 30px;
	text-align: center;
}

.not-found__title {
	font-size: 120px;
	font-weight: 600;
	color: var(--color-primary-600);
	text-shadow: 2px 2px 3px hsl(240deg 6% 10% / 55%);
}

.not-found__description {
	font-size: 18px;
}

.not-found__go-back {
	margin-top: 30px;
}
