.Dashboard {
    min-height: 100vh;
    padding-top: 50px;
}

.Dashboard .content {
    max-width: 1500px;
    margin: auto;
    padding-bottom: 50px;
}

.Dashboard .chart {
    margin-bottom: 30px;
}

.Dashboard .editor {
    display: grid;
    column-gap: 90px;
    row-gap: 30px;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "textarea docs"
        "textarea examples";
}

.Dashboard .editor .title {
    font-size: 21px;
    font-weight: 400;
}

.Dashboard .editor .textarea {
    grid-area: textarea;
    display: flex;
    flex-flow: column;
}

.Dashboard .editor .textarea .controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.Dashboard .editor .textarea .controls .autoapply {
    display: flex;
    gap: 5px;
    align-items: center;
}

.Dashboard .editor .textarea .controls .autoapply label {
    cursor: pointer;
    user-select: none;
}

.Dashboard .editor .textarea .controls .btn {
    margin: unset;
    padding: 10px 30px 10px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dashboard .editor .textarea .controls .btn i {
    font-size: 20px;
}

.Dashboard .editor .textarea .ace_editor {
    width: unset!important;
    border-radius: 10px;
    font-family: monospace;
}

.Dashboard .editor .textarea .ace_editor * {
    font-family: monospace;
}

.Dashboard .editor .textarea .sql-query pre {
    background-color: var(--bg-primary)!important;
    border-radius: 10px;
    padding: 30px!important;
}

.Dashboard .editor .documentation {
    grid-area: docs;
    border-radius: 10px;
    margin: 0;
    height: 100%;
    background-color: transparent!important;
}

.Dashboard .editor .suggestions {
    grid-area: examples;
}
