.connectionsList {}

.connectionsList .connectionsListSpinner {
    display: block;
    margin: 0 auto;
}

.connectionsList .noConnection {
    margin-top: 30px;
    text-align: center;
}

.connectionsList .noConnection .noConnectionText {
    max-width: 500px;
    margin: auto;
    margin-bottom: 15px;
}

.connectionsList .addNewConnection {
    margin-bottom: 10px;
}

.connectionsList .connectionNameCell {
    display: flex;
    gap: 10px;
    align-items: center;
}

.connectionsList .connectionNameCell svg {
    height: 21px;
}
