.anonymous-identity {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}

.anonymous-identity > sl-spinner {
    display: block;
    margin: auto;
}

.anonymous-identity__no-schema {
    max-width: 900px;
    margin: auto;
}

.anonymous-identity__no-schema-title {
    font-size: 23px;
    font-weight: 600;
}

.anonymous-identity__connect-warehouse-button {
    margin: auto;
    margin-top: 15px;
}

.anonymous-identity__save-button {
    max-width: 200px;
    display: block;
    margin: 50px auto 0 auto;
}

.anonymous-identity .comboBoxInput sl-input sl-icon {
    color: var(--sl-color-danger-500);
    font-size: 9px;
}
