.SelectedPropertyMessage {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - 220px);
	height: 70px;
	z-index: 20;
	background-color: var(--bg-primary);
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 17px;
	box-shadow: var(--sl-shadow-small);
	padding: 0 150px;
}

.SelectedPropertyMessage span {
	color: var(--color-primary-600);
	font-weight: 600;
}

.SelectedPropertyMessage .removeSelectedProperty {
	position: absolute;
	right: 40px;
	min-width: 180px;
}
