.ConnectionOverview .routeContent {
    max-width: 1400px;
    margin: auto;
    margin-top: 80px;
}

.ConnectionOverview .routeContent .chart .title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.ConnectionOverview .routeContent .chart .recharts-wrapper {
    margin: auto;
    position: relative;
    left: -20px;
}

.ConnectionOverview .routeContent .importsWrapper {
    margin: 100px auto;
}

.ConnectionOverview .routeContent .importsWrapper .title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.ConnectionOverview .routeContent .importsList {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 5fr;
    max-width: 1350px;
    margin: 0 auto;
    border-radius: var(--radius)
}

.ConnectionOverview .routeContent .importsList > div {
    /* background-color: var(--bg-primary); */
    padding: 10px 15px;
    border-left: 1px solid var(--sl-color-neutral-400);
    border-bottom: 1px solid var(--sl-color-neutral-400)
}

.ConnectionOverview .routeContent .importsList > div.headCell {
    font-weight: 600;
}

.ConnectionOverview .routeContent .importsList > div:first-child {
    border-top: 1px solid var(--sl-color-neutral-400);
    border-top-left-radius: var(--radius);
}

.ConnectionOverview .routeContent .importsList > div:nth-child(2),
.ConnectionOverview .routeContent .importsList > div:nth-child(3) {
    border-top: 1px solid var(--sl-color-neutral-400);
}

.ConnectionOverview .routeContent .importsList > div:nth-child(4) {
    border-top: 1px solid var(--sl-color-neutral-400);
    border-right: 1px solid var(--sl-color-neutral-400);
    border-top-right-radius: var(--radius);
}

.ConnectionOverview .routeContent .importsList > div:nth-child(8),
.ConnectionOverview .routeContent .importsList > div:nth-child(12) {
    border-right: 1px solid var(--sl-color-neutral-400);
}

.ConnectionOverview .routeContent .importsList > div:nth-last-child(4) {
    border-bottom-left-radius: var(--radius);
}

.ConnectionOverview .routeContent .importsList > div:last-child {
    border-bottom-right-radius: var(--radius);
    border-right: 1px solid var(--sl-color-neutral-400);
}

.ConnectionOverview .routeContent .noImport {
    text-align: center;
    font-weight: 600;
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog::part(body) {
	text-align: center;
	padding-bottom: 50px;
	padding-top: 0;
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOptions {
    width: 450px;
    margin: 30px auto;
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOption {
	display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-areas: "icon name";
    border: 1px solid var(--border-primary);
    align-items: center;
    text-align: left;
    column-gap: 20px;
	padding: 20px 25px;
	cursor: pointer;
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOption.selected {
	color: var(--color-primary-600)
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOption:first-child {
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOption:last-child {
	border-top: 0;
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOption sl-icon {
	grid-area: icon;
	margin: auto;
	font-size: 23px;
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOption .name {
	grid-area: name;
}

.ConnectionOverview .nothingToShow {
    text-align: center;
    font-size: 19px;
}
