.ConnectionOverview .chart .chartHead {
    margin-bottom: 20px;
}

.ConnectionOverview .chart .title {
    padding-left: 40px;
    font-weight: 600;
}

.ConnectionOverview .chart .recharts-wrapper {
    margin: auto;
    position: relative;
    left: -20px;
}

.ConnectionOverview .importsWrapper {
    margin: 100px auto 20px auto;
}

.ConnectionOverview .importsWrapper .title {
    margin-bottom: 20px;
    padding-left: 40px;
    font-weight: 600;
}

.ConnectionOverview .importsList {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 3fr;
    max-width: 1350px;
    margin: 0 auto;
    border-radius: var(--radius);
    background-color: var(--bg-primary);
    box-shadow: var(--sl-shadow-small);
}

.ConnectionOverview .importsList > div {
    padding: 10px 15px;
    border-left: 1px solid var(--border-primary);
    border-bottom: 1px solid var(--border-primary)
}

.ConnectionOverview .importsList > div.headCell {
    font-weight: 600;
}

.ConnectionOverview .importsList > div:first-child {
    border-top: 1px solid var(--border-primary);
    border-top-left-radius: var(--radius);
}

.ConnectionOverview .importsList > div:nth-child(2),
.ConnectionOverview .importsList > div:nth-child(3) {
    border-top: 1px solid var(--border-primary);
}

.ConnectionOverview .importsList > div:nth-child(4) {
    border-top: 1px solid var(--border-primary);
    border-right: 1px solid var(--border-primary);
    border-top-right-radius: var(--radius);
}

.ConnectionOverview .importsList > div:nth-child(8),
.ConnectionOverview .importsList > div:nth-child(12) {
    border-right: 1px solid var(--border-primary);
}

.ConnectionOverview .importsList > div:nth-last-child(4) {
    border-bottom-left-radius: var(--radius);
}

.ConnectionOverview .importsList > div:last-child {
    border-bottom-right-radius: var(--radius);
    border-right: 1px solid var(--border-primary);
}

.ConnectionOverview .importsList .cell.error { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.ConnectionOverview .noImport {
    text-align: center;
    background-color: var(--bg-primary);
    border-radius: var(--radius);
    padding: 50px 30px;
    max-width: 1350px;
    margin: auto;
    box-shadow: var(--sl-shadow-small);
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog::part(body) {
	text-align: center;
	padding-bottom: 50px;
	padding-top: 0;
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOptions {
    width: 450px;
    margin: 30px auto;
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOption {
	display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-areas: "icon name";
    border: 1px solid var(--border-primary);
    align-items: center;
    text-align: left;
    column-gap: 20px;
	padding: 20px 25px;
	cursor: pointer;
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOption.selected {
	color: var(--color-primary-600)
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOption:first-child {
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOption:last-child {
	border-top: 0;
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOption sl-icon {
	grid-area: icon;
	margin: auto;
	font-size: 23px;
}

.ConnectionOverview sl-dialog.askImportConfirmationDialog .resetCursorOption .name {
	grid-area: name;
}

.ConnectionOverview .nothingToShow {
    text-align: center;
    font-size: 19px;
}
