.NotFound .routeContent {
	margin: 0 auto 0 auto;
	padding-top: 100px;
}

.NotFound .routeContent .box {
	padding: 70px 30px;
	text-align: center;
}

.NotFound .routeContent .box .title {
	font-size: 120px;
	font-weight: 600;
	color: var(--color-primary-600);
	text-shadow: 2px 2px 3px hsl(240deg 6% 10% / 55%);
}

.NotFound .routeContent .box .description {
	font-size: 18px;
}

.NotFound .routeContent .box .goBack {
	margin-top: 30px;
}
