.connection-overview--loading {
	text-align: center;
	padding-top: 50px;
}

.connection-overview__cart-head {
	max-width: 1350px;
	margin: auto;
	margin-bottom: 20px;
}

.connection-overview__cart-title {
	font-size: 17px;
}

.connection-overview__chart .recharts-wrapper {
	margin: auto;
	position: relative;
	left: -20px;
	margin-bottom: 80px;
}

.connection-overview__executions-title {
	max-width: 1400px;
	margin: auto;
	margin-bottom: 20px;
	padding-left: 29px;
	font-size: 17px;
}

.connection-overview .grid {
	max-width: 1350px;
	margin: auto;
}

.connection-overview__nothing-to-show {
	text-align: center;
	font-size: 17px;
}

.connection-overview__cell-error--has-error {
	color: var(--sl-color-danger-500);
	font-weight: 600;
	cursor: pointer;
}
