.grid {
	display: grid;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: var(--bg-primary);
	border-radius: var(--radius);
	border: 1px solid var(--sl-color-neutral-200);
	box-shadow: var(--sl-shadow-small);
	overflow: auto;
}

.grid::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.grid::-webkit-scrollbar-thumb {
	background: var(--sl-color-neutral-300);
	border-radius: 5px;
}

.grid::-webkit-scrollbar-track {
	background: transparent;
}

.grid .gridHeaderRow {
	background-color: var(--bg-gray);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.grid .gridHeaderCell {
	font-weight: 600;
}

.grid .gridHeaderCell,
.grid .gridCell {
	background-color: var(--bg-primary);
	padding: 15px 0;
}

.grid .cellContent {
	padding: 0 20px;
	width: fit-content;
}

.grid .gridHeaderCell.center .cellContent,
.grid .gridCell.center .cellContent {
	margin: auto;
}

.grid .gridHeaderCell.right .cellContent,
.grid .gridCell.right .cellContent {
	margin-left: auto;
}

.grid .gridHeaderCell {
	font-size: 13px;
	background-color: var(--bg-gray);
}

.grid .gridHeaderCell.first .cellContent,
.grid .gridHeaderCell.empty .cellContent {
	border-left: 0;
}

.grid .gridHeaderCell.first {
	border-top-left-radius: var(--radius);
}

.grid .gridHeaderCell.last {
	border-top-right-radius: var(--radius);
}

.grid .gridCell {
	font-size: 13px;
}

.grid .gridRow.last {
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.grid .gridRow,
.grid .gridRow .gridCell {
	transition: background-color 0.3s;
}

.grid .gridRow.clickable:hover,
.grid .gridRow.clickable:hover .gridCell {
	background-color: var(--bg-gray);
}

.grid .gridRow.last .gridCell.first {
	border-bottom-left-radius: var(--radius);
}

.grid .gridRow.last .gridCell.last {
	border-bottom-right-radius: var(--radius);
}

.grid .noRows {
	font-weight: 600;
	color: var(--sl-color-neutral-400);
	display: flex;
	flex-flow: column;
	gap: 7px;
	align-items: center;
	justify-content: center;
}

.grid .noRows sl-icon {
	color: var(--sl-color-neutral-400);
	font-size: 25px;
}

.grid .noRows,
.grid .loading {
	background-color: var(--bg-primary);
	border-radius: var(--radius);
	text-align: center;
	padding: 120px 30px 170px 30px;
}
