.popover {
	background-color: var(--sl-color-primary-100);
	font-size: 13px;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 0 15px;
	box-shadow: var(--sl-shadow-small);
	border: 1px solid var(--sl-color-primary-200);
	border-radius: 5px;
	font-weight: 500;
	position: relative;
	left: 10px;
	opacity: 0;
	transition:
		opacity 0.3s,
		left 0.7s;
	color: var(--sl-color-primary-600);
	min-height: 30px;
}

.popover--open {
	left: 0px;
	opacity: 1;
}

.popover::before {
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	left: -5px;
	background-color: var(--sl-color-primary-100);
	transform: rotate(45deg);
	border-left: 1px solid var(--sl-color-primary-200);
	border-bottom: 1px solid var(--sl-color-primary-200);
}
