.Logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	position: relative;
}

.Logo .image {
	background-color: var(--color-accent);
	color: var(--text-onaccent);
	width: 60px;
	height: 60px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 27px;
	font-weight: 700;
}

.Logo a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
