.Dialog {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background-color: var(--bg-primary);
    z-index: 30;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s ease-in-out,transform .25s ease-in-out,visibility .25s ease-in-out;
    padding: 40px 70px;
    width: fit-content;
    height: fit-content;
    max-width: 1200px;
    max-height: 500px;
    overflow: auto;
}

.Dialog[data-isOpen="true"] {
    visibility: visible;
    opacity: 1;
    transition: opacity .4s cubic-bezier(0, 1, .4, 1), transform .4s cubic-bezier(.18, 1.25, .4, 1), visibility .4s linear;
    transform: translate(-50%, -50%) scale(1);
}

.Dialog .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.Dialog .close > i {
    font-size: 20px;
}

.Dialog .icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-neutral);
    border-radius: 100%;
    color: var(--color-neutral);
    margin: auto;
    column-gap: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.Dialog.question .icon {
    background-color: var(--bg-accent);
    color: var(--color-accent);
}

.Dialog > .text {
    text-align: center;
}

.Dialog .title {
    margin-bottom: 5px;
    font-size: 20px;
}

.Dialog .description {
    color: var(--text-lighter);
}

.Dialog .children {
    margin-top: 20px;
    text-align: center;
}

