.grid {
	display: grid;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: var(--bg-primary);
	border-radius: var(--radius);
	border: 1px solid var(--sl-color-neutral-200);
	box-shadow: var(--sl-shadow-small);
	overflow: auto;
}

.grid::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.grid::-webkit-scrollbar-thumb {
	background: var(--sl-color-neutral-300);
	border-radius: 5px;
}

.grid::-webkit-scrollbar-track {
	background: transparent;
}

.grid .gridHeaderRow {
	background-color: var(--bg-gray);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.grid .gridHeaderCell {
	font-weight: 600;
}

.grid .gridHeaderCell,
.grid .gridCell {
	background-color: var(--bg-primary);
	padding: 15px 0;
}

.grid .gridHeaderCell .cellContent {
	display: flex;
	align-items: center;
	gap: 7px;
}

.grid .gridHeaderCell .cellContent .gridHeaderExplanationIcon {
	color: var(--sl-color-neutral-500);
}

.grid .gridHeaderCell .cellContent .gridHeaderExplanationTooltip::part(body) {
	background-color: var(--sl-color-primary-500);
	padding: 12px;
	font-size: 13px;
}

.grid .gridHeaderCell .cellContent .gridHeaderExplanationTooltip::part(base__arrow) {
	background-color: var(--sl-color-primary-500);
}

sl-popup::part(arrow) {
	background-color: var(--sl-color-primary-500);
}

.grid .gridRow.selected .gridCell {
	background-color: var(--sl-color-primary-50) !important;
}

.grid .gridRow .gridCell .cellContent .object {
	font-family: monospace;
	background-color: var(--sl-color-neutral-100);
	font-size: 13px;
	border-radius: 5px;
	padding: 0 3px;
	transition: background-color 0.3s;
}

.grid .gridRow.selected .gridCell .object {
	background-color: var(--sl-color-primary-100);
}

.grid .cellContent {
	padding: 0 20px;
	width: fit-content;
}

.grid .gridHeaderCell.center .cellContent,
.grid .gridHeaderCell.header-center .cellContent,
.grid .gridCell.center .cellContent {
	margin: auto;
}

.grid .gridHeaderCell.right .cellContent,
.grid .gridHeaderCell.header-right .cellContent,
.grid .gridCell.right .cellContent {
	margin-left: auto;
}

.grid .gridHeaderCell.right .cellContent,
.grid .gridCell.right .cellContent {
	margin-left: auto;
}

.grid .gridHeaderCell {
	font-size: 13px;
	background-color: var(--bg-gray);
}

.grid .gridHeaderCell.first .cellContent,
.grid .gridHeaderCell.empty .cellContent {
	border-left: 0;
}

.grid .gridHeaderCell.first {
	border-top-left-radius: var(--radius);
}

.grid .gridHeaderCell.last {
	border-top-right-radius: var(--radius);
}

.grid .gridCell {
	font-size: 13px;
}

.grid.column-border .gridHeaderCell {
	border-right: 1px solid var(--border-primary);
}

.grid.row-border .gridHeaderCell {
	border-bottom: 1px solid var(--border-primary);
}

.grid.column-border .gridCell {
	border-right: 1px solid var(--border-primary);
}

.grid.row-border .gridRow .gridCell {
	border-bottom: 1px solid var(--border-primary);
}

.grid .gridRow.last {
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.grid .gridRow,
.grid .gridRow .gridCell {
	transition: background-color 0.3s;
}

.grid .gridRow.clickable:hover,
.grid .gridRow.clickable:hover .gridCell {
	background-color: var(--bg-gray);
}

.grid .gridRow.last .gridCell.first {
	border-bottom-left-radius: var(--radius);
}

.grid .gridRow.last .gridCell.last {
	border-bottom-right-radius: var(--radius);
}

.grid .noRows {
	color: var(--sl-color-neutral-400);
	display: flex;
	flex-flow: column;
	gap: 7px;
	align-items: center;
	justify-content: center;
}

.grid .noRows sl-icon {
	color: var(--sl-color-neutral-400);
	font-size: 25px;
}

.grid .noRows,
.grid .loading {
	background-color: var(--bg-primary);
	border-radius: var(--radius);
	text-align: center;
	padding: 120px 30px 170px 30px;
}

.grid.sortableGrid .gridHeaderRow,
.grid.sortableGrid .gridRow {
	padding-left: 30px;
}

.grid.sortableGrid .gridNestedRows .expand {
	left: calc(var(--parent-indentation) + 30px);
}

.grid.sortableGrid .gridNestedRows .gridRow.children::before {
	left: calc(var(--children-indentation) + 30px);
}

.grid.sortableGrid .sortableRows .gridRow,
.grid.sortableGrid .sortableRows .gridRow .gridCell {
	background-color: var(--sl-color-primary-50);
	font-weight: 500;
}

.grid.sortableGrid .sortableRows .gridNestedRows .gridRow.children,
.grid.sortableGrid .sortableRows .gridNestedRows .gridRow.children .gridCell,
.grid.sortableGrid .sortableRows .gridNestedRows .gridNestedRows .gridRow.parent,
.grid.sortableGrid .sortableRows .gridNestedRows .gridNestedRows .gridRow.parent .gridCell {
	background-color: var(--sl-color-primary-100) !important;
	font-weight: 500 !important;
}

.grid.sortableGrid .sortableRows .gridNestedRows.expanded > .gridRow.parent,
.grid.sortableGrid .sortableRows .gridNestedRows > .children:last-child {
	border-top: 0 !important;
	border-bottom: 0 !important;
}

.grid.sortableGrid .draggable-wrapper {
	position: relative;
}

.grid.sortableGrid .draggable-wrapper__handle {
	background-color: transparent;
	border: 0;
	font-size: 21px;
	position: absolute;
	left: 10px;
	height: 30px;
	display: flex;
	align-items: center;
	cursor: grab;
	width: 30px;
	top: 15px;
	z-index: 10;
}

.grid.sortableGrid .draggable-wrapper__handle sl-icon {
	color: var(--sl-color-primary-600);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.grid.sortableGrid .overlay-row {
	cursor: grabbing;
	display: flex;
	background-color: var(--sl-color-primary-50);
	gap: 5px;
	border-radius: var(--radius);
	align-items: center;
	font-weight: 500;
	width: max-content;
	box-shadow: 0px 0px 15px 1px var(--sl-color-primary-50);
	border: 1px solid var(--sl-color-primary-200);
}

.grid.sortableGrid .overlay-row__handle {
	background-color: transparent;
	border: 0;
	font-size: 21px;
	cursor: grabbing;
}

.grid.sortableGrid .overlay-row__handle sl-icon {
	color: var(--sl-color-primary-600);
	display: block;
	height: 100%;
}

.grid.sortableGrid .overlay-row__name {
	color: var(--sl-color-primary-600);
}
