.PropertiesDialog::part(panel) {
	height: 400px;
	padding: 5px 0px 30px 10px;
}

.PropertiesDialog {
	margin-top: 20px;
}

.PropertiesDialog .property {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
	align-items: center;
	height: 35px;
}

.PropertiesDialog .property.used {
	opacity: 0.5;
	text-decoration: line-through;
}

.PropertiesDialog .property.used sl-icon-button {
	display: none;
}

.PropertiesDialog .property:first-child {
	padding-top: 0;
}

.PropertiesDialog .property:last-child {
	padding-bottom: 0;
}
