:root {
	--sidebar-with: 250px;
}

.sidebar {
	width: var(--sidebar-with);
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	padding: 10px 0;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--bg-primary);
}

.sidebar__items {
	margin-top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 20px;
}

.sidebar__items > div {
	width: 100%;
}

.sidebar__logo {
	font-weight: 600;
	font-size: 22px;
	color: var(--color-primary-500);
}

.workspace-selector {
	user-select: none;
	position: relative;
	width: 100%;
	justify-content: space-between;
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-top: 15px;
	padding: 15px;
	margin-bottom: 5px;
	border-top: 1px solid var(--border-primary);
}

.workspace-selector:hover {
	background-color: var(--sl-color-neutral-50);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.workspace-selector__arrow {
	font-size: 14px;
	transition: transform 0.3s;
}

.workspace-selector__text {
	display: flex;
	flex-flow: column;
	height: 100%;
	justify-content: center;
	max-width: 80%;
}

.workspace-selector__label {
	font-size: 13px;
}

.workspace-selector__value {
	font-size: 16px;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
}

.workspace-selector__dialog {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 0;
	width: 250px;
	right: calc(-250px + -15px);
	background-color: var(--bg-primary);
	padding: 15px;
	border: 1px solid var(--border-primary);
	box-shadow: var(--sl-shadow-x-large);
	transition:
		visibility 0.3s,
		opacity 0.3s;
	font-size: 14px;
	cursor: default;
}

.workspace-selector__dialog-view-all {
	color: var(--sl-color-primary-600);
	font-weight: 600;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid var(--border-primary);
	display: flex;
	align-items: center;
	gap: 3px;
	cursor: pointer;
}

.workspace-selector__dialog-view-all sl-icon {
	color: var(--sl-color-primary-600);
}

.workspace-selector__dialog-option {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-top: 15px;
	cursor: pointer;
	transition: opacity 0.3s;
}

.workspace-selector__dialog-option:hover {
	opacity: 1;
}

.workspace-selector__dialog-option sl-icon {
	visibility: hidden;
	opacity: 0;
	transition:
		visibility 0.3s,
		opacity 0.3s;
	color: var(--sl-color-primary-600);
}

.workspace-selector__dialog-option--selected sl-icon {
	visibility: visible;
	opacity: 1;
}

.workspace-selector__dialog-option-name {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 90%;
}

.workspace-selector--open .workspace-selector__arrow {
	transform: rotate(-90deg);
}

.workspace-selector--open .workspace-selector__dialog {
	visibility: visible;
	opacity: 1;
}

.sidebar__item {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 12px 10px;
	margin-top: 2px;
	transition:
		border 0.3s,
		background-color 0.3s;
	border-radius: 5px;
	color: var(--sl-color-neutral-700);
	user-select: none;
	border-left: 4px solid transparent;
}

.sidebar__item--selected {
	background: var(--color-primary-50);
	border-radius: 6px;
	color: var(--color-primary-600);
}

.sidebar__item--isChildrenSelected sl-icon,
.sidebar__item--isChildrenSelected .sidebar__item-text {
	color: var(--sl-color-primary-500);
}

.sidebar__item:hover {
	background-color: var(--sl-color-neutral-50);
}

.sidebar__item sl-icon {
	font-size: 20px;
}

.sidebar__item .sidebar__item-text {
	font-size: 14px;
	font-weight: 600;
}

.sidebar__sub-item {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 8px 15px 8px 46px;
	color: var(--sl-color-neutral-700);
	user-select: none;
}

.sidebar__sub-item--selected {
	background: var(--color-primary-50);
	border-radius: 6px;
}

.sidebar__sub-item--selected > sl-icon,
.sidebar__sub-item--selected > .sidebar__sub-item-text {
	color: var(--color-primary-500);
}

.sidebar__sub-item-text {
	font-size: 13px;
	font-weight: 600;
	line-height: 1.6;
}
