.Breadcrumbs.onAccent sl-breadcrumb-item::part(label) {
	color: var(--color-primary-400);
}

.Breadcrumbs.onAccent sl-breadcrumb-item:last-of-type::part(label) {
	color: var(--text-onaccent);
}

.Breadcrumbs.onAccent sl-breadcrumb-item sl-icon {
	color: var(--text-onaccent);
}
