.connection-metrics--loading {
	text-align: center;
	padding-top: 50px;
}

.connection-metrics__title {
	font-size: 18px;
	color: var(--sl-color-gray-700);
	margin-bottom: 24px;
}

.connection-metrics__tabs {
	display: flex;
	gap: 30px;
	align-items: center;
	row-gap: 15px;
	flex-flow: row wrap;
}

.connection-metrics__tabs sl-button::part(base) {
	padding-left: 15px;
	padding-right: 15px;
}

.connection-metrics__tabs sl-button[variant='default']::part(base) {
	background: var(--bg-primary);
}

.connection-metrics__tabs-date-range {
	position: relative;
}

.connection-metrics__tabs-date-range-picker {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s;
	left: 0;
	top: 40px;
	z-index: 999;
	box-shadow: 0px 0px 18px 1px var(--sl-color-neutral-300);
}

.connection-metrics__tabs-date-range-picker--open {
	visibility: visible;
	opacity: 1;
}

.connection-metrics__pipelines::part(form-control) {
	display: flex;
	align-items: center;
}

.connection-metrics__pipelines::part(form-control-label) {
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 0.75rem;
	font-weight: 500;
	transition: color 0.3s;
	border: 1px solid var(--sl-input-border-color);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: 0;
	min-height: var(--sl-input-height-small);
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.connection-metrics__pipelines--filtered::part(form-control-label) {
	color: var(--sl-color-primary-600);
}

.connection-metrics__pipelines::part(combobox) {
	font-size: 0.75rem;
	transition: border 0.5s;
	box-shadow: none !important;
	border: solid var(--sl-input-border-width) var(--sl-input-border-color) !important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.connection-metrics__pipelines::part(display-input) {
	transition: color 0.5s;
	font-weight: 500;
}

.connection-metrics__pipelines:hover::part(combobox) {
	border: 1px solid var(--sl-color-primary-300) !important;
}

.connection-metrics__pipelines:hover::part(display-input) {
	color: var(--sl-color-primary-600);
}

.connection-metrics__pipelines sl-option::part(base) {
	font-size: 0.75rem;
}

.connection-metrics__chart {
	margin: 20px auto 0 auto;
	width: 100%;
	position: relative;
	background-color: var(--bg-primary);
	border-radius: var(--radius);
	border: 1px solid var(--sl-color-neutral-200);
	box-shadow: var(--sl-shadow-small);
	padding: 30px;
}

.connection-metrics__chart .recharts-responsive-container {
	height: 300px !important;
}

.connection-metrics__chart-heading,
.connection-metrics__errors-heading,
.connection-metrics__funnel-heading {
	color: var(--sl-color-gray-700);
	margin-top: -8px;
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: 500;
}

.connection-metrics__funnel-heading {
	margin-bottom: 50px;
}

.connection-metrics__chart .recharts-wrapper {
	margin: 0 auto;
	position: relative;
	left: -20px;
	margin-bottom: 80px;
}

.connection-metrics__chart .recharts-wrapper text {
	font-size: 12px;
	font-weight: 500;
}

.connection-metrics__chart .recharts-wrapper .recharts-legend-item {
	font-size: 13px;
}

.connection-metrics__chart .recharts-wrapper .recharts-surface {
	overflow: visible;
}

.connection-metrics__errors-heading {
	margin: 40px 0 24px 5px;
	font-size: 16px;
}

.connection-metrics__chart-heading span,
.connection-metrics__errors-heading span {
	background: #eef2ff;
	border-radius: 12px;
	color: #4f46e5;
	font-size: 13px;
	margin-left: 8px;
	padding: 2px 12px 3px 12px;
}

.connection-metrics__errors .grid a {
	color: var(--sl-color-primary-600);
	text-decoration: underline;
}

.connection-metrics__funnel {
	margin: 20px auto 0 auto;
	background-color: var(--bg-primary);
	border-radius: var(--radius);
	border: 1px solid var(--sl-color-neutral-200);
	box-shadow: var(--sl-shadow-small);
	padding: 22px;
}

.connection-metrics__funnel-content {
	animation: fade-in-entrance 1s;
}

.connection-metrics__funnel-passed,
.connection-metrics__funnel-failed {
	display: grid;
	grid-template-columns: repeat(8, 100px);
	column-gap: 50px;
}

@media (max-width: 1460px) {
	.connection-metrics__funnel-passed,
	.connection-metrics__funnel-failed {
		display: grid;
		grid-template-columns: repeat(8, 70px);
	}

	.connection-metrics__tabs-date-range-picker {
		left: unset;
		right: 0;
	}
}

@media (max-width: 1260px) {
	.connection-metrics__funnel-passed,
	.connection-metrics__funnel-failed {
		display: grid;
		grid-template-columns: repeat(8, 50px);
	}

	.connection-metrics__funnel-title {
		font-size: 12px !important;
	}
}

@media (max-width: 1080px) {
	.connection-metrics__funnel-passed,
	.connection-metrics__funnel-failed {
		gap: 35px;
	}

	.connection-metrics__funnel-title {
		left: 0;
		transform: translate(-33%);
	}
}

.connection-metrics__funnel-failed {
	margin-top: 60px;
}

.connection-metrics__funnel-title {
	color: var(--sl-color-neutral-600);
	font-size: 14px;
	margin-bottom: 8px;
	font-weight: 500;
	position: absolute;
	bottom: 17px;
	left: 5px;
}

.connection-metrics__funnel-circle {
	border-radius: 100%;
	width: 23px;
	height: 23px;
	border: 5px solid var(--bg-gray);
	background-color: var(--sl-color-neutral-400);
}

.connection-metrics__funnel-label {
	background: var(--bg-primary);
	font-size: 12px;
	padding: 0px 10px;
	font-weight: 600;
}

.connection-metrics__funnel-label--passed {
	color: var(--sl-color-primary-600);
}

.connection-metrics__funnel-label--failed {
	color: var(--sl-color-danger-600);
}

.connection-metrics__funnel-label--discarded {
	color: var(--sl-color-neutral-600) !important;
}

.connection-metrics__funnel-initial {
	font-weight: 600;
	font-size: 17px;
	position: relative;
	padding-right: 5px;
	top: 28px;
	height: max-content;
	color: var(--sl-color-neutral-600);
	width: max-content;
}

.connection-metrics__funnel-step {
	position: relative;
}

.connection-metrics__funnel-final {
	font-weight: 600;
	color: var(--sl-color-primary-600);
	padding-left: 5px;
	font-size: 17px;
	position: relative;
	top: 28px;
	height: max-content;
	width: max-content;
}

.connection-metrics__nothing-to-show {
	text-align: center;
	font-size: 17px;
}
