.section__title {
	font-size: 16px;
}

.section__description {
	font-size: 13px;
	margin-top: 6px;
	color: #6c6c6c;
	line-height: 1.57;
}

.section__description a,
.section__description a:visited {
	color: var(--sl-color-primary-600);
	text-decoration: none;
}

.section__description > :is(span, p, div, ul, ol) + a:not(:has(*)) {
	display: block;
	margin-top: 1rem;
}

.section__description a[target='_blank']:not(:has(*))::after {
	content: ' ↗';
	font-size: 0.8em;
	margin-right: 2px;
	padding-right: 3px;
}

.section__content {
	margin-top: 15px;
	width: 100%;
}

.section--padded .section__content {
	background-color: #fefefe;
	padding: 36px;
	border-radius: 10px;
	border: 1px solid var(--sl-color-neutral-200);
}

.section--annotated {
	display: flex;
	flex-flow: row;
	column-gap: 50px;
	align-items: start;
}

.section--annotated .section__heading {
	width: 20%;
	min-width: 0;
}

.section--annotated .section__content {
	margin-top: 0;
	width: 80%;
	min-width: 0;
}

@media (max-width: 1200px) {
	.section--annotated {
		flex-flow: row wrap;
	}

	.section--annotated .section__heading {
		width: 100% !important;
	}

	.section--annotated .section__content {
		margin-top: 15px !important;
		width: 100% !important;
	}
}
