.general-settings {
	max-width: 900px;
	margin: auto;
	padding: 30px;
}

.general-settings__title {
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 15px;
}

.general-settings sl-input::part(form-control-label) {
	font-weight: 400;
}

.general-settings__save-workspace-button {
	display: block;
	max-width: 200px;
	margin-top: 30px;
	margin-left: auto;
}

.general-settings sl-divider {
	margin-top: 40px;
	margin-bottom: 40px;
}

.general-settings__deletion-title {
	font-weight: 600;
}

.general-settings__deletion-description-and-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: wrap;
}

.general-settings__grid-alert-workspace-name {
	font-family: var(--monospace-fonts);
	background-color: var(--sl-color-neutral-100);
	display: inline-block;
	padding: 0px 5px;
	border-radius: 3px;
}

.general-settings__grid-alert-workspace-ul {
	text-align: left;
}
