
*, *:before, *:after { box-sizing: border-box; }

body { background: #fafaff; font-family: muli,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; line-height: 1.45; margin: 0; }

a { text-decoration: none; }
p { color: #444; line-height: 1.6; margin: 0.8em 0; }
li { color: #444; line-height: 2; }
td { vertical-align: top; }
dl { line-height: 1.60; margin: 1.25rem; }
dd { margin-left: 1.5rem; }

nav.top { align-items: center; display: flex; justify-content: flex-start; flex-wrap: wrap; height: 6rem; padding: 2rem 0; width: 100%; }
nav.top .logo { margin-left: 3rem; }
nav.top .logo img { vertical-align: bottom; }
nav.top .version { color: #eee; font-size: .7rem; padding: 6px 0 0 .5rem; }
nav.top .version:hover { color: #e5a62e; }
nav.top ul { display: inline-block; list-style-type: none; margin: 0 .5em; vertical-align: middle; }
nav.top li { display: inline-block; padding: 0 1rem; }
nav.top ul a { color: #e2e9ee; }
nav.top ul a:hover, nav.top ul a.selected { color: #f3ad20; }
nav.top .github-logo { display: block; height: 1.8rem; margin-left: 1rem; width: 1.8rem; }
nav.top .github-logo svg path { fill: #fff; }

nav.sections { display: inline-flex; margin: 0 auto; padding: 10px; width: auto; }
nav.sections a { color: #4f46e5!important; margin: 2px; padding: 6px 14px; text-decoration: none; }
nav.sections a:hover { border-bottom: 2px solid #eee; }
nav.sections a.selected { border-bottom: 2px solid #4f46e5; }

.content { margin: 0 20px; }

.cols-2 { display: flex; flex-wrap: wrap; }
.cols-2 > div { padding: 2em 5rem; width: 50%; }

.index a { color: #fff; }
.index footer ul li a { color: #e2e9ee; }

.index nav.top .logo { cursor: default; pointer-events: none; }

.index header { margin: 1.6rem; margin-top: 4.6rem; }
.index header section { margin: 0 auto; text-align: center; }

.index header .logo { max-width: 80%; width: 450px; height: auto; }
.index header h2 { color: #fff; font-size: 2.6em; font-weight: 200; line-height: 1.2em; margin: 2.1rem auto; max-width: 850px; }
.index header h3 { color: #ccc; font-size: 1.4em; font-weight: 200; letter-spacing: .02rem; line-height: 1.5em; margin: .5rem; }
.index header .button { background: #e6a621; border-radius: 3px; color: #fff; cursor: pointer; display: inline-block; font-size: 1.1em; font-weight: bold; margin-top: 2rem; text-transform: uppercase; padding: .8rem 1.8rem .7em 1.8em; }
.index header .button:hover { background: #f3ad20; border-radius: 3px; color: #fff6ED; cursor: pointer; display: inline-block; font-size: 1.1em; font-weight: bold; margin-top: 2rem; text-transform: uppercase; padding: .8rem 1.8rem .7em 1.8em; }

.index body > section { background: #fff; margin: 4rem 0; padding: 2rem 4rem; }

.index .why { color: #fff; margin-bottom: 2rem; }
.index .why h2 { color: #e6a621; font-size: 1.8rem; font-weight: normal; }
.index .why p { color: #333; font-size: 1.3rem; font-weight: 200; line-height: 1.9rem; }

.index body > section.benchmark { background: #0a1922; color: #FFF; margin: 0; padding: 4.5rem 9rem; }
.index body > section.benchmark > div:first-child { display: inline-block; margin-bottom: -40px; position: relative; z-index: 2; }
.index body > section.benchmark > div:first-child h2 { margin-top: 0; }
.index body > section.benchmark > div:first-child a { color: #ebb951; float: right; font-size: .9em; }
.index body > section.benchmark > div:first-child a:hover { color: #ffd858; }

.wrap { margin: 0 auto; max-width: 1280px; }

.article article { min-height: 100vh; overflow: hidden; }
.article article > .wrap { display: flex; font-size: 1rem; padding: 0 1rem; }
.article aside { margin-right: 3rem; margin-top: 1.80rem; width: 250px }
.article aside button { display: none; }
.article aside ul { list-style-type: none; padding: 0; }
.article aside div { font-size: 14px; font-weight: bold; margin-bottom: 8px; }
.article aside > ul { margin-top: 3rem; }
.article aside li > ul { padding-left: 1rem; }
.article aside li { line-height: 1.85; white-space: nowrap; }
.article aside li h4 { color: #333; font-weight: bold }
.article aside ul a { display: block; font-size: 15px; margin: 0.1rem 0; padding: 0.3rem 0.6rem; }
.article aside ul a, .article aside ul a:visited { color: #333; }
.article aside ul a:hover, .article aside ul a.expanded { background: #edecff; border-radius: 3px; }
.article aside ul a.selected { background: #4f46e5; border-radius: 3px; color: #fff6ed; }
.article .content { flex-grow: 1; margin: 0 0 4em 0; min-width: 0; overflow-x: auto; width: 100%; }
.article .content a, .article .content a:visited { color: #5f943d; }
.article h1 { color: #0a1922; font-size: 2.2rem; font-weight: 500; }
.article nav + p { color: #666; font-size: .9em; font-weight: bold; }
.article p + h1 { font-size: 2.2rem; margin-top: -.5em; }
.article h2 { color: #0a1922; font-size: 1.8rem; font-weight: 500; }
.article h3 { color: #0a1922; margin-top: 40px; font-weight: 500; }
.article h4 { color: #0a1922; font-weight: 500; }
.article pre { background: #f4f4fb; border-radius: 3px; padding: 1rem; overflow-x: auto; }
.article code { background: #f4f4fb; border-radius: 2px; color: #454567; display: inline-block; font-size: 85%; padding: .2rem .5rem; position: relative; white-space: pre-wrap; }
.article code::before { background-color: transparent; bottom: 0; content: ""; left: 0; position: absolute; top: 0; width: .5rem; }
.article a code { color: #5f943d; }
.article pre code { padding: 0; }
.article blockquote { background: #edecff; border-left: 5px solid #5954ab; border-radius: 3px; margin: 0; padding: .5rem 1rem; }
.article blockquote p { color: #424063; }
.article blockquote > p + div pre { background: transparent; margin: 0; padding-left: 0; padding-top: 0; }
.article blockquote div + p { margin-top: 0; }
.article img { max-width: 100%; }

#edit-on-github { font-size: .9rem; font-weight: bold; margin-top: 4rem; text-align: right; }
#edit-on-github a { color: #777; }
#edit-on-github a:hover { color: #222; }

.article pre + .result { border-top-left-radius: 0; border-top: 1px solid #dfdad3; border-top-right-radius: 0; margin-top: -17px; padding-top: 16px; }

.article table { background: #fff; border-left: 1px solid #e6e6e6; border-spacing: 0; border-top: 1px solid #E6E6E6; margin: 20px 0; width: 100%; }
.article table td, .article table th { border-bottom: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; font-weight: normal; padding: 12px; text-align: left; vertical-align: top; }

.article .operators table td:first-child { text-align: center; width: 3rem; }
.article .data-type-operators table td:first-child { width: 7rem; }
.article .data-type-operators table td:last-child { word-spacing: .5rem; }
.article .data-type-false table td:first-child { width: 6rem; }
.article .assignments table td:first-child { width: 7rem; }

.article .api-spec { border-bottom: 1px solid #d8dee4; padding: 40px 0; }
.article h1 + .api-spec { padding-top: 0; }
.article .api-spec:first-of-type { margin-top: 0; }
.article .api-spec .spec { align-items: start; box-sizing: border-box; column-gap: min(3rem, 5vw); display: grid; grid-template-columns: repeat(2, 1fr); row-gap: 2.5vw; }
.article .api-spec .spec > :nth-child(2) { box-sizing: border-box; display: flex; flex-direction: column; gap: 16px; position: sticky; top: 10px; }

.article .api-spec .endpoints-box { border-radius: 10px; border: 1px solid #d8dee4; background: #f5f6f8; font-size: .9em; width: 100%; }
.article .api-spec .endpoints-box > :nth-child(1) { background: #ebeef1; border-bottom: 1px solid #d8dee4; border-top-left-radius: 10px; border-top-right-radius: 10px; text-transform: uppercase; font-size: .8em; padding: 10px 12px; font-weight: bold; width: 100%; }
.article .api-spec .endpoints-box > ul { list-style: none; flex-direction: column; align-items: stretch; justify-content: normal; display: flex; font-family: Courier New, Courier, monospace; padding-left: 20px; }
.article .api-spec .endpoints-box > ul > li { line-height: 1.8; }
.article .api-spec .endpoints-box > ul a { color: #333; }
.article .api-spec .endpoints-box > ul a > span { display: inline-block; text-align: right; width: 50px; }
.article .api-spec .endpoints-box > ul a > span.api-method-get { color: #045AD0; }
.article .api-spec .endpoints-box > ul a > span.api-method-post { color: #217005; }
.article .api-spec .endpoints-box > ul a > span.api-method-put { color: #7A2D91; }
.article .api-spec .endpoints-box > ul a > span.api-method-delete { color: #B13600; }

.article .api-spec .api-request-box { border-radius: 10px; display: flex; flex-direction: column; font-size: .9em; overflow: hidden; width: 100%; }
.article .api-spec .api-request-box > :nth-child(1) { align-items: center; background: #505865; color: #fff; display: flex; font-family: Courier New, Courier, monospace; font-size: .9em; justify-content: space-between; padding: 12px 12px 8px 12px; width: 100%; }
.article .api-spec .api-request-box > :nth-child(1)  span.api-method-get { color: #4ABCF9; }
.article .api-spec .api-request-box > :nth-child(1) span.api-method-post { color: #4BCA2E; }
.article .api-spec .api-request-box > :nth-child(1) span.api-method-put { color: #C084FF; }
.article .api-spec .api-request-box > :nth-child(1) span.api-method-delete { color: #FF9926; }
.article .api-spec .api-request-box > :nth-child(2) { background: #3e444f; border-radius: 0; color: #fff; counter-reset: fence-line-counter; font-family: Courier New, Courier, monospace; font-size: 14px; padding: 8px 20px 8px 20px; }
.article .api-spec .api-request-box > :nth-child(2) > div::before { color: #A9B2C2; content: counter(fence-line-counter); counter-increment: fence-line-counter 1; display: inline-block; padding-right: 12px; text-align: right; width: 20px; }
.article .api-spec .api-request-box .copy-request { cursor: pointer; float: right; }
.article .api-spec .api-request-box code { overflow-x: scroll; white-space: nowrap; width: 457px; }
.article .api-spec .api-request-box span { color: #4BCA2E; }

.article .api-spec .api-response-box { border: 1px solid #d8dee4; border-radius: 10px; flex-direction: column; font-size: .9em; overflow: hidden; width: 100%; }
.article .api-spec .api-response-box > :nth-child(1) { background: #ebeef1; border-bottom: 1px solid #d8dee4; color: #353A44; font-size: .9em; font-weight: bold; padding: 10px 12px; text-transform: uppercase; width: 100%; }
.article .api-spec .api-response-box > :nth-child(2) pre { margin: 0; padding: 0; }
.article .api-spec .api-response-box > :nth-child(2) pre code { background: #f5f6f8; color: #353A44; font-family: Courier New, Courier, monospace; font-size: 14px; padding: 8px 20px 8px 20px; width: 455px; white-space: pre; }

.article .api-spec .api-errors-box { border: 1px solid #d8dee4; border-radius: 10px; flex-direction: column; font-size: .9em; width: 100%; }
.article .api-spec .api-errors-box > :nth-child(1) { background: #ebeef1; border-bottom: 1px solid #d8dee4; border-top-left-radius: 10px; border-top-right-radius: 10px; color: #353A44; font-size: .9em; font-weight: bold; padding: 10px 12px; text-transform: uppercase; width: 100%; }
.article .api-spec .api-errors-box > :nth-child(2) { background: #f5f6f8; color: #4A515C; display: grid; font-size: 14px; gap: 8px; grid-template-columns: auto 1fr; padding: 8px 20px 8px 20px; }
.article .api-spec .api-errors-box > :nth-child(2) .row { cursor: pointer; display: contents; }
.article .api-spec .api-errors-box > :nth-child(2) .status[data-status="404"] { color: #D66E00; }
.article .api-spec .api-errors-box > :nth-child(2) .status[data-status="422"] { color: #B13600; }
.article .api-spec .api-errors-box > :nth-child(2) .status[data-status="503"] { color: #7F1D00; }
.article .api-spec .api-errors-box > :nth-child(2) .message { position: relative; }
.article .api-spec .api-errors-box > :nth-child(2) .message::first-letter { text-transform: uppercase; }
.article .api-spec .api-errors-box > :nth-child(2) .message::after { color: #4A515C; content: '▼'; font-size: 10px; position: absolute; right: 0; top: 3px; transition: transform 0.3s ease; }
.article .api-spec .api-errors-box > :nth-child(2) .json-body { font-size: 13px; grid-column: span 2; }
.article .api-spec .api-errors-box > :nth-child(2) .json-body pre { background: #fafbfc; border: 1px solid #eaecef; border-radius: 10px; cursor: text; font-size: 11px; margin: 0; padding: 1em; white-space: pre-wrap; word-wrap: break-word; max-width: 100%; }

.article .api-spec h2 { margin: 0; }
.article .content .api-spec h2 a { color: #444; }
.article .api-spec h3 { color: #444; font-size: 16px; margin: 24px 0 16px 0; padding-top: 20px; }
.article .api-spec .description { font-size: 14px; }
.article .api-spec .api-no-parameters,
.article .api-spec .api-no-response { color: #666; font-size: 14px; }
.article .api-spec .method-list { list-style: none; padding-left: 0; margin-top: 12px; }
.article .api-spec .method-list code { font-size: 13px; }
.article .api-spec .method-list > li { border-top: 1px solid #d8dee4; padding: 12px 0; }
.article .api-spec .method-list h4 { display: inline; color: #444; font-family: "Source Code Pro", Menlo, Monaco, monospace; font-weight: bold; margin: 0px 0; }
.article .api-spec .method-list h4 span { color: #596171; }
.article .api-spec .method-list { line-height: 1.5; }
.article .api-spec .method-list .api-property-type { color: #596171; font-size: 12px; padding-left: 5px; }
.article .api-spec .method-list .api-property-create-required { color: #B13600; font-weight: bold; font-size: 13px; padding-left: 5px; }
.article .api-spec .method-list .api-property-description { display: block; font-size: 14px; margin: 6px 0; }
.article .api-spec .method-list .method-list { border: 1px solid #ccc; border-radius: 12px; }
.article .api-spec .method-list .method-list li { padding: 12px 20px; }
.article .api-spec .method-list .method-list li:first-child { border-top: none; }

.article details.typescript summary { cursor: pointer; margin-left: 7px; }
.article details.typescript summary:hover { color: #3178c6; }
.article details.typescript summary span::before { content: ""; display: inline-block; width: 16px; height: 16px; background-image: url("/developers/icons/typescript.svg"); background-size: contain; background-repeat: no-repeat; margin-bottom: -3px; margin-right: 6px; margin-left: 3px; }

.grid-list { display: grid; grid-template-columns: repeat(2, 1fr); gap: 18px; list-style: none; padding: 0; margin: 0; }
.grid-list li { background-color: #fefefe; border: 1px solid #e6e6e6; border-radius: 12px; display: flex; align-items: center; overflow: hidden; }
.grid-list li a { align-items: center; color: #333!important; display: flex; font-weight: bold; height: 100%; justify-content: start; padding: 20px;  text-decoration: none; width: 100%; }
.grid-list li a svg { margin-right: 16px; width: 24px; height: 24px; flex-shrink: 0; }
.grid-list li:hover { border-color: #5f943d; }

#what-is-meergo + p { color: #777; font-size: 1.2em; }
.get-meergo{ background: #f9f6f1; font-family: monospace; font-weight: bold; padding: 1rem; }
.get-meergo .meergo-path { color: #d18c00; }
.get-meergo:before { content: '$'; padding-right: .5rem; }

.page-support h1 { margin: 1em auto 1em auto; text-align: center; }
.page-support .support { display: flex; font-size: 1rem; margin: 0 auto; max-width: 800px;  }
.page-support .support > div { flex-basis: 0; flex-grow: 1; padding: 0 3rem; text-align: center; }
.page-support .support > div:first-child { border-right: 1px solid #aaa; }
.page-support .support h2 { margin-bottom: 0; }
.page-support .support h2 + p { color: #666; margin-bottom: 1rem; margin-top: 0; }
.page-support .support .channel { align-items: center; color: #000; display: flex; margin: 1.5rem 0 0 1rem; width: 100%; }
.page-support .support .channel > :first-child { text-align: center; width: 6rem; }
.page-support .support .channel a { color: #222; }
.page-support .support .channel.github-discussions svg { height: 5rem; width: 5rem; }

code.language-jinja {
    color: rgb(136, 136, 136);
}

.hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-name, .hljs-selector-tag, hljs-section, .hljs-title { font-weight: normal; }
pre code { font-size: .9rem; }

footer { border-top: 1px solid #dcdee0; }
.index footer { border-top: none; }
footer > div { display: flex; padding-top: .6rem; }
footer > div > * { align-self: flex-end; }
footer ul { display: flex; flex: 1; flex-wrap: wrap; list-style: none; }
footer ul li { line-height: 2; padding: 0 1rem; }
footer ul li a { color: #e2e9ee; }
footer ul li a:hover { color: #e6a62f; }
footer .company { flex: 2; text-align: right; }

@media screen and (max-width:1152px) {
    .index .benchmark .allocations { top: 5rem; }
}

@media screen and (max-width:1023px) {
    nav.top { height: auto; padding: 1rem 0; }
    nav.top ul  { margin-bottom: 0; }
    nav.top li { line-height: 2; padding: .4rem 1rem; }
    nav.top li.playground { display: none; }
    nav.top .logo { margin-left: 1rem; font-size: 0; }
    nav.top .github-logo { position: absolute; right: .8rem; top: 1rem; }

    .index body > section.benchmark { padding: 3rem 5rem 1rem 5rem; }
    .index body > section.benchmark h2 span { display: block; font-size: 1.5rem; }
    .page-benchmarks section.benchmark { padding: 10px 30px 20px 30px; }
    .benchmark h2 { font-size: 1.5rem; }
    .benchmark .allocations { position: static; margin-top: 1.5rem; font-size: .8em; }
    .benchmark .bar { max-width: 80%; }
    .benchmark span.time { font-size: 14px; }

    h1, .article h1 { font-size: 2rem; }
    .index .why h2 { font-size: 1.5rem; }
    .index body > section.benchmark > div:first-child    { display: block; margin-bottom: 0; position: static; }
    .index body > section.benchmark > div:first-child h2 { font-size: 1.8rem; }
    .index body > section.benchmark > div:first-child a  { float: none; }

    pre code { font-size: .8rem; }

    .page-support .support { display: block; }
    .page-support .support > div { margin: 2rem 0; }
    .page-support .support > div:first-child { border: none; }
    .page-support .support .channel { margin-left: 0; }

    .article aside { margin: 1rem 0; }
    .article aside button { background: #f4f6f8; border: 0; cursor: pointer; display: block; font-size: 14px; font-weight: bold; line-height: 19px; padding-right: 40px; padding: 12px; text-align: left; width: 100%; }
    .article 
    .article aside nav { display: none; padding: 0 1rem; }
    .article aside.expanded nav { display: block; }
    .article aside ul a { font-size: .9rem; }
    .article article > .wrap { display: block; padding-top: 1em; }
}

@media only screen and (max-width: 767px) {

    nav.top ul { margin: 1rem auto; padding: 0; text-align: center; }

    .index header { margin: 1rem; }
    .index header .logo { display: none; }
    .index header section { width: auto; }
    .index header h1 { font-size: 5rem; }
    .index header h2 { font-size: 1.6em; }
    .index header h3 { font-size: 1.2em; }

    .index body > section { padding: 0 2rem; }

    .cols-2 > div { width: auto; }

    .index body > section.benchmark { padding: 1rem; }
    .benchmark, .benchmark + .benchmark { padding: 0; width: auto; }

    .get-meergo { font-size: .9rem; }

    footer { font-size: 0.8rem; text-align: center; }
    footer ul { padding-left: 0; }

}

:root {
    --microtip-transition-easing: lenear;
    --sidebar-width: 280px;
    --header-height: 50px;
    --mobile-header-height: 80px;
    --border-primary: #e6e6e6;
    --bg-primary: #fff;
    --main-width: 1200px;
    --table-of-content-width: 200px;
}

body > article {
    overflow: unset!important;
}

body > article > .wrap {
    display: flex!important;
    max-width: unset!important;
    padding: 0!important;
}

article aside {
    margin-right: 0!important;
    width: var(--sidebar-width)!important;
    min-width: var(--sidebar-width) !important;
    border-right: 1px solid var(--border-primary);
    margin-top: 0!important;
    padding-left: 15px;
}

article aside nav,
.table-of-content {
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

article aside nav {
    padding-right: 30px;
    max-height: 100vh;
}

article aside ul {
    margin: 0;
}

article aside nav > ul {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

article aside nav > ul div {
    padding: 0.3rem 1.5rem!important;
    margin-bottom: 0px !important;
    margin-top: 5px!important
}

article aside nav > ul > li:first-child > div {
    padding: 0!important;
    margin-top: 0!important;
}

article aside ul a {
    padding: 0.25rem 1.5rem!important;
    margin: 0!important;
}

article aside ul li.sidebar-expandable a {
    position: relative;
}

article aside ul li.sidebar-expandable a::before {
  content: '';
  font-size: 12px;
  background-image: url('../images/chevron-right.svg');
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
}

article aside ul li.sidebar-expandable a.selected::before {
    background-image: url('../images/chevron-right-white.svg')!important;
    transform: rotate(90deg) translateX(-7px);
}

article aside ul li.sidebar-expandable.selected a::before {
    background-image: url('../images/chevron-right.svg');
    transform: rotate(90deg) translateX(-7px);
}

aside nav ul li.sidebar-expandable + ul {
    display: none;
    padding-left: 1rem;
}

aside nav ul li.sidebar-expandable.selected + ul {
    display: block;
}

body > article > .wrap > .main {
    width: 100%;
}

body > article > .wrap > .main > .content {
    max-width: var(--main-width);
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: unset;
}

.header {
    border-bottom: 1px solid var(--border-primary);
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding-left: 30px;
    position: sticky;
    top: 0;
    background-color: var(--bg-primary);
    z-index: 90;
}

.header .sections {
    display: block;
    margin: 0!important;
}

.header .sections,
.header .sections > a:first-child {
    padding-left: 0;
}

.sidebar-button {
    border-radius: 5px;
}

.table-of-content {
    position: fixed;
    text-align: right;
    margin-top: calc(var(--header-height) + 30px);
    max-height: calc(100vh - var(--header-height));
    left: calc(var(--sidebar-width) + var(--main-width));
    width: var(--table-of-content-width);
    padding-left: 10px;
}

.table-of-content__title {
    margin-bottom: 7px;
    font-size: 15px;
}

.table-of-content a {
    display: block;
    margin-bottom: 7px;
    color: #555;
    font-size: 13px;
    cursor: pointer;
    transition: color .3s;
}

.table-of-content a:hover {
    color: #4f46e5;
}

.article .api-spec .api-request-box code {
    width: unset!important;
}

.article .api-spec .spec {
    column-gap: 50px;
    grid-template-columns: 45% calc(55% - 50px);
}

.article .api-spec:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.article pre {
    overflow-x: unset;
}

@media screen and (max-width: 1700px)  {

    .table-of-content {
        display: none;
    }

}

@media screen and (max-width: 1024px) {

    .article article > .wrap {
        display: block!important;
    }

    article aside {
        width: 100% !important;
        margin-top: var(--header-height) !important;
        padding: 10px 30px !important;
        background-color: var(--bg-primary)!important;
        border-bottom: 1px solid var(--border-primary);
        z-index: 99;
    }

    article aside nav {
        max-height: unset!important;
    }

    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 20px;
        font-size: 13px;
        justify-content: center;
        background-color: var(--bg-primary)!important;
        border: 0;
        margin-top: 5px;
    }

    .header .sections > a {
        padding-left: 0!important;
        padding-right: 0!important;
        margin: 0 10px!important;
    }

}

@media screen and (max-width: 768px) {

    .article .api-spec .spec {
        display: block!important;
    }

}

@media screen and (max-width: 480px) {

    .header {
        height: var(--mobile-header-height);
    }

    .header .sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7px;
    }

    .header .sections > a {
        padding-bottom: 3px!important;
    }

    article aside {
        margin-top: var(--mobile-header-height)!important;
    }

}
