.ConnectorConfirmation {
    min-height: 100vh;
    padding-top: 50px;
}

.ConnectorConfirmation .content {
    max-width: 800px;
    margin: auto;
    padding: 50px 0;
    text-align: center;
}

.ConnectorConfirmation .logo {
    width: fit-content;
    margin: auto;
}

.ConnectorConfirmation .logo img {
    max-width: 100px;
    height: auto;
    margin: auto;
}

.ConnectorConfirmation .title {
    margin-top: 20px;
}

.ConnectorConfirmation .confirmation {
    margin-top: 10px;
}

.ConnectorConfirmation .btn {
    margin-top: 20px;
}
