@keyframes events-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes loading-ellipsis {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.connection-events {
	display: grid;
	align-items: start;
	grid-template-columns: 45% 50%;
	gap: 50px;
}

.connection-events__events {
	background-color: var(--bg-primary);
	border-radius: var(--radius);
	box-shadow: var(--sl-shadow-large);
}

.connection-events__heading {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 20px 30px;
	border-bottom: 1px solid var(--border-primary);
}

.connection-events__title {
	min-height: 100%;
	display: flex;
	gap: 10px;
	align-items: baseline;
}

.connection-events__event-list-body {
	max-height: 500px;
}

.connection-events__event {
	border-left: 5px solid transparent;
}

.connection-events__omitted {
	padding: 5px;
	text-align: center;
	opacity: 0.8;
	font-size: 13px;
	display: flex;
	justify-content: center;
	gap: 5px;
	background-color: var(--bg-gray);
	border-bottom: 1px solid var(--border-primary);
	color: var(--sl-color-neutral-400);
}

.connection-events__event-list {
	min-height: 100%;
}

.connection-events__no-events {
	padding: 30px;
	text-align: center;
	font-size: 14px;
	opacity: 0.7;
}

.connection-events__loading-ellipsis > span {
	animation: loading-ellipsis 1000ms infinite;
	animation-fill-mode: both;
}

.connection-events__ellipsis2 {
	animation-delay: 200ms !important;
}

.connection-events__ellipsis3 {
	animation-delay: 400ms !important;
}

.connection-events__event-list-body {
	overflow: auto;
}

.connection-events__event:first-child {
	border-top: 0;
}

.connection-events__event {
	padding: 18px 20px;
	border-top: 1px solid var(--border-primary);
	font-size: 13px;
	display: flex;
	gap: 10px;
	cursor: pointer;
	animation: events-fade-in 500ms;
	animation-fill-mode: both;
	transition: background-color 500ms;
}

.connection-events__event:hover,
.connection-events__event--selected {
	background-color: var(--sl-color-primary-50);
}

.connection-events__event:hover,
.connection-events__event:hover .connection-events__event-name,
.connection-events__event:hover .connection-events__event-time,
.connection-events__event--selected,
.connection-events__event--selected .connection-events__event-name,
.connection-events__event--selected .connection-events__event-time {
	color: var(--sl-color-primary-950);
}

.connection-events__event--selected:last-child {
	border-bottom-left-radius: var(--radius);
}

.connection-events__event-name {
	font-weight: 600;
}

.connection-events__event-time {
	width: 100%;
	text-align: right;
}

.connection-events__panel {
	border: 1px solid var(--border-primary);
	border-radius: var(--radius);
	min-height: 585px;
	padding: 30px;
}

.connection-events__panel--unselected {
	display: flex;
	justify-content: center;
	align-items: center;
}

.connection-events__select-event-message {
	width: 350px;
	text-align: center;
}

.connection-events__select-event-title {
	font-size: 19px;
	margin-top: 8px;
	margin-bottom: 3px;
}

.connection-events__select-event-description {
	font-size: 14px;
	opacity: 0.7;
}

.connection-events__full-event {
	animation: events-fade-in 500ms;
}
