.accordion .accordion__details {
	overflow: hidden;
	opacity: 0;
	transition:
		max-height 0.2s,
		opacity 0.2s;
}

.accordion--open .accordion__details {
	opacity: 1;
	transition:
		max-height 0.5s,
		opacity 0.5s;
}
