.connectionSettings {
	max-width: 1200px;
}

.connectionSettings sl-tab-group::part(nav) {
	flex-basis: 250px;
}

.connectionSettings sl-tab-group::part(body) {
	overflow: visible;
}

.connectionSettings sl-tab-group > sl-tab-panel::part(base) {
	padding-left: 90px;
}

.connectionSettings .generalSettings .nameField,
.connectionSettings .generalSettings .enablingField,
.connectionSettings .generalSettings .storageField,
.connectionSettings .generalSettings .compressionField,
.connectionSettings .generalSettings .websiteHostField {
	margin-bottom: 30px;
}

.connectionSettings .generalSettings .nameField {
	max-width: 280px;
}

.connectionSettings .generalSettings .storageField,
.connectionSettings .generalSettings .compressionField {
	max-width: fit-content;
	min-width: 280px;
}

.connectionSettings .generalSettings .websiteHostField {
	max-width: 350px;
}

.connectionSettings .generalSettings .updateButton {
	display: block;
	max-width: 200px;
	margin-left: auto;
}

.connectionSettings .panelTitle {
	font-size: 21px;
	font-weight: 600;
	margin-bottom: 30px;
}

.connectionSettings .settings-form {
	grid-area: form;
}

.connectionSettings .keys {
	margin-bottom: 30px;
}

.connectionSettings .keys .flex {
	margin-bottom: 15px;
}

.connectionSettings .keys .key {
	border: 1px solid var(--border-primary);
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 0 20px;
	font-size: 14px;
	border-radius: 5px;
	min-width: 320px;
}

.connectionSettings .keyCopy {
	display: flex;
	align-items: center;
	gap: 5px;
}

.connectionSettings .keyCopy > sl-input {
	width: 400px;
}

.connectionSettings .keyCopy > sl-input::part(base) {
	font-size: 14px;
}

.connectionSettings .clipboardInput {
	margin-top: 10px;
}

.connectionSettings .storageWrapper {
	display: flex;
	justify-content: left;
	gap: 15px;
}

.connectionSettings .snippetCopy {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-top: 10px;
}

.connectionSettings .snippetCopy > sl-input {
	width: 400px;
}

.connectionSettings .snippetCopy > sl-input::part(base) {
	font-size: 14px;
}

.connectionSettings .dangerZone .label {
	font-weight: 600;
}

.connectionSettings .dangerZone .description {
	font-size: 14px;
}

.connectionSettings .deletionDialog .buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin: 15px 0;
}
