.workspace-add__title {
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 30px;
}

.workspace-add__warehouse-settings {
	margin-top: 30px;
}

.workspace-add__warehouse-settings > * {
	margin-bottom: 30px;
}

.workspace-add__buttons {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.workspace-add__add-button {
	min-width: 200px;
}
