.connectionSettings {
	max-width: 1200px;
}

.connectionSettingsSpinner {
	display: block;
	margin: auto;
	margin-top: 50px;
}

.connectionSettings sl-tab-group::part(nav) {
	flex-basis: 250px;
}

.connectionSettings sl-tab-group::part(body) {
	overflow: visible;
}

.connectionSettings sl-tab-group > sl-tab-panel::part(base) {
	padding-left: 90px;
}

.connectionSettings .generalSettings .nameField,
.connectionSettings .generalSettings .enablingField,
.connectionSettings .generalSettings .strategyField,
.connectionSettings .generalSettings .modeField,
.connectionSettings .generalSettings .websiteHostField,
.connectionSettings .generalSettings .displayedPropertyField {
	margin-bottom: 30px;
}

.connectionSettings .generalSettings .nameField {
	max-width: 280px;
}

.connectionSettings .generalSettings .strategyField,
.connectionSettings .generalSettings .modeField {
	max-width: fit-content;
}

.connectionSettings .modeField .modeValueIcon {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.connectionSettings .modeField sl-option[aria-selected='true'] .modeIcon {
	color: var(--text-onaccent);
}

.connectionSettings .modeField sl-option .modeIcon {
	display: flex;
	align-items: center;
}

.connectionSettings .generalSettings .websiteHostField {
	max-width: 350px;
}

.connectionSettings .generalSettings .updateButton {
	display: block;
	max-width: 200px;
	margin-left: auto;
}

.connectionSettings .panelTitle {
	font-size: 21px;
	font-weight: 600;
	margin-bottom: 30px;
}

.connectionSettings .connector-ui {
	grid-area: form;
}

.connectionSettings .keys {
	margin-bottom: 30px;
}

.connectionSettings .keys .flex {
	margin-bottom: 15px;
}

.connectionSettings .keys .key {
	border: 1px solid var(--border-primary);
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 0 20px;
	font-size: 14px;
	border-radius: 5px;
	min-width: 320px;
}

.connectionSettings .keyCopy {
	display: flex;
	align-items: center;
	gap: 5px;
}

.connectionSettings .keyCopy > sl-input {
	width: 400px;
}

.connectionSettings .keyCopy > sl-input::part(base) {
	font-size: 14px;
}

.connectionSettings .clipboardInput {
	margin-top: 10px;
}

.connectionSettings .snippetCopy .editorWrapper {
	margin-top: 10px;
	width: 100%;
}

.connectionSettings .snippetCopy .editorWrapper * {
	font-size: 14px !important;
}

.connectionSettings .snippetCopy sl-copy-button {
	margin-top: 20px;
	width: 100%;
}

.connectionSettings .snippetCopy sl-copy-button::part(button) {
	gap: 8px;
	background-color: var(--color-primary-600);
	color: var(--text-onaccent);
	padding: 12px 20px;
	margin-left: auto;
}

.connectionSettings .snippetCopy sl-copy-button::part(button)::after {
	content: 'Copy';
}

.connectionSettings .dangerZone .label {
	font-weight: 600;
}

.connectionSettings .dangerZone .description {
	font-size: 14px;
}
