.connection-settings {
	max-width: 1200px;
}

.connection-settings__spinner {
	display: block;
	margin: auto;
	margin-top: 50px;
}

.connection-settings sl-tab-group::part(nav) {
	flex-basis: 200px;
}

.connection-settings sl-tab-group::part(body) {
	overflow: visible;
}

.connection-settings sl-tab-group > sl-tab-panel::part(base) {
	padding-left: 50px;
}

.connection-settings--small-viewport sl-tab-group::part(nav) {
	flex-basis: 0;
}

.connection-settings--small-viewport sl-tab-group::part(base) {
	flex-flow: column;
}

.connection-settings--small-viewport sl-tab-group > sl-tab-panel::part(base) {
	padding-left: 0;
	margin-top: 20px;
}

.connection-settings--small-viewport sl-tab-group::part(tabs) {
	flex-flow: row;
}

.connection-settings__name-field,
.connection-settings__enabling-field,
.connection-settings__strategy-field,
.connection-settings__mode-field,
.connection-settings__website-host-field {
	margin-bottom: 30px;
}

.connection-settings__name-field {
	max-width: 280px;
}

.connection-settings__strategy-field,
.connection-settings__mode-field {
	max-width: fit-content;
}

.connection-settings__mode-value-icon {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.connection-settings__mode-field sl-option[aria-selected='true'] .connection-settings__mode-icon {
	color: var(--text-onaccent);
}

.connection-settings__mode-field sl-option .connection-settings__mode-icon {
	display: flex;
	align-items: center;
}

.connection-settings__website-host-field {
	max-width: 350px;
}

.connection-settings__update-button {
	display: block;
	max-width: 200px;
	margin-left: auto;
}

.connection-settings__panel-title {
	font-size: 21px;
	font-weight: 600;
	margin-bottom: 30px;
}

.connection-settings__keys {
	margin-bottom: 30px;
}

.connection-settings__keys .flex {
	margin-bottom: 15px;
}

.connection-settings__key-copy {
	display: flex;
	align-items: center;
	gap: 5px;
}

.connection-settings__key-copy > sl-input {
	width: 500px;
}

.connection-settings__key-copy > sl-input::part(base) {
	font-size: 14px;
}

.connection-settings__keys-endpoint {
	margin-top: 50px;
}

.connection-settings__keys-endpoint-copy {
	display: flex;
	align-items: center;
	gap: 5px;
}

.connection-settings__keys-endpoint-copy > sl-input {
	width: 500px;
}

.connection-settings__keys-endpoint-copy > sl-input::part(base) {
	font-size: 14px;
}

.connection-settings__keys-endpoint-copy > sl-copy-button {
	position: relative;
	top: 14px;
}

.connection-settings__keys-endpoint-copy .editor-wrapper {
	margin-top: 10px;
	width: 100%;
}

.connection-settings__snippet-copy > div:first-child {
	margin-left: 3px;
	margin-bottom: 8px;
}

.connection-settings__snippet-copy .snippet {
	max-width: 800px;
}

.connection-settings__danger-zone-label {
	font-weight: 600;
}

.connection-settings__danger-zone-description {
	font-size: 14px;
}
