.example {
    background-color: var(--bg-primary);
    padding: 15px 25px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 12px;
}

.example .description {
    opacity: .7;
}