.schema-edit__header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	background-color: var(--bg-primary);
	border-bottom: 1px solid var(--border-primary);
	z-index: 20;
	height: 90px;
}

.schema-edit__header-title {
	font-size: 18px;
}

.schema-edit__header-buttons {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 20px;
}

.schema-edit__header-cancel-button::part(base) {
	min-width: 150px;
}

.schema-edit__header-apply-button::part(base) {
	min-width: 200px;
}

.schema-edit__content {
	padding: 30px 40px;
	margin: auto;
}

.schema-edit sl-button[variant='default']::part(base) {
	background-color: transparent;
}

.schema-edit .grid__nested-rows .grid__row-expand {
	top: 30px;
}

.schema-edit .grid__nested-rows .grid__row--children::before {
	top: 5px;
}

.schema-edit__property-buttons {
	display: flex;
	gap: 10px;
}

.schema-edit__add-property {
	margin-top: 30px;
}

.schema-edit__editable-object-cell {
	display: flex;
	gap: 10px;
	align-items: center;
}

.schema-edit__primary-source {
	display: flex;
	gap: 10px;
	align-items: end;
}

.schema-edit__primary-source .little-logo svg {
	height: 21px;
}

.schema-edit sl-dialog::part(base) {
	padding-left: 0;
}

.schema-edit__queries::part(panel) {
	max-height: calc(100% - 40%);
}

.schema-edit__queries--loading::part(body) {
	text-align: center;
}

.schema-edit__queries-preview {
	background-color: var(--bg-gray);
	padding: 15px;
	border-radius: var(--radius);
}

.schema-edit__queries-buttons {
	margin-top: 30px;
	display: flex;
	justify-content: end;
	gap: 15px;
}

.schema-edit__queries-buttons sl-button:first-child::part(base) {
	padding-left: 30px;
	padding-right: 30px;
}
