.ConnectionAdded .routeContent {
	max-width: 700px;
	margin: auto;
	text-align: center;
}

.ConnectionAdded .Breadcrumbs::part(base) {
	justify-content: center;
}

.ConnectionAdded .addedConnection {
	box-shadow: var(--sl-shadow-small);
	padding: 50px;
	background-color: var(--bg-primary);
	text-align: center;
	border-radius: var(--radius);
}

.ConnectionAdded .addedConnection .logo {
	width: fit-content;
	margin: auto;
}

.ConnectionAdded .addedConnection .logo img {
	max-width: 70px;
	height: auto;
	margin: auto;
}

.ConnectionAdded .addedConnection .logo .unknownLogo {
	background-color: var(--bg-gray);
	color: var(--text-primary);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius);
	margin: 0 auto 30px auto;
	font-size: 22px;
}

.ConnectionAdded .title {
	margin-top: 30px;
	font-weight: 600;
	font-size: 18px;
}

.ConnectionAdded .description {
	margin-top: 10px;
}

.ConnectionAdded .link {
	margin-top: 20px;
}

.ConnectionAdded a {
	font-weight: 600;
}

.ConnectionAdded a,
.ConnectionAdded sl-icon {
	color: var(--color-primary);
	font-weight: 600;
}
