.action.isLoading {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.action.isLoading sl-spinner {
	position: relative;
	bottom: 50px;
}

.action .header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	background-color: var(--bg-primary);
	border-bottom: 1px solid var(--border-primary);
	z-index: 20;
	height: 90px;
}

.action .header .actionTitle {
	display: grid;
	grid-template-columns: 30px 1fr;
	grid-template-areas:
		'logo name'
		'logo description';
	column-gap: 25px;
	align-items: center;
}

.action .header .actionTitle .littleLogo {
	grid-area: logo;
}

.action .header .actionTitle .littleLogo img {
	height: 35px;
}

.action .header .actionTitle .actionName {
	grid-area: name;
}

.action .header .actionTitle .actionTypeDescription {
	font-size: 13px;
	grid-area: description;
}

.action .header .actionTitle .name {
	font-weight: 600;
}

.action .header .actionTitle .name .nameInput {
	max-width: 180px;
	display: inline-block;
	margin: auto;
	margin-bottom: 5px;
}

.action .header .actionTitle .name .nameInput::part(base) {
	font-size: 14px;
}

.action .header .actionTitle .name sl-icon-button {
	font-size: 14px;
}

.action .header .headerButtons {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 20px;
	transition:
		visibility 0.5s,
		opacity 0.5s;
}

.action .header .headerButtons.hidden {
	visibility: hidden;
	opacity: 0;
}

.action .header .headerButtons .cancelAction {
	min-width: 150px;
}

.action .header .headerButtons .saveAction::part(base) {
	min-width: 200px;
}

.action .body {
	max-width: 1200px;
	margin: auto;
	margin-top: 50px;
}

.action .section {
	margin-bottom: 70px;
}

.action .section:last-of-type {
	margin-bottom: 0;
}

.action .nameInput {
	margin: 10px 25px;
}

.action .logical {
	margin: 0 25px 25px 25px;
}

.action .condition {
	display: flex;
	gap: 20px;
	margin: 10px 25px;
}

.action .condition .propertiesItemName {
	font-size: 14px;
	font-weight: 600;
}

.action .condition .propertiesItemName .name {
	font-weight: 400;
	font-size: 13px;
	opacity: 0.7;
}

.action .condition .propertiesItemType {
	font-size: 13px;
	opacity: 0.7;
}

.action .addCondition {
	margin: 10px 25px;
}

.action .propertiesButtons {
	justify-content: center;
	display: flex;
	gap: 30px;
	align-items: baseline;
}

.action .actionTable {
	display: flex;
	align-items: center;
	gap: 30px;
}

.action .mappings .mappingsDisabledAlert {
	margin-bottom: 20px;
}

.action .mappings .mappingsDisabledAlert::part(base) {
	background-color: transparent;
	border: 0;
	color: var(--sl-color-danger-600);
}

.action .mappings .mappingsDisabledAlert::part(icon) {
	padding: 0;
	padding-right: 10px;
}

.action .mappings .mappingsDisabledAlert::part(message) {
	padding: 0;
}

.action .mappings .mappingsDisabledAlert sl-icon {
	color: var(--sl-color-danger-600);
}

.action .specialProperties {
	margin-bottom: 30px;
}

.action .section.mappings .specialProperties {
	border-bottom: 1px solid var(--border-primary);
	padding-bottom: 30px;
}

.action .specialProperties .identityColumn {
	margin-bottom: 20px;
}

.action .specialProperties .timestampColumn {
	display: flex;
	gap: 15px;
}

.action .specialProperties .identityColumn,
.action .specialProperties .timestampColumn .timestamp {
	display: grid;
	justify-content: start;
	gap: 10px;
	align-items: center;
	grid-template-columns: 150px 300px;
}

.action .specialProperties .timestampColumn .format {
	display: flex;
	align-items: center;
	gap: 15px;
	width: 100%;
}

.action .specialProperties .timestampColumn .format .label {
	text-wrap: nowrap;
}

.action .specialProperties .timestampColumn .format sl-select {
	width: 100%;
}

.action .specialProperties .identityColumn .label,
.action .specialProperties .timestampColumn .label {
	font-weight: 600;
	font-size: 13px;
}

.action .specialProperties .identityColumn .label .asterisk {
	color: var(--sl-color-danger-500);
}

.action .mappings .mapping {
	display: grid;
	grid-template-columns: 1fr 30px 1fr;
	gap: 20px;
	align-items: center;
	margin-bottom: 20px;
}

.action .mappings .mapping:last-child {
	margin-bottom: 0;
}

.action .propertiesItemName {
	font-size: 14px;
	font-weight: 600;
}

.action .propertiesItemName .name {
	font-weight: 400;
	font-size: 13px;
	opacity: 0.7;
}

.action .propertiesItemType {
	font-size: 13px;
	opacity: 0.7;
}

.action .mappings .mapping .arrow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.action .mappings .mapping .inputProperty::part(base) {
	font-family: monospace !important;
}

.action .mappings .mapping .inputProperty .propertyIcon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.action .mappings .mapping .inputProperty > sl-icon {
	color: var(--sl-color-danger-500);
	font-size: 9px;
}

.action .mappings .mapping .inputProperty .propertyIcon sl-icon.isRequiredIcon {
	color: var(--sl-color-danger-500);
	font-size: 9px;
}

.action .mappings .mapping .inputProperty .propertyIcon sl-icon.isIdentifierIcon {
	color: var(--sl-color-neutral-500);
	font-size: 19px;
}

.action .mappings .mapping .outputProperty {
	margin-left: var(--mapping-indentation);
	position: relative;
}

/* The output property must be disabled to avoid tab focus but it must not
inherit the disabled style */
.action .mappings .mapping .outputProperty[disabled]::part(base) {
	cursor: default;
	background-color: transparent !important;
	border: 0 !important;
	opacity: 1 !important;
}

.action .mappings .mapping .outputProperty.indented::before {
	content: '';
	display: block;
	position: absolute;
	left: 15px;
	width: 15px;
	height: 15px;
	border-left: 3px solid var(--sl-color-neutral-400);
	border-bottom: 3px solid var(--sl-color-neutral-400);
	top: 40%;
	transform: translateY(-50%) translate(-30px);
	border-bottom-left-radius: 5px;
}

.action .switchToTransformationDropdown sl-menu-item::part(label) {
	font-size: 13px;
	display: flex;
	gap: 5px;
	align-items: center;
}

.action .switchToTransformationDropdown sl-menu-item img {
	max-width: 23px;
	max-height: 23px;
	pointer-events: none;
}

.sectionActions,
.sectionActions sl-menu {
	width: 300px;
}

.sectionActions sl-dropdown,
.sectionActions sl-button,
.sectionActions sl-dropdown::part(popup) {
	width: 100%;
}

.action .transformation .languageDeprecatedAlert {
	margin-top: 15px;
}

.action .transformation .languageDeprecatedAlert::part(base) {
	background-color: transparent;
	border: 0;
	color: var(--sl-color-neutral-600);
}

.action .transformation .languageDeprecatedAlert::part(icon) {
	padding: 0;
	padding-right: 10px;
}

.action .transformation .languageDeprecatedAlert::part(message) {
	padding: 0;
}

.action .transformation .languageDeprecatedAlert sl-icon {
	color: var(--sl-color-danger-600);
}

.action .minimizedTransformation .switchEditorLanguageDropdown > sl-menu {
	display: none;
}

.action .transformation-box {
	border-radius: 20px;
	background-color: var(--bg-primary);
	box-shadow: var(--sl-shadow-small);
	border: 1px solid var(--sl-color-neutral-200);
	height: 100%;
}

.action .transformation-box--mappings {
	background-color: var(--bg-gray);
}

.action .transformation-box__header {
	background-color: var(--bg-primary);
	border-radius: 20px;
	padding: 20px 30px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: var(--sl-color-neutral-500);
	text-transform: capitalize;
	font-size: 13px;
	border-bottom: 1px solid var(--sl-color-neutral-200);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.action .transformation-box__header-title {
	font-size: 15px;
	display: flex;
	gap: 10px;
	align-items: center;
}

.action .transformation-box__header-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.action .transformation-box__header-title img {
	max-height: 25px;
	width: auto;
}

.action .transformation-box__header-icon > sl-icon {
	font-size: 20px;
}

.action .transformation-box__header-buttons sl-icon {
	font-size: 14px;
}

.action .transformation-box__header-buttons img {
	max-height: 18px;
	width: auto;
}

.action .transformation-box__header-buttons sl-button::part(base) {
	padding-left: 10px;
	padding-right: 10px;
}

.action .transformation-box__fullscreen-button::part(base) {
	padding-left: 8px;
	padding-right: 10px;
}

.action .transformation-box__fullscreen-button::part(label) {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 13px;
}

.action .transformation-box__header-buttons sl-button[variant='default']::part(base) {
	background-color: var(--bg-gray);
}

.action .transformation-box__body {
	height: calc(100% - 60px);
}

.action .transformation-box--mappings .transformation-box__body {
	padding: 30px;
}

.action .fullscreenTransformation .transformation-box--mappings .transformation-box__body .mappings {
	padding-bottom: 30px;
}

.action .transformation {
	height: 100%;
}

.action .transformation-box .editorWrapper {
	border-radius: 0;
	box-shadow: none;
	border: 0;
	background-color: transparent;
}

.action .fullscreenTransformation {
	position: fixed;
	left: 0;
	top: 90px;
	width: 100%;
	height: calc(100% - 90px);
	visibility: hidden;
	opacity: 0;
	transform: scale(0);
	margin: 0;
	transition:
		visibility 0.5s,
		opacity 0.5s;
	background-color: var(--bg-primary);
}

.action .fullscreenTransformation.isOpen {
	transition:
		visibility 0.5s,
		opacity 0.5s,
		transform 0.5s;
	visibility: visible;
	opacity: 1;
	transform-origin: bottom center;
	transform: scale(1);
}

.action .fullscreenTransformation sl-split-panel {
	height: 100%;
}

.action .fullscreenTransformation .panelTitleWrapper {
	background-color: var(--bg-gray);
	height: 60px;
	border-top: 1px solid var(--border-primary);
	border-bottom: 2px solid var(--border-primary);
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 10;
	gap: 10px;
}

.action .fullscreenTransformation .property {
	border-bottom: 1px solid var(--border-primary);
	padding: 12px 20px;
	position: relative;
	user-select: none;
}

.action .fullscreenTransformation .property:last-child {
	border-bottom: 0;
}

.action .fullscreenTransformation .property .name {
	font-family: monospace;
	width: fit-content;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 3px;
}

.action .fullscreenTransformation .property .name .label {
	margin-left: 3px;
	font-size: 13px;
	opacity: 0.7;
	font-family: monospace;
}

.action .fullscreenTransformation .property .type {
	opacity: 0.7;
	font-size: 13px;
	font-family: monospace;
}

.action .fullscreenTransformation .property sl-icon {
	cursor: pointer;
	transition: transform 0.3s;
	color: var(--sl-color-neutral-400);
	font-size: 13px;
}

.action .fullscreenTransformation .property .requiredIcon {
	color: var(--sl-color-danger-500);
	font-size: 9px;
	margin-right: 5px;
}

.action .fullscreenTransformation .property .identifierIcon {
	color: var(--sl-color-neutral-500);
	font-size: 19px;
}

.action .fullscreenTransformation .property.expand > .parentProperty > sl-icon {
	transform: rotate(90deg);
}

.action .fullscreenTransformation .property .parentProperty {
	display: flex;
	align-items: center;
	gap: 8px;
}

.action .fullscreenTransformation .property .parentProperty > .property {
	padding: 0;
	width: 100%;
}

.action .fullscreenTransformation .property .subProperties .property {
	border: 0;
	padding: 10px 20px 5px 45px;
}

.action .fullscreenTransformation .property .copyProperty {
	position: relative;
	left: 2px;
	color: var(--sl-color-neutral-500);
	font-size: 14px;
}

.action .fullscreenTransformation .property .copyProperty::part(copy-icon),
.action
	.fullscreenTransformation
	.property.expand:hover
	> .parentProperty
	> .property
	> .name
	> .copyProperty::part(copy-icon) {
	visibility: hidden;
}

.action .fullscreenTransformation .property:hover > .name > .copyProperty::part(copy-icon) {
	visibility: visible !important;
}

.action
	.fullscreenTransformation
	.property:hover
	> .parentProperty
	> .property
	> .name
	> .copyProperty::part(copy-icon)
	.action
	.fullscreenTransformation
	.property
	> .parentProperty:hover
	> .property
	> .name
	> .copyProperty::part(copy-icon) {
	visibility: visible;
}

.action .fullscreenTransformation .leftPanel {
	position: relative;
	max-height: 100%;
	overflow: auto;
}

.action .fullscreenTransformation .inputPanel,
.action .fullscreenTransformation .outputPanel {
	max-height: 100%;
	overflow: hidden;
}

.action .fullscreenTransformation .inputPanel .panelContent,
.action .fullscreenTransformation .outputPanel .panelContent {
	height: calc(100% - 60px);
	overflow-y: scroll;
}

.action .fullscreenTransformation .inputPanel .samples .sampleWrapper::part(base) {
	border: 0 !important;
	border-radius: 0 !important;
}

.action .fullscreenTransformation .inputPanel .samples .sampleWrapper::part(header) {
	padding: 0;
}

.action .fullscreenTransformation .inputPanel .samples .sampleWrapper::part(summary-icon) {
	display: none;
}

.action .fullscreenTransformation .inputPanel .samples .sample {
	padding: 15px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: background-color 500ms;
	width: 100%;
	user-select: none;
}

.action .fullscreenTransformation .inputPanel .samples .sample .sampleName {
	display: flex;
	align-items: start;
	gap: 15px;
}

.action .fullscreenTransformation .inputPanel .samples .sample .sampleID {
	font-size: 13px;
	font-weight: 600;
	position: relative;
	top: 2px;
}

.action .fullscreenTransformation .inputPanel .samples .sample .sampleEmail {
	font-size: 13px;
	opacity: 0.7;
}

.action .fullscreenTransformation .inputPanel .samples .sample .executeButton {
	visibility: hidden;
}

.action .fullscreenTransformation .inputPanel .samples .sample.lastExecuted .executeButton,
.action .fullscreenTransformation .inputPanel .samples .sample:hover .executeButton {
	visibility: visible;
}

.action .fullscreenTransformation .inputPanel .samples .sample .executeButton sl-icon-button {
	font-size: 21px;
	color: var(--sl-color-primary-700);
}

.action .fullscreenTransformation .inputPanel .samples .sample.open,
.action .fullscreenTransformation .inputPanel .samples .sample:hover {
	background-color: var(--sl-color-primary-50);
	color: var(--sl-color-primary-950);
}

.action .fullscreenTransformation .inputPanel .samples .sample.open .sampleFullName,
.action .fullscreenTransformation .inputPanel .samples .sample:hover .sampleFullName,
.action .fullscreenTransformation .inputPanel .samples .sample.open .sampleID,
.action .fullscreenTransformation .inputPanel .samples .sample:hover .sampleID,
.action .fullscreenTransformation .inputPanel .samples .sample.open .sampleEmail,
.action .fullscreenTransformation .inputPanel .samples .sample:hover .sampleEmail {
	color: var(--sl-color-primary-950);
}

.action .fullscreenTransformation .inputPanel .samples .sampleSource {
	background: #fafbff;
	padding: 20px;
}

.action .fullscreenTransformation .inputPanel .noSample,
.action .fullscreenTransformation .inputPanel .queryExecution {
	color: var(--sl-color-neutral-200);
	padding: 20px;
	text-align: center;
}

.action .fullscreenTransformation .inputPanel .noSample sl-icon,
.action .fullscreenTransformation .inputPanel .queryExecution sl-icon {
	font-size: 40px;
	color: var(--sl-color-neutral-400);
}

.action .fullscreenTransformation .inputPanel .noSample .noSampleText,
.action .fullscreenTransformation .inputPanel .queryExecution .queryExecutionText {
	display: block;
	max-width: 280px;
	margin: 10px auto 0 auto;
	color: var(--sl-color-neutral-500);
}

.action .fullscreenTransformation .inputPanel .eventListener .body {
	margin-top: 0;
}

.action .fullscreenTransformation .inputPanel .queryExecution .queryExecutionButton {
	margin-top: 15px;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList {
	min-height: 100%;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .noEvents {
	padding: 30px;
	text-align: center;
	font-size: 14px;
	opacity: 0.7;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .loadingEllipsis > span {
	animation: loading-ellipsis 1000ms infinite;
	animation-fill-mode: both;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .loadingEllipsis .ellipsis2 {
	animation-delay: 200ms;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .loadingEllipsis .ellipsis3 {
	animation-delay: 400ms;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .discarded .count {
	padding-right: 5px;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .body {
	overflow: auto;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .event:first-child {
	border-top: 0;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .event {
	padding: 18px 20px;
	border-top: 1px solid var(--border-primary);
	font-size: 13px;
	display: flex;
	gap: 10px;
	cursor: pointer;
	animation: events-fade-in 500ms;
	animation-fill-mode: both;
	transition: background-color 500ms;
	user-select: none;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .event:hover,
.action .fullscreenTransformation .inputPanel .eventListener .eventList .event.open {
	background-color: var(--sl-color-primary-50);
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .event:hover,
.action .fullscreenTransformation .inputPanel .eventListener .eventList .event:hover .name,
.action .fullscreenTransformation .inputPanel .eventListener .eventList .event:hover .time,
.action .fullscreenTransformation .inputPanel .eventListener .eventList .event.open,
.action .fullscreenTransformation .inputPanel .eventListener .eventList .event.open .name,
.action .fullscreenTransformation .inputPanel .eventListener .eventList .event.open .time {
	color: var(--sl-color-primary-950);
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .event.open:last-child {
	border-bottom-left-radius: var(--radius);
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .event .name {
	font-weight: 600;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .event .time {
	width: 100%;
	text-align: right;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .event .runButton {
	font-size: 21px;
	color: var(--sl-color-primary-700);
	visibility: hidden;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .event:hover .runButton,
.action .fullscreenTransformation .inputPanel .eventListener .eventList .event.lastExecuted .runButton {
	visibility: visible;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .event .runButton::part(base) {
	padding: 0;
	padding-left: 5px;
}

.action .fullscreenTransformation .inputPanel .eventListener .eventList .eventSource {
	padding: 20px;
	background-color: #fafbff;
}

.action .fullscreenTransformation .outputPanel sl-spinner {
	display: block;
	margin: 15px auto;
}

.action .fullscreenTransformation .outputPanel .outputCode {
	padding: 40px 20px 20px 20px;
	position: relative;
	height: 100%;
}

.action .fullscreenTransformation .outputPanel .outputCode .clearButton {
	position: absolute;
	right: 10px;
	top: 5px;
}

.action .fullscreenTransformation .outputPanel .outputCode .outputSuccess {
	white-space: pre;
	font-family: monospace;
}

.action .fullscreenTransformation .outputPanel .outputCode .outputError {
	white-space: pre-wrap;
	font-family: monospace;
	color: var(--sl-color-danger-600);
}

.action .fullscreenTransformation .outputPanel .outputPlaceholder {
	color: var(--sl-color-neutral-200);
	padding: 20px;
	text-align: center;
}

.action .fullscreenTransformation .outputPanel .outputPlaceholder sl-icon {
	font-size: 40px;
	color: var(--sl-color-neutral-400);
}

.action .fullscreenTransformation .outputPanel .outputPlaceholder .outputPlaceholderText {
	display: block;
	max-width: 280px;
	margin: 10px auto 0 auto;
	color: var(--sl-color-neutral-500);
}

.action .fullscreenTransformation .rightPanel {
	position: relative;
	overflow: auto;
	max-height: 100%;
}

.action .fullscreenTransformation .editorPanel {
	position: relative;
	height: 100%;
}

.action .fullscreenTransformation .editorPanel .transformation-box {
	border-radius: 0;
	box-shadow: none;
	border: 0;
}

.action .fullscreenTransformation .editorPanel .transformation-box__header {
	background-color: var(--bg-gray);
	border-radius: 0;
	height: 60px;
	border-top: 1px solid var(--border-primary);
	border-bottom: 2px solid var(--border-primary);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
}

.action .fullscreenTransformation .editorPanel .transformation-box__header-title {
	transition: opacity 0s;
	opacity: 1;
}

.action .transformation-box.is-fullscreen-animating .transformation-box__header-title {
	transition: opacity 0.2s;
	opacity: 0;
}

.action .fullscreenTransformation .editorPanel .editorWrapper {
	border-radius: 0;
	border: 0 !important;
	height: 100%;
	position: relative;
	box-shadow: none !important;
}

.action .fullscreenTransformation .editorPanel .editorWrapper .editor {
	height: 100% !important;
}

.action .matchingProperties {
	display: grid;
	grid-template-columns: 1fr 100px 1fr;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.action .matchingProperties sl-input::part(form-control-label) {
	font-size: 13px;
}

.action .matchingProperties .equal {
	display: flex;
	justify-content: center;
	align-items: end;
	height: 100%;
	font-size: 30px;
	position: relative;
	right: 1px;
}

.action .queryButtons,
.action .fileButtons {
	margin-top: 44px;
	display: flex;
	gap: 15px;
}

.action .pathInputWrapper {
	position: relative;
	margin-bottom: 20px;
}

.action .completePath,
.action .completePathError {
	position: absolute;
	left: 5px;
	font-family: monospace;
	font-size: 13px;
	margin-top: 8px;
	opacity: 0;
	transition: opacity 0.3s;
}

.action .completePath.visible,
.action .completePathError.visible {
	opacity: 1;
}

.action .completePathError {
	color: var(--sl-color-danger-500);
}

.action .sheetsSelectWrapper {
	display: flex;
	align-items: end;
	justify-content: space-between;
	gap: 20px;
}

.action .sheetsSelect {
	margin-top: 20px;
	width: 100%;
}

.action .sheetsSelect.hideListbox::part(listbox) {
	display: none;
}

.action .sheetsSelectWrapper sl-button {
	min-width: 150px;
}

.action .sheetsError {
	font-size: 13px;
	color: var(--sl-color-danger-500);
	margin-top: 3px;
	font-weight: 600;
}

.action .setSchemaFirst {
	text-align: center;
	font-weight: 600;
}

.action .previewDrawer .grid {
	height: 100%;
	display: block;
}

.action .previewDrawer::part(panel) {
	padding-top: 40px !important;
}

.action .previewDrawer::part(title) {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	line-height: 2;
}

.action sl-drawer sl-spinner {
	display: block;
	margin: auto;
	margin-top: 50px !important;
}
