.alert-dialog::part(panel) {
	position: relative;
	padding: 35px 40px;
}

.alert-dialog::part(title) {
	padding: 0;
	display: none;
}

.alert-dialog::part(header) {
	position: absolute;
	right: 0;
	top: 10px;
}

.alert-dialog::part(body) {
	padding: 0;
	overflow: visible;
}

.alert-dialog__icon {
	font-size: 30px;
	text-align: center;
}

.alert-dialog__icon sl-icon {
	color: var(--alert-color);
}

.alert-dialog__title {
	text-align: center;
	padding: 0 20px;
	font-weight: 600;
	font-size: 18px;
}

.alert-dialog__content {
	padding: 15px 0 30px 0;
	text-align: center;
}

.alert-dialog__pipelines {
	display: flex;
	justify-content: center;
	gap: 15px;
}
