.usersList .routeContent {
	padding: 0;
	min-height: calc(100vh - 140px);
}

.usersList .grid {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	box-shadow: none;
	border-radius: 0;
	border: 0;
}

.usersList .grid::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.usersList .grid::-webkit-scrollbar-thumb {
    background: var(--sl-color-neutral-300);
    border-radius: 5px;
}

.usersList .grid::-webkit-scrollbar-track {
    background: transparent;
}

.usersList .grid .gridHeaderRow {
    border-radius: 0;
}

.usersList .grid .grid .gridRow.last {
    border-radius: 0;
}

.usersList .Toolbar .toggleColumns sl-menu sl-menu-item sl-switch::part(base) {
	font-size: 14px;
	gap: 5px;
}

.usersList .gridContainer {
	min-height: calc(100vh - 140px);
	position: relative;
}

.usersList .gridContainer .grid {
	max-height: calc(100vh - 220px);
	overflow-y: auto;
}

.usersList .gridContainer .grid .noRows, .usersList .gridContainer .grid .loading {
	background-color: var(--bg-gray);
}

.usersList .gridContainer .gridHeaderRow {
	position: sticky;
	top: 0;
	border-bottom: 1px solid var(--sl-color-neutral-200);
}

.usersList .gridContainer .footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
	height: 80px;
    background-color: var(--bg-primary);
	border-top: 1px solid var(--sl-color-neutral-200);
	z-index: 10;
}

.usersList .gridContainer .footer .total {
	display: flex;
	align-items: center;
	gap: 32px;
}

.usersList .gridContainer .footer .total .found {
	position: relative;
}

.usersList .gridContainer .footer .total .found::after {
    content: "";
    width: 2px;
    height: 15px;
    position: absolute;
    background-color: var(--border-primary);
    top: 50%;
    transform: translate(15px, -50%);
}

.usersList .gridContainer .footer .total .gridLimit {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 14px;
}

.usersList .gridContainer .footer .total .gridLimit sl-select::part(control) {
    padding: 10px 0;
    min-width: 150px;
}

.usersList .gridContainer .footer .pagination {
	display: flex;
	align-items: center;
	gap: 10px;
	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
	background-color: var(--bg-gray);
	padding: 10px 25px;
	border-radius: 10px;
}

.usersList .gridContainer .footer .pagination .pages {
	display: flex;
}

.usersList .gridContainer .footer .pagination .pages span {
	margin: 0 5px;
}

.usersList .gridContainer .footer .pagination .previousPage,
.usersList .gridContainer .footer .pagination .nextPage,
.usersList .gridContainer .footer .pagination .firstPage,
.usersList .gridContainer .footer .pagination .lastPage {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
