.Grid {
	display: grid;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: auto;
    overflow-y: hidden;
}

.Grid::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.Grid::-webkit-scrollbar-thumb {
    background: var(--sl-color-neutral-300);
    border-radius: 5px;
}

.Grid::-webkit-scrollbar-track {
    background: transparent;
}

.Grid .GridHeaderCell {
	font-weight: 600;
}

.Grid .noRows,
.Grid .loading {
    text-align: center;
    padding: 120px 30px 170px 30px;
}

.Grid .noRows {
    font-weight: 600;
    opacity: .5;
    display: flex;
    flex-flow: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.Grid .noRows sl-icon {
    font-size: 25px;
}
