.listTile {
	border: 1px solid var(--sl-color-neutral-200);
	padding: 18px 25px;
	border-radius: var(--radius);
	background-color: var(--bg-primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.listTile.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.listTile .tileContent {
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-areas:
		'icon name'
		'icon description';
	align-items: center;
}

.listTile.disabled:hover {
	background-color: transparent;
}

.listTile .tileIcon {
	grid-area: icon;
}

.listTile .tileIcon sl-icon {
	font-size: 25px;
}

.listTile .tileName {
	grid-area: name;
	font-weight: 600;
	user-select: none;
}

.listTile .tileDescription {
	grid-area: description;
	font-size: 14px;
}

.listTile .tileDescription .disablingReason {
	color: var(--sl-color-danger-600);
}
