.grid__row {
	display: grid;
	grid-template-columns: var(--grid-columns);
	align-items: center;
	border-top: 1px solid #f2f2f2;
}

.grid__row--clickable {
	cursor: pointer;
}

@keyframes rowFadeIn {
	from {
		max-height: 0;
		opacity: 0;
	}
	to {
		opacity: 1;
		max-height: 200px;
	}
}

.grid__row[data-animation='fade-in'] {
	animation: rowFadeIn 1s;
}
