.StatusMessage {
    border-radius: 5px;
    margin: 30px 0;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.StatusMessage.error {
    background-color: var(--bg-red);
}

.StatusMessage.error .text {
    color: var(--color-red);
}

.StatusMessage.success {
    background-color: var(--bg-green);
}

.StatusMessage.success .text {
    color: var(--color-green);
}

.StatusMessage.warning {
    background-color: var(--bg-yellow);
}

.StatusMessage.warning .text {
    color: var(--color-yellow);
}

.StatusMessage.info {
    background-color: var(--bg-neutral);
}

.StatusMessage.info .text {
    color: var(--color-neutral);
}

.StatusMessage .text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: var(--text-primary);
}

.StatusMessage .action {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.StatusMessage .action > * {
    cursor: pointer;
}
