.ConnectionProperties  {
	min-height: 100vh;
	position: relative;
}

.ConnectionProperties.selectedProperty .head,
.ConnectionProperties.selectedProperty .properties .title,
.ConnectionProperties.selectedProperty .properties .addUsedProperty,
.ConnectionProperties.selectedProperty .transformations .saveButton,
.ConnectionProperties.selectedProperty .transformations .addTransformation {
	opacity: 0.2;
}

.ConnectionProperties.selectedProperty .arrows .arrow.selected {
	opacity: 1;
}

.ConnectionProperties .TransformationNode .handle {
	visibility: hidden;
}

.ConnectionProperties.selectedProperty .TransformationNode .handle {
	visibility: visible;
}

.ConnectionProperties.selectedProperty .arrows .arrow.selected > div > div {
	width: 25px !important;
	height: 25px !important;
	border-radius: 100% !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	background-color: var(--color-primary-500) !important;
	color: var(--text-onaccent) !important;
	font-size: 21px !important;
	cursor: pointer !important;
}

.ConnectionProperties.selectedProperty .properties .ConnectionProperty.selected sl-icon-button {
	visibility: hidden;
}

.ConnectionProperties .saveButton {
	min-width: 180px;
}

.ConnectionProperties .main {
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas:
		'usedInputProperties transformations usedOutputProperties';
	gap: 30px;
	padding-bottom: 30px;
	align-items: center;
}

.ConnectionProperties .main .properties {
	height: 100%;
}

.ConnectionProperties .main .properties .title {
	text-align: center;
	margin-bottom: 10px;
}

.ConnectionProperties .main .properties.usedInputProperties {
	grid-area: usedInputProperties;
}

.ConnectionProperties .main .properties .addUsedProperty {
	display: block;
	margin: auto;
	width: 200px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.ConnectionProperties .main .transformations {
	grid-area: transformations;
	text-align: center;
	/* TODO(@Andrea): remove this workaround after issue #134 of 'react-xarrows' is solved */
	min-height: calc(100vh + 1px);
}

.ConnectionProperties .main .transformations .saveButton {
	width: 200px;
}

.ConnectionProperties .main .transformations .transformation {
	position: relative;
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px auto;
}

.ConnectionProperties .main .transformations .transformation .TransformationNode {
	z-index: 10;
}

.ConnectionProperties .main .transformations .transformation sl-dialog {
	z-index: 20;
}

.ConnectionProperties .main .transformations .editorWrapper ~ div {
	width: 100%;
}

.ConnectionProperties .main .transformations .editorWrapper {
	width: 100%;
	height: 200px;
	padding: 15px;
	border-radius: var(--radius);
	background-color: var(--bg-primary);
}

.ConnectionProperties .main .transformations .editorWrapper * {
	font-family: monospace !important;
}

.ConnectionProperties .main .transformations .addTransformationButtons {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
	margin-top: 50px;
}

.ConnectionProperties .main .transformations .addTransformation::part(base) {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	position: relative;
}

.ConnectionProperties .main .transformations .addTransformation sl-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}

.ConnectionProperties .main .predefinedTransformationsDialog .predefinedTransformations {
	max-width: 500px;
	margin: auto;
}

.ConnectionProperties .main .predefinedTransformationsDialog .predefinedTransformation {
	display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-areas:
        "icon name"
        "icon description";
    border: 1px solid var(--border-primary);
    align-items: center;
    text-align: left;
    column-gap: 20px;
	padding: 10px 25px;
	cursor: pointer;
}

.ConnectionProperties .main .predefinedTransformationsDialog .predefinedTransformation.selected {
	color: var(--color-primary-600)
}

.ConnectionProperties .main .predefinedTransformationsDialog .predefinedTransformation:first-child {
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

.ConnectionProperties .main .predefinedTransformationsDialog .predefinedTransformation:last-child {
	border-top: 0;
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.ConnectionProperties .main .predefinedTransformationsDialog .predefinedTransformation sl-icon {
	grid-area: icon;
	margin: auto;
	font-size: 23px;
}

.ConnectionProperties .main .predefinedTransformationsDialog .predefinedTransformation .name {
	grid-area: name;
	font-weight: 600;
}

.ConnectionProperties .main .predefinedTransformationsDialog .predefinedTransformation .description {
	grid-area: description;
	font-size: 14px;
}

.ConnectionProperties .main .transformations sl-dialog .removeTransformation {
	min-width: 150px;
	opacity: 0.8;
}

.ConnectionProperties .main .transformations sl-dialog .removeTransformation:hover {
	opacity: 1;
}

.ConnectionProperties .main .properties.usedOutputProperties {
	grid-area: usedOutputProperties;
}

.ConnectionProperties .arrows {
	position: relative;
}

.ConnectionProperties .arrows .arrow > div {
	width: 100%;
}

.ConnectionProperties > sl-dialog::part(panel) {
	height: 400px;
	padding: 5px 0px 30px 10px;
}

.ConnectionProperties > sl-dialog .dialogProperties {
	margin-top: 20px;
}

.ConnectionProperties > sl-dialog .dialogProperties .property {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
	align-items: center;
	height: 35px;
}

.ConnectionProperties > sl-dialog .dialogProperties .property.used {
	opacity: 0.5;
	text-decoration: line-through;
}

.ConnectionProperties > sl-dialog .dialogProperties .property.used sl-icon-button {
	display: none;
}

.ConnectionProperties > sl-dialog .dialogProperties .property:first-child {
	padding-top: 0;
}

.ConnectionProperties > sl-dialog .dialogProperties .property:last-child {
	padding-bottom: 0;
}

.ConnectionProperties .selectedPropertyMessage {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - 220px);
	height: 70px;
	z-index: 20;
	background-color: var(--bg-primary);
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 17px;
	box-shadow: var(--sl-shadow-small);
	padding: 0 150px;
}

.ConnectionProperties .selectedPropertyMessage span {
	color: var(--color-primary-600);
	font-weight: 600;
}

.ConnectionProperties .selectedPropertyMessage .removeSelectedProperty {
	position: absolute;
	right: 40px;
	min-width: 180px;
}

.ConnectionProperties .newTransformationDialog::part(title) {
	text-align: left;
}

.ConnectionProperties .newTransformationDialog::part(body) {
	padding: 20px 30px 50px 30px
}

.ConnectionProperties .newTransformationDialog .choices {
	max-width: 400px;
	margin: auto;
	text-align: left;
}

.ConnectionProperties .newTransformationDialog .choices sl-radio {
	margin-bottom: 10px;
}

.ConnectionProperties .newTransformationDialog .choices sl-radio:last-child {
	margin-bottom: 0;
}


