.actionTitle  {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-areas:
        "logo name"
        "logo description";
    column-gap: 25px;
    align-items: center;
}

.actionTitle .LittleLogo {
    grid-area: logo;
}

.actionTitle .LittleLogo img {
    height: 35px;
}

.actionTitle .actionName {
    grid-area: name;
}

.actionTitle .actionTypeDescription {
    font-size: 13px;
    grid-area: description;
}

.actionTitle .name {
    font-weight: 600;
}

.actionTitle .name .nameInput {
    max-width: 180px;
    display: inline-block;
    margin: auto;
    margin-bottom: 5px;
}

.actionTitle .name .nameInput::part(base) {
    font-size: 14px;
}

.actionTitle .name sl-icon-button {
    font-size: 14px;
}

.saveAction::part(base) {
    min-width: 200px;
}

.action .section {
    margin-bottom: 70px;
}

.action .section:last-of-type {
    margin-bottom: 0;
}

.action .nameInput {
    margin: 10px 25px;
}

.action .logical {
    margin: 0 25px 25px 25px;
}

.action .condition {
    display: flex;
    gap: 20px;
    margin: 10px 25px;
}

.action .condition .propertiesItemName {
    font-size: 14px;
    font-weight: 600;
}

.action .condition .propertiesItemName .name {
    font-weight: 400;
    font-size: 13px;
    opacity: .7;
}

.action .condition .propertiesItemType {
    font-size: 13px;
    opacity: .7;
}

.action .addCondition {
    margin: 10px 25px;
}

.action .propertiesButtons {
    justify-content: center;
    display: flex;
    gap: 30px;
    align-items: baseline;
}

.action .mappings .mapping {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.action .mappings .mapping:last-child { 
    margin-bottom: 0;
}

.action .mappings .propertiesItemName {
    font-size: 14px;
    font-weight: 600;
}

.action .mappings .propertiesItemName .name {
    font-weight: 400;
    font-size: 13px;
    opacity: .7;
}

.action .mappings .propertiesItemType {
    font-size: 13px;
    opacity: .7;
}

.action .mappings .mapping .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action .mappings .mapping .inputProperty sl-icon {
    color: var(--sl-color-danger-500);
    font-size: 9px;
}

.action .mappings .mapping .outputProperty {
    margin-left: var(--mapping-indentation);
    position: relative;
}

/* The output property must be disabled to avoid tab focus but it must not
inherit the disabled style */
.action .mappings .mapping .outputProperty[disabled]::part(base) {
    cursor: default;
    background-color: var(--sl-input-background-color)!important;
    border: solid var(--sl-input-border-width) var(--sl-input-border-color)!important;
    opacity: 1!important;
}

.action .mappings .mapping .outputProperty.indented::before { 
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border-left: 3px solid var(--sl-color-neutral-400);
    border-bottom: 3px solid var(--sl-color-neutral-400);
    top: 40%;
    transform: translateY(-50%) translate(-30px);
    border-bottom-left-radius: 5px;
}

.action .transformation {
    display: grid;
    grid-template-columns: .2fr 1fr .2fr;
    gap: 30px;
}

.action .transformation .inputProperties, .action .transformation .outputProperties {
    display: flex;
    flex-flow: column;
    justify-content: start;
    gap: 10px;
}

.action .transformation .property {
    border: 1px solid var(--border-primary);
    font-size: 14px;
    border-radius: var(--radius);
    padding: 10px;
    position: relative;
}

.action .transformation .property .name {
    font-weight: 600;
}

.action .transformation .property .type {
    opacity: .7;
}

.action .transformation .property .removeProperty {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    background-color: var(--bg-gray);
}

.action .transformation .property .removeProperty::part(base) {
    border: 0;
    padding: 0;
}

.action .transformation .property .removeProperty::part(base):hover { 
    background-color: transparent!important;
}

.action .transformation .property .removeProperty::part(label) { 
    padding: 0;
}

.action .transformation .property .removeProperty sl-icon {
    color: var(--sl-color-danger-600);
}

.inputSchemaDialog::part(panel),
.outputSchemaDialog::part(panel) {
    max-height: 600px;
	padding: 5px 0px 30px 10px;
}

.inputSchemaDialog .property,
.outputSchemaDialog .property {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputSchemaDialog .property:last-child,
.outputSchemaDialog .property:last-child {
    margin-bottom: 0;
}

.inputSchemaDialog .property.used .name,
.outputSchemaDialog .property.used .name {
    font-weight: 600;
}

.inputSchemaDialog .property.used .name,
.outputSchemaDialog .property.used .name {
    text-decoration: line-through;
}

.inputSchemaDialog .property .type,
.outputSchemaDialog .property .type {
    opacity: .7;
    font-size: 14px;
}

.action .queryButtons {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.action .setSchemaFirst {
    text-align: center;
    font-weight: 600;
}

.action .previewDrawer .StyledGrid,
.action .previewDrawer .StyledGrid .Grid {
    height: 100%;
    display: block;
}

.action .previewDrawer::part(panel) {
    padding-top: 40px!important;
}

.action .previewDrawer::part(title) {
    padding-top: 0!important;
    padding-bottom: 0!important;
    line-height: 2;
}
