.ConnectionBlock {
    background-color: var(--bg-primary);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: var(--sl-shadow-small);
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    min-height: 60px;
    position: relative;
    z-index: 1;
    font-size: 14px;
    border: 1px solid var(--sl-color-neutral-200);
}

@keyframes soft-scale {
    0% { transform: scale(1); }
    100% { transform: scale(.85); }    
}

.ConnectionBlock.new {
    animation: soft-scale 600ms;
    animation-direction: alternate;
    animation-iteration-count: 4;
}

.ConnectionBlock > .flex {
    width: 100%;
}

.ConnectionBlock .name {
    transform: translateY(1px);
}

.ConnectionBlock > a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    z-index: 1;
}
