.Schemas {
	min-height: 100vh;
}

.Schemas .routeContent {
	max-width: 1500px;
	margin: auto;
	margin-top: -160px;
}

.Schemas .routeContent .title {
	font-weight: 600;
}

.Schemas .routeContent .bar {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin: 40px 0;
	align-items: baseline;
}

.Schemas .routeContent .bar sl-select {
	width: fit-content;
	min-width: 250px;
	max-width: 350px;
	border: 0;
}

.Schemas .routeContent .bar sl-select::part(control) {
	background-color: var(--bg-transparent);
	color: var(--text-onaccent);
	border: 0;
}

.Schemas .routeContent .bar .saveButton {
	width: 200px;
}

.Schemas .routeContent .editorWrapper {
	width: 100%;
	height: 600px;
	padding: 30px;
	background-color: var(--bg-primary);
	border-radius: var(--radius);
	box-shadow: var(--sl-shadow-small);
}

.Schemas .routeContent .editorWrapper * {
	font-family: monospace !important;
}
