.ConnectionProperty {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 15px 25px;
    margin-bottom: 15px;
    border-radius: var(--radius);
    box-shadow: var(--sl-shadow-x-small);
    overflow-wrap: anywhere;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    overflow: clip;
    border: 2px solid var(--bg-primary);
    z-index: 10;
}

.ConnectionProperty.selected {
	opacity: 1!important;
	background-color: var(--color-primary-600);
	color: var(--text-onaccent);
    border: 2px solid var(--color-primary-600);
}

.ConnectionProperty .text .primary {
    font-weight: 600;
}

.ConnectionProperty .text .secondary {
    font-size: 13px;
    padding-left: 7px;
}

.ConnectionProperty .text .type {
    font-size: 13px;
    opacity: .7;
}

.ConnectionProperty sl-icon-button::part(base) {
	padding: 0;
}

.ConnectionProperty .handle {
    position: absolute;
    width: 12px;
    height: 15px;
    background-color: var(--sl-color-neutral-400);
    cursor: pointer;
}

.ConnectionProperty.input .handle {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    right: -4px;
}

.ConnectionProperty.output .handle {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    left: -4px;
}